extends layout

block prepend title
	| My account on

block info
	h1
		button.left: span.fa.fa-arrow-left
		span My account
	form#profile
		label Username
			input(disabled,value='lorem-user')
		label Email
			input(disabled,value='lorem@ipsum.net')
		label Picture
			.combo: button
				img(src='http://lorempixel.com/48/48/people/1')
				| Change Gravatar
		label Email notifications
			.combo
				button Yes
				button.off No
		label
			.combo
				button.default Save account
		

