html(ng-app='scrollbackApp' ng-init=" scopeObj = #{JSON.stringify(responseObj)}; ")
	head
	meta(charset="utf-8")
	meta(http-equiv="X-UA-Compatible",content="IE=edge")
	title
		block title
			| Scrollback
	meta(name="viewport",content="width=device-width")
	link(rel="stylesheet",href="/dummy.css")
	link(rel="stylesheet",href="//fonts.googleapis.com/css?family=Open+Sans:300,800|Source+Code+Pro:300")
	link(rel="stylesheet",href="//netdna.bootstrapcdn.com/font-awesome/4.0.1/css/font-awesome.css")
	block styles

		body(ng-controller="messageController")
		#meta
			a#logo scrollback
			#user: block user
				a: img.face(src='{{scopeObj.gravatar}}')	
			#info 
				ng-view
			#foot: block foot
				| Scrollback is a product of Askabt Pte Ltd.
				| We respect your privacy. 
		#body
			block body 
				#fixed(when-scrolled-up="loadMoreUp()" when-scrolled-down="loadMoreDown()")
					ul
						li(ng-repeat="i in items")  
							{{i.id.from}}: {{i.id.text}}
				form#compose
					span lorem-user:
			block scripts
				script(src='http://code.jquery.com/jquery.min.js')
				script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular.min.js')
				script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular-route.min.js')
				script(src='/sdk/controller.js')
				script(src='/sdk/viewcontroller.js')
				script(src='/sdk/app.js')
				script.
					//- $('.collapse,#meta').on('click', function() {
					//- 	$(this).toggleClass('expanded');
					//- });