extends layout

block prepend title
	| The Amazing Room on

block info
	.room.selected
		h1
			span The Amazing Room
			button.right: span.fa.fa-info
		p#description  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ut pulvinar risus. Integer porta ac libero quis vulputate.
	.room
		h1
			span An Ordinary Room
			button.right: span.fa.fa-info
		p#description  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ut pulvinar risus. Integer porta ac libero quis vulputate.
	.room
		h1
			span Another Ordinary Room
			button.right: span.fa.fa-info
		p#description  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ut pulvinar risus. Integer porta ac libero quis vulputate.
