extends layout

block prepend title
        | The Amazing Room on

block info
  h1
    a(href="#rooms")
        button.left: span.fa.fa-arrow-left
    span #{room.id} 
    button.right: span.fa.fa-sign-out
  p#description.collapse  #{room.desc || "This room does not have a description yet!"}
  #members 
    each avatar in memberGravatars
        a: img.face.present(src='#{avatar}')

