html(ng-app='scrollback')
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible",content="IE=edge")
    title
      block title
        | Scrollback
    meta(name="viewport",content="width=device-width")
    link(rel="stylesheet",href="/dummy.css")
    link(rel="stylesheet",href="//fonts.googleapis.com/css?family=Open+Sans:300,800|Source+Code+Pro:300")
    link(rel="stylesheet",href="//netdna.bootstrapcdn.com/font-awesome/4.0.1/css/font-awesome.css")
    block styles
  body
    #meta(ng-controller="mainController")
      a(href="/")#logo scrollback
      #user: block user
        a: img.face(src='https://s.gravatar.com/avatar/7af99a09a2a182a118b262cf365cd7df')
      #info: block info 
      ng-view
      #foot: block foot
        | Scrollback is a product of Askabt Pte Ltd.
        | We respect your privacy.
    #body
      block body
        #messages
          | There are no messages in this room yet 
        form#compose
          span lorem-user:
    block scripts
      script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.3/angular.min.js')
      script(src='http://code.jquery.com/jquery.min.js')
      script(src='/app.js')
      script(src='/controller.js')
      script(src='/factory.js')
      script.
        $('.collapse,#meta').on('click', function() {
          $(this).toggleClass('expanded');
        });