div(ng-controller="meController")
	h1(ng-init="inLogin = true")
		a(href="#room")
			button.left: span.fa.fa-arrow-left
		span My account
	form#profile
		label Username
			input(ng-model="displayNick")
		label
			button.default(type="button",ng-click="personaLogin('hi2')") Sign IN/UP
		label
			button.default(type="button",ng-click="nickChange('hi')") Change
