div(ng-controller="meController")
	h1(ng-init="inLogin = true")
		a(href="#room")
			button.left: span.fa.fa-arrow-left
		span My account
	form#profile(ng-submit="nickChange()")
		label Username
			input(ng-model="displayName")
		label
			button.default(type="button",ng-click="personaLogin()") Sign IN/UP
			.combo
				button.default(type="button",ng-click="nickChange()") Change