extends layout

block prepend title
        | The Amazing Room on

block info
  h1
    a(href="rooms")
        button.left: span.fa.fa-arrow-left
    span #{room.name}
    button.right: span.fa.fa-sign-out
  p#description.collapse  #{room.description}
  #members 
    
    each avatar in #{memberGravatars}
        a: img.face.present(src='avatar')
    
   
