*~

.*
!.gitignore
!.jscs.json
!.jshintrc

*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.komodoproject
*.map
*.appcache
*.bundle.js
*.min.js

lib-cov
pids
logs
dump
data
results

node_modules
bower_components

myConfig.js
client-config.js

/ircClient/myConfig.js
/ircClient/Data
/test/config.js
/public/s/styles/lace
/public/s/styles/dist
/public/s/scripts/lib
/public/s/tmp/*
/mocha-output-selenium.json
/mocha-output-unit.json
/public/s/client.phonegap.html
/public/sb.js
/xunit-mocha.xml
/public/s/client.phonegap.html
/patchup-room
