*~
.DS_Store
.sass-cache

*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.komodoproject
*.map
*.appcache
*.bundle.js
*.min.js

lib-cov
pids
logs
dump
data
results

node_modules
bower_components

myConfig.js
client-config.js

public/s/styles/lace
public/s/styles/dist
public/s/scripts/lib
ircClient/Data
xunit.xml
public/t/coverage-*.html
/ircClient/myConfig.js
/test/config.js
/xunit-mocha.xml
