module.exports = {
	
	core: {
		uid: 1000, // uid of user 
		name: "scrollback" //name of process 
	},
	mysql: {
		host     : 'localhost',
		user     : 'scrollback',
		password : 'scrollback',
		//debug    :true         ,// to print more debuging information
		database : 'scrollback'
	},
	http: {
		https: {  //https config 
			key: "ssh-cert/server.key",//sever key
			cert: "ssh-cert/server.crt",//cert 
			ca: "ssh-cert/int.crl",//intermediate cert
			port: 443 //port for https
		},
		host: "example.scrollback.io",
		port: 80,
		home: "public", // the directory containing static files
		time: 60000,
		limit: 30,
		
	},
	redis:{ //redis config
		host: "example.scrollback.io",
		port: 6379,
		db:0
	},
	email:{
		"auth" : { 
			"user" : "userid",
			"pass" : "pass"
		}
	},
	threader: {
		host : "example.scrollback.io",
		port : 12345
	},
	plugins: [
		"usernameban",
		"auth",
		"wordban",
		"originban",
		"repeatban",
		"ratelimit",
		"threader1",
		"loginrequired",
		"members",
		"http",
		"irc",
		"email",
		"room",
		"rooms",
		"roomauth",
		"roomvalidation",
		"message",
		"messages",
		"occupants"
	],
	xmpp: {
		host: "example.scrollback.io" // unused
	},
	irc: {
		nick: 'scrollback', // nickname of the bot
		hangTime: 60000     // timeout before disconnecting (ms)
	},
	facebook: {
		
	},
	github: {
		
	},
	google: {
		
	}
}
