module.exports = {
	
	core: {
		uid: 1000,
		name: "scrollback"
	},
	mysql: {
		host     : 'localhost',
		user     : 'scrollback',
		password : 'scrollback',
		//debug    :true         ,
		database : 'scrollback'
	},
	http: {
		https: {
			key: "ssh-cert/server.key",
			cert: "ssh-cert/server.crt",
			ca: "ssh-cert/int.crl",
			port: 443
		},
		host: "example.scrollback.io",
		port: 80,
		home: "public", // the directory containing static files
		time: 60000,
		limit: 30,
		
	},
	redis:{
		host: "kamal.scrollback.io",
		port: 6379,
		db:0
	},
	plugins: [
		"usernameban",
		"auth",
		"wordban",
		"originban",
		"repeatban",
		"ratelimit",
		"threader2",
		"loginrequired",
		"member",
		"http",
		"irc"
	],
	xmpp: {
		host: "example.scrollback.io" // unused
	},
	irc: {
		nick: 'scrollback', // nickname of the bot
		hangTime: 60000     // timeout before disconnecting (ms)
	},
	facebook: {
		
	},
	github: {
		
	},
	google: {
		
	}
}
