// mozilla stuff

.embed .title-bar {
    background-position: 0 0,0 0,0 0!important;
    background-color: #00539f!important;
    background-image: url(https://developer.cdn.mozilla.net/media/redesign/img/header-background.png),url(https://developer.cdn.mozilla.net/media/redesign/img/blueprint.png),url(https://developer.cdn.mozilla.net/media/redesign/img/mdn-header-gradient.png)!important;
    background-repeat: repeat,repeat,repeat-x!important;
    color: #fff!important;
    fill: #fff!important;
}

.embed .room-title {
    text-indent: -9999em!important;
    white-space: nowrap!important;
    background-image: url(https://developer.cdn.mozilla.net/media/redesign/img/logo_sprite.svg?2014-01)!important;
    background-position: 0 -28px!important;
    background-repeat: no-repeat!important;
    background-size: 140px auto!important;
    width: 140px!important;
}