extends /layout


block append styles
	style.
		.form{
			margin-top: 25px;
			margin-bottom: 25px;
			padding-bottom: 10px;
			border-bottom: 1px solid #404040;
		}
		.heading{
			border-bottom: 1px solid #404040;
		}
		.row{
			margin-top: 15px;
			margin-bottom: 15px;
		}
block content
	div(class="container heading")
		h1	Add the banned origins here.
	div(class="container clearfix form")
		div(class="box span12 row")
			div(class="container")
				div(class="box span4")
					span Rate Limit:
		div(class="box span12 row")
			div(class="container")
				div(class="box span4")
					span Time:
				div(class="box span4")
					input(type="text")
		div(class="box span8")
			div(class="container")
				div(class="box span4",style="float: right")
					button	Set
	div(class="container")
		p.break.after This is to set the Maximun number of messages the user can send in a channel in the given window of time.
