script.
	$(document).ready(function() {
		var id = "!{id}";
		pluginPackager.push(function(room) {
			var status = $("input:radio[name=isThreaderEnable]:checked").val()=="true"? true:false;
			room.params = room.params || {};
			room.params.threader = status;
		});
	});
block content
	div(class="pluginBlock")
		div(class="container heading")
			h2	Threader
		div(class="container clearfix")
			div(class="box span12 row",id="result",style="display:none")
			div(class="box span12 row")
				span Enable Threader on your community.
			div(class="box span12 row")
				if params && params.wordban
					input(type="radio", id="enableThreader", value="true", name="isThreaderEnable", class="radio",checked=true)
					label(for="enableThreader",class="radioLabel") Yes
					input(type="radio", id="disableThreader", value="false", name="isThreaderEnable", class="radio")
					label(for="disableThreader",class="radioLabel") No
				else
					input(type="radio", id="enableThreader", value="true", name="isThreaderEnable", class="radio")
					label(for="enableThreader",class="radioLabel") Yes
					input(type="radio", id="disableThreader", value="false", name="isThreaderEnable", class="radio",checked=true)
					label(for="disableThreader",class="radioLabel") No
		div(class="container")
			p.break.after Enabling this will make threads for messages automatically for your community.