@include exports("appbar") {
    .appbar {
        @extend %clearfix;
        @include transition(.3s $easeOutQuad);
        @include dropshadow(2);

        position: relative;
        z-index: 600;
        width: 100%;
        min-height: $bar-height;
        max-height: $bar-height;
        height: $bar-height;
        overflow: hidden;

        &-primary {
            background-color: $accent-color;
            color: $light-color;

            @for $i from 1 through length($palette) {
                .color-#{$i - 1} & { background-color: nth($palette, $i); }
            }
        }

        &-secondary {
            border-top: 1px solid rgba(0, 0, 0, .1);
            background-color: $light-color;
            color: fade-out($dark-color, .3);
        }

        &-logotype {
            float: left;
            margin-left: .75em;
            height: 100%;
            width: 120px;
            background-image: url("/s/assets/logo/scrollback-logo@2x.png");
            background-position: center center;
            background-repeat: no-repeat;
            background-size: 100% auto;
        }

        &-title {
            float: left;
            margin: 0;
            height: 100%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            font-weight: 700;

            &-logotype { background-image: url("/s/assets/logo/scrollback-logo-white@2x.png"); }

            &-primary {
                float: left;
                line-height: $bar-height / 1.2;
                font-size: 1.2em;
                padding: 0 (.25em / 1.2);
            }

            &-secondary {
                float: left;
                line-height: $bar-height;
                font-size: 1em;
                padding: 0 .25em;
            }
        }

        &-bell {
            position: relative;

            &-badge {
                @extend %transition;
                @extend %appearin;
                @include dropshadow(2);

                position: absolute;
                top: .75em;
                right: .75em;
                min-height: 2em;
                min-width: 2em;
                background-color: $error-color;
                color: $light-color;
                border-radius: 50%;
                padding: .5em;
                font-size: .5em;
                font-weight: 700;
                text-align: center;

                &:empty { display: none; }

                .mode-chat & { background-color: rgba(0, 0, 0, 0.6); }
            }
        }

        &-icon {
            $icon-width: $bar-height / 1.5;

            @extend %appearin;

            float: right;
            font-size: 1.5em;
            padding: (1em / 1.5);
            color: inherit;
            height: 100%;
            width: $icon-width;
            min-width: $icon-width;
            max-width: $icon-width;
            line-height: 1;
            border: 0;

            &-left { float: left; }

            &:hover, &:focus {
                background-color: rgba(0,0,0,0.1);
                color: inherit;
            }

            &:active, &.popover-active {
                background-color: rgba(0,0,0,0.2);
                color: inherit;
            }

            &-close { @include icon(close); }

            &-back { @include icon(arrow-left); }

            &-menu { @include icon(hamburger); }

            &-more { @include icon(more); }

            &-grid { @include icon(grid); }

            &-search { @include icon(search); }

            &-people { @include icon(people); }

            &-alert { @include icon(alert); }

            &-maximize { @include icon(maximize); }

            &-follow {
                @include icon(star-empty);

                &.following { @include icon(star); }
            }
        }
    }
}
