@include exports(badge) {
    $badge-messages: #71c8ff;
    $badge-mentions: #ff8d8d;

    .notification-badge {
        position: relative;
        padding: (.5em / .8);
        background-color: $accent-color;
        color: $light-color;
        border-radius: (1em / .8);
        font-size: .8em;
        font-weight: 700;
        line-height: 1;
        cursor: pointer;

        &-messages {
            @include icon(comment);

            background-color: $badge-messages;
        }

        &-mention {
            @include icon(at);

            background-color: $badge-mentions;
        }

        &:before {
            opacity: .8;
            margin-right: (.25em / .8);
        }
    }
}
