@include exports("card") {
    $card-height: 12.5em;

    %ellipsize {
        overflow-x: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .card {
        &-header {
            @include flexbox;
            @include flex-direction(row);
            @include flex-wrap(nowrap);
            @include align-items(center);
            @include align-content(center);

            height: $bar-height;
            border-bottom: 1px solid rgba(0,0,0,0.05);

            &-title {
                @include flex-grow(1);
                @extend %ellipsize;

                font-size: 1em;
                font-weight: 700;
                padding: 0 1em;
                margin: 0;
            }

            &-icon {
                $icon-width: $bar-height / 1.5;

                @include flex-grow(1);

                font-size: 1.5em;
                padding: (1em / 1.5);
                color: inherit;
                height: 100%;
                width: $icon-width;
                min-width: $icon-width;
                max-width: $icon-width;

                &:hover, &:focus {
                    background-color: rgba(0,0,0,0.1);
                    color: inherit;
                }

                &:active {
                    background-color: rgba(0,0,0,0.2);
                    color: inherit;
                }
            }

            &-badge {
                float: right;
                margin-left: (.5em / .8);
                margin-right: (.25em / .8);

                &[data-empty] { display: none; };
            }
        }

        &-content {
            margin: 1em;
            height: $card-height - 6em;
            overflow: hidden;
        }

        &-chat {
            @extend %ellipsize;

            line-height: 2;

            &-nick {
                font-weight: 700;
                opacity: 0.8;

                &:after {
                    content: ":";
                    font-weight: 400;
                    margin: 0 .25em;
                }
            }

            &-message { opacity: 0.6; }
        }
    }

    .room-card {
        .card-header-title {
            font-size: 1.2em;
            padding: 0 (1em / 1.2);
        }
    }
}
