@include exports("card") {
    $card-height: 12.5em;

    %ellipsize {
        overflow-x: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .card {
        @extend %snappy;

        background-color: $light-color;
        border-radius: $roundness;
        border: 0;
        overflow: hidden;
        cursor: pointer;
        box-shadow: 0 .5px 1px rgba(0, 0, 0, .12);

        &:focus, &:hover { box-shadow: 0 1.5px 3px rgba(0, 0, 0, .16); }

        &-actions {
            float: right;
            height: $bar-height;

            &-item { float: left; }
        }

        &-icon {
            $icon-width: $bar-height / 1.5;

            font-size: 1.5em;
            padding: (1em / 1.5);
            color: inherit;
            height: 100%;
            width: $icon-width;
            line-height: 1;
            border: 0;

            &:hover, &:focus {
                background-color: rgba(0, 0, 0, .05);
                color: inherit;
            }

            &:active, &.popover-active {
                background-color: rgba(0, 0, 0, .1);
                color: inherit;
            }

            &-people { @include icon(people); }

            &-history { @include icon(history); }

            &-share { @include icon(share); }

            &-more { @include icon(more); }

            &-configure { @include icon(configure); }

            &-follow {
                &, &.is-follower:active { @include icon(star-empty); }

                &:active, &.is-follower { @include icon(star); }
            }
        }

        &-tag-thread-hidden {
            font-style: italic;
            opacity: .5;
        }

        &-badge {
            @extend %transition;
            @extend %appearin;

            min-height: 2em;
            min-width: 2em;
            background-color: $error-color;
            color: $light-color;
            border-radius: 50%;
            font-size: .8em;
            text-align: center;
            line-height: 2em;
            font-weight: 700;
            margin: 1em .5em;

            &:empty { display: none; };
        }

        &-cover {
            @extend %clearfix;

            height: 12em;
            background-size: 100%;
            background-size: cover;
            background-position: center center;
            color: $light-color;
            box-shadow: inset 12em 50em 0 rgba(85, 85, 85, .5);

            &-logo {
                height: 8em;
                width: 8em;
                margin: 2em;
                background-size: 100%;
                background-size: cover;
                background-position: center center;
                border-radius: 50%;
                box-shadow: 0 0 0 2px rgba(255, 255, 255, .5);
            }

            &-title {
                float: right;
                font-weight: 400;
                margin: (-4em / 1.5) 1em 0 0;
                font-size: 1.5em;
            }

            .card-icon {
                &:hover, &:focus {
                    background-color: rgba(255, 255, 255, .2);
                    color: inherit;
                }

                &:active, &.popover-active {
                    background-color: rgba(255, 255, 255, .3);
                    color: inherit;
                }
            }
        }

        &-content {
            position: relative;
            margin: 1em;
            overflow: hidden;

            &-title {
                text-transform: uppercase;
                font-size: .9em;
                font-weight: 700;
                opacity: .6;
            }

            > h3 {
                @extend %ellipsize;

                font-size: 1em;
                font-weight: 700;
                margin: .25em 1em .75em 0;

                @for $i from 1 through length($palette) {
                    &.color-#{$i - 1} { color: nth($palette, $i); }
                }
            }

            .messages {
                position: relative;
                overflow: hidden;
                height: $card-height - $bar-height;

                &:before, &:after {
                    content: "";
                    display: block;
                    position: absolute;
                    left: 0;
                    width: 100%;
                    height: .5em;
                    z-index: 1;
                }

                &:before {
                    top: 0;
                    background-image: linear-gradient(to top, rgba($light-color, 0), $light-color);
                }

                &:after {
                    bottom: 0;
                    background-image: linear-gradient(to bottom, rgba($light-color, 0), $light-color);
                }

                &-inner {
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 100%;
                    min-height: 100%;

                    > div { margin-bottom: .5em; }
                }
            }

            img:not(.emoji) {
                display: inline-block;
                max-height: 4em;
                margin: .5em 0;
                border-radius: $roundness;
                vertical-align: top;
            }

            .nick {
                display: inline;
                opacity: .5;

                &:after {
                    content: ":";
                    margin-right: .5em;
                }
            }

            .text {
                display: inline;
                color: fade-out($dark-color, .2);

                + .nick {
                    &:after { display: none; }
                }

                p { display: inline; }
            }
        }

        &-room {
            .card-content {
                height: $card-height - $bar-height;

                .text { margin-top: .25em; }

                .nick { margin-bottom: .25em; }

                .text, .nick {
                    @extend %ellipsize;

                    display: block;
                }
            }
        }

        &-thread {
            &-all { padding: 1em; }

            .card-content { margin-bottom: 0; }

            .card-icon { opacity: .8; }

            .card-bottom {
                @extend %clearfix;

                border-top: 1px solid rgba(0, 0, 0, .075);

                &-icon {
                    float: left;
                    font-size: .9em;
                    line-height: 1;
                    opacity: .8;
                    padding: (1em / .9);

                    &:before {
                        font-size: 1.5em;
                        margin-right: .5em;
                        vertical-align: -.1em;
                        opacity: .5;
                    }
                }
            }
        }
    }
}
