@include exports("fab") {
    $fab-size: $bar-height;
    $color: nth($palette, 7);

    .fab {
        @include dropshadow(3);

        position: fixed;
        right: 0;
        bottom: 0;
        margin: (2em / 1.5);
        font-size: 1.5em;
        height: $fab-size / 1.5;
        width: $fab-size / 1.5;
        padding: (1em / 1.5);
        border-radius: 50%;
        background-color: $color;
        color: rgba(0,0,0,0.5);

        &:focus, &:hover {
            background-color: lighten($color, 5%);
            color: rgba(0,0,0,0.5);
        }

        &:active {
            background-color: lighten($color, 10%);
            color: rgba(0,0,0,0.5);
        }
    }
}
