@include exports("fab") {
    $fab-size: $bar-height + .5em;
    $color: nth($palette, 9);

    .fab {
        @extend %transition;
        @include icon(add);
        @include dropshadow(3);

        position: absolute;
        z-index: 500;
        right: 0;
        bottom: 0;
        margin: (3em / 1.5);
        font-size: 1.5em;
        display: block;
        height: $fab-size / 1.5;
        width: $fab-size / 1.5;
        padding: 0.5em 0.8em;
        border: 0;
        border-radius: 50%;
        color: rgba(0,0,0,0.5);

        &:after {
            @extend %transition;

            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            border-radius: 50%;
            z-index: -1;
            box-shadow: inset 0 0 0 $fab-size $color;
        }

        &:focus, &:hover {
            color: rgba(0,0,0,0.5);
            background: none;

            &:after { box-shadow: inset 0 0 0 $fab-size lighten($color, 5%); }
        }

        &:active {
            color: rgba(0,0,0,0.5);
            background: none;

            &:after { box-shadow: inset 0 0 0 $fab-size lighten($color, 10%); }
        }

        @media #{$mobile-break-point} { margin: (2em / 1.5); }

        &-label {
            @include dropshadow(2);

            position: absolute;
            right: 100%;
            margin: 0 1.5em;
            padding: .5em 1em;
            font-size: (.9em / 1.5);
            text-align: center;
            border-radius: $roundness;
            background-color: $info-color;
            color: $light-color;
            white-space: nowrap;
            cursor: default;

            &:after {
                content: "";
                position: absolute;
                left: 100%;
                top: (1em / 1.5);
                width: 0;
                height: 0;
                border-top: (1em / 1.5) solid transparent;
                border-bottom: (1em / 1.5) solid transparent;
                border-left: (1em / 1.5) solid $info-color;
            }
        }
    }
}
