@include exports(footer) {
    .footer {
        width: 100%;
        padding: 1em;
        background-color: darken($light-color, 7%);
        border-top: 1px solid rgba(0, 0, 0, .05);
        color: lighten($dark-color, 20%);

        &:after {
            content: "";
            display: block;
            height: $bar-height;
        }

        &-inner {
            @extend %clearfix;

            max-width: 1000px;
            margin: auto;
        }

        &-playstore {
            display: inline-block;
            border: 0;
            margin: 0.5em 0;
        }

        &-social {
            a {
                border: 0;
                padding: .25em;

                &:first-of-type { padding-left: 0; }

                &:last-of-type { padding-right: 0; }
            }
        }

        h5 {
            font-weight: 700;
            text-transform: uppercase;
            margin-bottom: .5em;
        }

        ul { margin: 0; }

        li {
            list-style: none;
            line-height: 1.8;
        }

        a {
            color: currentColor;
            border-bottom-color: lighten($dark-color, 50%);

            &:hover, &:focus { color: $link-color; }

            &:active { color: darken($link-color, 15%); }
        }
    }
}
