@include exports(footer) {
    .footer {
        @extend %clearfix;

        width: 100%;
        background-color: darken($light-color, 7%);
        border-top: 1px solid rgba(0, 0, 0, .05);
        color: lighten($dark-color, 20%);

        &:after {
            content: "";
            display: block;
            height: $bar-height;
        }

        > ul {
            @extend %clearfix;

            list-style: none;
            margin: 0;

            > li { float: left; }
        }

        &-section { float: left; }

        &-nav {
            a {
                display: inline-block;
                padding: 1em;
                border: 0;
                text-transform: uppercase;
                font-weight: 700;
                color: currentColor;

                &:focus, &:hover { background-color: rgba(0, 0, 0, .05); }

                &:active { background-color: rgba(0, 0, 0, .075); }
            }
        }

        &-social {
            img { display: block; }

            a {
                display: block;
                padding: .75em;
                border: 0;
            }
        }

        &-playstore {
            @extend %clearfix;

            border: 0;
            text-transform: uppercase;
            font-weight: 700;
            color: currentColor;

            > img { padding: .75em; }

            > span {
                padding: 1em;
                float: right;
            }
        }
    }
}
