@mixin gridheader {
    text-transform: uppercase;
    opacity: .8;
    font-size: 1em;
    margin: .5em 1.5em 0 1.5em;
    font-weight: 700;
}

@mixin gridsection {
    @extend %clearfix;

    margin: 0;
    list-style: none;
    background: none;
    border: none;
    box-shadow: none;
    padding: .5em 1em;
}

@mixin griditem {
    @extend %snappy;
    @include dropshadow(1);

    float: left;
    width: 100%;
    max-width: 100%;
    margin: .5em 0;

    &:focus { outline: none; }

    &:focus, &:hover { @include dropshadow(2); }

    &:active { @include dropshadow(1); }

    $item-width: 27em;

    @media only screen and (min-width: #{$item-width * 2}) { margin: .5em; }

    @for $i from 1 through 10 {
        @media only screen and (min-width: #{$item-width * $i}) {
            width: (100% / $i) - 10%;
            width: calc(#{100% / $i} - 1em);
        }
    }

    @media only screen and (min-width: #{$item-width * 11}) { min-width: 21em; }
}

@include exports(gridview) {
    .grid-header { @include gridheader; }

    .grid-section { @include gridsection; }

    .grid-item { @include griditem; }
}
