@include exports("markdown") {
    .markdown-text {
        h1, h2, h3, h4, h5, h6 {
            font-size: 1em;
            padding-bottom: .5em;
            border-bottom: 1px solid darken($light-color, 10%);
        }

        pre, blockquote {
            font-size: 1em;
            margin: 1em 0;
            clear: both;

            &:first-child { margin-top: 0; }

            &:last-child { margin-bottom: 0; }

            &:only-child { margin: 0; }
        }

        blockquote > blockquote:only-child {
            border-left: 0;
            padding-left: 0;
        }

        p {
            margin: 0;

            &:only-child { display: inline; }

            & + p, & + h1, & + h2, & + h3, & + h4, & + h5, & + h6 { margin-top: 1em; }
        }
    }

    .emoji {
       height: 1em;
       width: 1em;
       vertical-align: -.1em;
    }
}
