@include exports("notifications") {
    %notification-button {
        padding: .75em;
        text-transform: uppercase;
        text-align: center;
        font-weight: bold;
        font-size: .75em;

        &, &:focus, &:hover, &:active { color: currentColor; }
    }

    .notification-center {
        min-height: 5.57em;
        max-height: 80%;
        max-height: calc(100% - #{$bar-height * 1.5});
        overflow: auto;

        &:empty:after {
            @extend %fadein;

            content: "Nothing to see here!";
            display: block;
            text-align: center;
            padding: 2em 1em;
            color: fade-out($dark-color, .5);
        }

        &-wrapper {
            background-color: darken($light-color, 5%);
            width: 20em;
            overflow: hidden;
        }

        &-clear {
            @extend %notification-button;

            display: block;
            border: 0;

            &:focus, &:hover { color: $error-color; }

            &:active { color: darken($error-color, 10%); }

            .notification-center:empty + & { display: none; }
        }

        &-item {
            @extend %clearfix;
            @include dropshadow(1);

            display: block;
            background-color: $light-color;
            color: $dark-color;
            margin: .5em;
            border-radius: $roundness;
            max-height: 18em;
            text-overflow: ellipsis;
            overflow: hidden;
            cursor: pointer;
            border: 0;

            &:focus, &:hover, &:active { color: currentColor; }

            &.out { @extend %resizeout; }

            &.read {
                background-color: darken($light-color, 3%);

                strong { color: fade-out($dark-color, .3); }
            }

            &-content {
                float: left;
                padding: .5em .75em;
                width: 85%;
                width: calc(100% - 3em);
                font-size: .9em;
                color: fade-out($dark-color, .5);

                strong {
                    font-weight: 400;
                    color: $dark-color;
                }
            }

            &-close {
                @include icon(close);

                float: right;
                padding: .35em .75em;
                color: fade-out($dark-color, .5);

                &:focus, &:hover { color: $error-color; }

                &:active { color: darken($error-color, 20%); }
            }

            &-actions {
                @extend %clearfix;

                display: block;

                > a {
                    @extend %notification-button;

                    float: left;
                    display: block;
                    width: 50%;
                    border-color: rgba(0, 0, 0, 0.1);
                    border-width: 1px 1px 0 0;
                    border-style: solid;

                    &:focus, &:hover { background-color: rgba(0, 0, 0, .05); }

                    &:active { background-color: rgba(0, 0, 0, .075); }

                    &:last-of-type { border-right: 0; }

                    &:only-of-type { width: 100%; }
                }
            }
        }
    }
}
