@include exports("notifications") {
    .notification-area {
        background-color: darken($light-color, 3%);
        width: 18em;

        &-message {
            @include dropshadow(1);

            background-color: $light-color;
            padding: 0.75em;
            margin: 0.75em;
            border-radius: $roundness;
            cursor: pointer;
        }
    }
}
