@include exports("profile") {
    $card-width: 20em !default;

    .profile-card {
        position: relative;
        height: $card-width;
        width: $card-width;
        overflow: hidden;
        color: $light-color;

        &:after {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-image: linear-gradient(to bottom,
                rgba(0,0,0,0.6) 0%,
                rgba(0,0,0,0) 30%,
                rgba(0,0,0,0.9) 100%
            );
        }

        &:focus, &:hover {
            .profile-avatar { transform: scale(1.1); }
        }
    }

    .profile-avatar { @include transition(.3s); }

    .profile-scrollback-logo {
        display: block;
        position: absolute;
        z-index: 1;
        left: .5em;
        top: .5em;
        right: .5em;
        height: 2.5em;
        background: url(../../img/scrollback-logo.png) no-repeat left center;
    }

    .profile-details {
        @include transition(.3s);

        position: absolute;
        z-index: 1;
        left: 0;
        bottom: .5em;
        right: 5em;
        max-height: 8.5em;
        padding: .5em;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .profile-username { font-weight: 700; }

    .profile-settings {
        @include icon(configure);

        position: absolute;
        z-index: 1;
        right: 0;
        bottom: 0;
        padding: .2em;
        font-size: 2.5em;
        color: inherit;
        opacity: .75;

        &:focus, &:hover, &:active {
            @include transition(.3s);

            transform: rotate(90deg);
            color: inherit;
            opacity: 1;
        }
    }

    .profile-last-seen {
        @extend %clearfix;

        padding: .5em 0;

        > p {
            font-weight: 700;
            opacity: .5;
        }

        &-icon {
            @include icon(clock);

            float: left;
            padding: .33em;
            font-size: 1.5em;
            line-height: 1;
            color: $accent-color;
        }
    }

    .profile-points {
        @include flexbox;
        @include flex-direction(row);
        @include flex-wrap(nowrap);
        @include align-items(flex-start);
        @include align-content(center);

        &-block {
            @include flex-grow(1);

            padding: 1em .5em;
            text-align: center;

            @for $i from 1 through 3 {
                &:nth-of-type(#{$i}) {
                    h3 { color: nth($palette, $i); }
                }
            }

            > h3 {
                font-weight: 700;
                font-size: 1.5em;
                line-height: 1;
                margin: 0;
            }

            > p {
                text-transform: uppercase;
                font-weight: 700;
                font-size: .8em;
                line-height: 1;
                margin: 0;
                opacity: .5;
            }
        }
    }
}
