@include exports(scrollto) {
    .scroll-to {
        @extend %transition;
        @extend %button;
        @extend %button.info;
        @include dropshadow(2);

        z-index: 400;
        left: 50%;
        margin: 1.5em;
        margin-left: -6em;
        width: 12em;
        border-radius: 2em;
        opacity: 0;
        pointer-events: none;
        text-transform: none;

        &:before { margin-right: .5em; }

        &.visible {
            opacity: 1;
            pointer-events: auto;
        }

        &-top { @include icon(up-big); }

        &-bottom { @include icon(down-big); }
    }
}
