@include exports(scrollto) {
    .scroll-to {
        @extend %transition;
        @extend %button;
        @extend %button.info;
        @include dropshadow(2);

        z-index: 400;
        right: 0;
        margin: 2em;
        opacity: 0;
        pointer-events: none;
        text-transform: none;
        padding: .5em 1em;

        &.visible {
            opacity: 1;
            pointer-events: auto;
        }

        &-top { @include icon(up-big); }

        &-bottom { @include icon(down-big); }
    }
}
