@include exports("searchbar") {
    .searchbar {
        @include dropshadow(1);

        position: relative;
        z-index: 100;
        min-height: $bar-height;
        max-height: $bar-height;
        height: $bar-height;
        width: 100%;

        &-input {
            margin: 0;
            height: 100%;
            width: 100%;
            border-radius: 0;
            border-left: none;
            border-right: none;
        }

        &-icon {
            @include icon(search);

            position: absolute;
            top: 0;
            right: 0;
            font-size: 1.5em;
            padding: .67em;
            color: inherit;
            height: 100%;
            opacity: .3;
            line-height: 1;
        }
    }
}
