@include exports(sidebar) {
    $width-sidebar: 20em !default;

    .sidebar {
        @include transition;

        position: absolute;
        top: 0;
        width: $width-sidebar;
        max-width: 70%;
        max-width: calc(100% - 6em);
        height: 100%;
        z-index: 700;
        background-color: $light-color;
        color: $dark-color;
        box-shadow: 0 0 0 transparent;
        will-change: transform;

        &-content {
            max-height: 100%;
            overflow: auto;
            -webkit-overflow-scrolling : touch; /* momentum scrolling in webkit */
        }

        &-left {
            @include transform(translate3d(-100%,0,0));

            left: 0;
            box-shadow: inset -1px 0 0 rgba(0,0,0,0.12), 1px 0 3px rgba(0,0,0,0.06);

            .view-sidebar-left & { @include transform(translate3d(0,0,0)); }

            @media #{$screenxxx} {
                @include transform(translate3d(0,0,0));

                position: relative;
                left: auto;
                top: auto;
                z-index: 100;
            }

            &-footer {
                &:focus, &:hover { background-color: darken($dark-color, 5%); }

                &:active { background-color: darken($dark-color, 10%); }
            }
        }

        &-right {
            @include transform(translate3d(100%,0,0));

            right: 0;
            box-shadow: inset 1px 0 0 rgba(0,0,0,0.12), -1px 0 3px rgba(0,0,0,0.06);

            .view-sidebar-right & { @include transform(translate3d(0,0,0)); }

            @media #{$screenxxxx}  {
                @include transform(translate3d(0,0,0));

                position: relative;
                left: auto;
                top: auto;
                z-index: 100;
            }
        }

        &-overlay {
            @include transition;
            @include transform(translate3d(0,0,0));

            position: absolute;
            z-index: 600;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,0.7);
            opacity: 0;
            pointer-events: none;

            .view-sidebar-left &, .view-sidebar-right & {
                opacity: 1;
                pointer-events: auto;
            }

            @media #{$screenxxx} {
                .view-sidebar-left & { display: none; }
            }
        }

        &-block {
            @extend %clearfix;

            border-bottom: 1px solid rgba(0,0,0,0.1);

            &-item {
                cursor: pointer;

                &:focus, &:hover { background-color: darken($light-color, 5%); }

                &:active { background-color: darken($light-color, 10%); }
            }

            &-content { padding: 1em; }
        }

        &-icon {
            $icon-width: $bar-height / 1.5;

            @extend %appear;

            float: left;
            font-size: 1.5em;
            padding: (1em / 1.5);
            color: inherit;
            height: 100%;
            width: $icon-width;
            min-width: $icon-width;
            max-width: $icon-width;
            line-height: 1;

            &:hover, &:focus, &:active { color: inherit; }

            &-grid { @include icon(grid); }

            &-settings { @include icon(configure); }
        }

        &-label {
            font-weight: 700;
            padding: 1em;
        }
    }
}

