@include exports(sidebar) {
    $width-sidebar: 20em !default;

    .sidebar {
        @include transition;

        position: absolute;
        top: 0;
        width: $width-sidebar;
        max-width: 70%;
        max-width: calc(100% - 6em);
        height: 100%;
        z-index: 700;
        background-color: $light-color;
        color: $dark-color;
        box-shadow: 0 0 0 transparent;
        will-change: transform;

        .swipe-start & { @include transition(.15s); }

        &-content {
            max-height: 100%;
            overflow: auto;
            -webkit-overflow-scrolling : touch; /* momentum scrolling in webkit */
        }

        &-right {
            left: 100%;
            box-shadow: inset 1px 0 0 rgba(0,0,0,0.12), -1px 0 3px rgba(0,0,0,0.06);
            transform: translate3d(0, 0, 0);

            @media #{$screenxxxx}  {
                position: relative;
                left: auto;
                top: auto;
                z-index: 100;
                transform: translate3d(0,0,0);
            }
        }

        &-touch-target {
            position: absolute;
            top: 25%;
            width: 2em;
            height: 50%;
            background-color: transparent;
            overflow: hidden;

            &-right { left: -2em; }
        }

        &-overlay {
            @extend %transition;

            position: absolute;
            z-index: 600;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.7);
            opacity: 0;
            pointer-events: none;
            transform: translate3d(0, 0, 0);

            .view-sidebar-right & { pointer-events: auto; }

            .swipe-start & { @include transition(.15s); }
        }

        &-block {
            @extend %clearfix;

            border-bottom: 1px solid rgba(0,0,0,0.1);

            &-item {
                cursor: pointer;

                &:focus, &:hover { background-color: darken($light-color, 5%); }

                &:active { background-color: darken($light-color, 10%); }
            }

            &-content { padding: 1em; }
        }

        &-icon {
            $icon-width: $bar-height / 1.5;

            @extend %appearin;

            float: left;
            font-size: 1.5em;
            padding: (1em / 1.5);
            color: inherit;
            height: 100%;
            width: $icon-width;
            min-width: $icon-width;
            max-width: $icon-width;
            line-height: 1;
            border: 0;

            &:hover, &:focus, &:active { color: inherit; }

            &-grid { @include icon(grid); }

            &-settings { @include icon(configure); }
        }

        &-label {
            font-weight: 700;
            padding: 1em;
        }
    }
}

