.sidebar {
    $width-sidebar: 20em !default;

    @include transition;

    position: absolute;
    top: 0;
    width: $width-sidebar;
    height: 100%;
    z-index: 700;
    box-shadow: 0 0 0 transparent;
    will-change: transform;

    @media #{$screenxxx} {
        @include transform(translateX(0));

        position: relative;
        left: auto;
        top: auto;
        z-index: 100;
    }

    &-content {
        max-height: 100%;
        overflow: auto;
        -webkit-overflow-scrolling : touch; /* momentum scrolling in webkit */
    }

    &-block { border-bottom: 1px solid rgba(0,0,0,0.1); }

    &-left {
        /*
        * Text becomes too bold on dark background on Mac OS X
        * Antialiased font looks crispier
        */
        @include font-smoothing(antialiased);
        @include transform(translateX(-100%));

        left: 0;
        background-color: $dark-color;
        color: $light-color;

        .view-sidebar-left & {
            @include transform(translateX(0));

            box-shadow: 10px 0 20px rgba(0,0,0,0.19);
        }

        @media #{$screenxxx} {
            &, .view-sidebar-left & { box-shadow: 0 1px 3px rgba(0,0,0,0.12); }
        }
    }

    &-right {
        @include transform(translateX(100%));

        right: 0;
        background-color: $light-color;
        color: $dark-color;

        .view-sidebar-right & {
            @include transform(translateX(0));

            box-shadow: -10px 0 20px rgba(0,0,0,0.19);
        }

        @media #{$screenxxxxx}  {
            &, .view-sidebar-right & { box-shadow: -1px 0 0 rgba(0,0,0,0.06), -1px 0 3px rgba(0,0,0,0.12); }
        }
    }

    &-overlay {
        @include transition;

        position: fixed;
        z-index: 600;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.7);
        opacity: 0;
        pointer-events: none;

        .view-sidebar-left &, .view-sidebar-right & {
            opacity: 1;
            pointer-events: auto;
        }

        @media #{$screenxxx} {
            .view-sidebar-left & { display: none; }
        }
    }
}
