@include exports("suggestions") {
    .suggestions-list {
        @include dropshadow(1);

        position: absolute;
        left: 0;
        margin: 0;
        width: 100%;
        max-height: calc(100vh - 12em);
        overflow: auto;
        list-style: none;
        background-color: $light-color;
        border-top: 1px solid rgba(0, 0, 0, .2);
        z-index: 600;

        &.position-top { bottom: 100%; }

        &.position-bottom { top: 100%; }

        &-item {
            @extend %clearfix;

            padding: .5em;
            cursor: pointer;

            &-avatar {
                float: left;
                height: 36px;
                width: 36px;
                border-radius: 50%;

                &:not([src]) {
                    content: "";
                    background-color: rgba(0, 0, 0, 0.1);
                    background-image: url(/s/assets/avatar-fallback.png);
                    background-size: 100%;
                    background-size: contain;
                }
            }

            &-nick {
                float: left;
                padding: .5em;
                margin-left: .5em;
            }

            &-info {
                float: left;
                padding: .5em 0;
                color: fade-out($dark-color, .5);

                &:before { content: "("; }
                &:after { content: ")"; }
            }

            &:focus, &:hover { color: $info-color; }

            &:active { color: darken($info-color, 20%); }

            &.focus {
                background-color: rgba(0, 0, 0, 0.05);
                color: $info-color;
            }
        }
    }
}
