@include exports("suggestions") {
    .suggestions-list {
        @include dropshadow(1);

        position: absolute;
        left: 0;
        bottom: 100%;
        margin: 0;
        width: 100%;
        max-height: calc(100vh - 12em);
        overflow: auto;
        list-style: none;
        background-color: $light-color;
        border-top: 1px solid rgba(0, 0, 0, .2);
        z-index: 600;

        &-item {
            @extend %clearfix;

            padding: .5em;
            cursor: pointer;

            &-avatar {
                float: left;
                height: 36px;
                width: 36px;
                border-radius: 50%;
                background-color: rgba(0, 0, 0, 0.1);
                background-image: url(/s/assets/avatar-fallback.png);
                background-size: 100%;
                background-size: contain;
            }

            &-nick {
                float: left;
                padding: .5em 1em;
            }

            &:focus, &:hover { color: $info-color; }

            &:active { color: darken($info-color, 20%); }

            &.focus {
                background-color: rgba(0, 0, 0, 0.05);
                color: $info-color;
            }
        }
    }
}
