div.newArchive {
	text-align: center;
	font-size: 24px;
}

a.newArchive {
	text-decoration: none;
	color: black;
}
a.newArchive: visited {
	text-decoration: none;
	color: black;
}
.notificationLink{
	text-decoration: none;
	color: white;
}
.notificationLink hover{
	text-decoration: underline;
}
#notificationBar{
	position: fixed;
	bottom: 0;
	background-color: #3CA;
	height: 30px;
	padding: 0px;
	font-size: 16px;
	line-height: 30px;
	border-radius: 6px;
	padding: 0px 16px;
}

.floatLeft{
	float: left;
}

#nick{
	padding: 0px 16px;	
}
#messageForm {
	margin-top: 24px;
	height:36px;
	padding: 0px;
}

.formItem{
	width: 100%;
	float: left;
	height: 100%;
	padding: 0px;
	margin: 0px;
}

.embed{
	padding: 30px 0px;
}

h2.embed{
	text-align: center;
}

.border{
	border: 1px solid black;
}

.timeRange{
	text-height: 24x;
	font-size: 14px;
	color: #000;
	padding: 0px;
	margin-top: 24px;
}

.timeContent{
	margin-left: 25%;
}

.rangeText {
	padding: 0px 16px;
}



.item{
	min-height: 24px;
	margin-top: 24px;
	position: relative;
	overflow: hidden;
}


.messageList{
	padding: 0px;
	padding-top: 12px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	overflow: hidden;
}

.message{
	padding: 0px 16px;
}

.time{
	text-align: right;
}

.navLink {
	text-decoration: none;
	text-height: 24px;
	
	font-size: 16px;
	
	padding: 8px;
	width: 120px;
	
	background: black;
	color: white;

	border-bottom: 2px solid #3CA;
	margin-right: 16px;
}
.nextbutton{
	float: right;
	text-align: center;
}

.prevbutton{
	float: left;
	text-align: center;
}
.archive-membership-hidden {
	display: none
}
.navigation{
	min-height: 24px;
	width: 100%;
} 	