.paddingSides16{
	padding: 0px 16px;
}
.item{
	min-height: 24px;
	margin-top: 24px;
	position: relative;
}

.message, .nick, .time {
	text-height: 24px;
	font-size: 16px;
	padding: 0px;
}

.messageList{
	padding-top: 12px;
	padding-bottom: 36px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;	
}

.nick{
	float: left;
	width: 160px;
}

.time{
	width: 160px;
	float: right;
}

.message{
	padding-left: 160px;
	padding-right: 160px;
}

.navLink{
	text-decoration: none;
	text-height: 24px;
	font-size: 16px;
	font-weight: bold;
	color: #000;
	padding: 0px;
}

.navLink:hover{
	text-decoration: underline;
}

.navigation{
	min-height: 24px;
}