@import "3l.less";

.normalize();
.reset();
.h5bp();

.selection(#000, #3ca);

html, button, input, select, textarea {
	font: 300 16px/24px "Alegreya", sans-serif;
	color: #222; .box-sizing(border);
}

#backbutton{
	cursor : pointer;
}

body { padding: 0; margin: 0; width: 100%; height: 100%; }

h1 { font-size: 2em; }

@sbgreen: #3ca;
@sbthick: 5px;

h1 button, h1 a.btn {
	margin: 0; padding: 0; display: inline-block;
	border: none; background: transparent; font-decoration: none;
	color: #999; font-size: inherit; line-height: inherit;
	float: right; 
	
	&.left { margin-right: 16px; }
	&.right { margin-left: 16px; }
}

a.noChange:visited{
	text-decoration: none;
	color:white;
}
a.noChange{
	text-decoration: none;
	color:white;
}
.collapse {
	height: 2.8em;
	overflow: hidden;
	.transition(height, 1s);
	position: relative;
	&:after {
		content: '…';
		position: absolute;
		bottom: 0; right: 0;
	}
	&.expanded {
		height: auto;
	}
}

.person {
	width: 48px; padding: 4px 4px 0 4px; background: rgba(255,255,255,0.1); display: inline-block;
	margin: 0px 8px 0 0; position: relative; .box-sizing(content);
	&.online:after { 
		content: ' '; position: absolute; height: 8px; width: 8px; 
		border-radius: 100%; bottom: 14px; right: 2px; background: #3c3;
		border: 2px solid #fff;
	}
	& .name {
		width: 100%; overflow: hidden; line-height: 16px;
		white-space: nowrap; text-overflow: ellipsis; font-size: 12px;
	}
}

img.face {
	height: 48px; width: 48px; vertical-align: top; 
//	border-radius: 100%;
	
	&.present {
//		border-right: 4px solid #0f0;
	}
	&.top{
		float: right;
	}
}

#titleBar{
	position: fixed;
	background: #000; color: #eee;
	z-index: 10;
	width: 38%; 
	border-right: @sbthick solid @sbgreen;
	left: 0; 
	padding-left: 48px;
	padding-right: 48px;
	padding-top: 0;
//	.radial-gradient(#555, #000, 100%, 50%);
	.box-sizing(border);
	.clearfix();
	a#logo {
		display: block; float: left;
		line-height: 48px; cursor: pointer; color: transparent;
		background: url('/img/logo-title.png') no-repeat left center;
		height: 48px; width: 130px; margin-left: -5px;
	}
	#user {
		line-height: 60px; cursor: pointer; float: right;
		position: relative; display: block; 
	}
	#username {
		padding-top: 8px;
		line-height: 14px; text-align: right;
		font-weight: bold; font-size: 12px;
		white-space: nowrap; padding-right: 52px;
	}
	#actionText {
		text-transform: uppercase;
		font: 700 12px/14px "Open Sans"; text-align: right;
		color: #33ccaa; white-space: nowrap; padding-right: 52px;
	}
}

#meta, #body {
	position: fixed;
	min-height: 100%;
}

#meta {
	background: #000; color: #eee;
	width: 38%; 
	border-right: @sbthick solid @sbgreen;
	left: 0; top: 0;
	padding-top: 40px;
	padding-left: 48px;
	padding-right: 48px;
	.radial-gradient(#555, #000, 100%, 50%);
	.box-sizing(border);
	
	#info { clear: both; padding-top: 16px; }
	#foot { font-size: 0.75em; color: #ccc; margin: 2em 0 0 0; display: inline-block;}
}

#userAction{
	display : none;
	padding-top: 10px ;
}

#body {
	left: 38%;
	right: 0;
	bottom: 0;
	overflow: hidden;
	.box-sizing(border);
	.radial-gradient(#fff, #eee, 0%, 50%);
}

//@media screen and (max-width: 640px) {
//	#meta {
//		height: 64px; width: 100%; z-index: 1; display: none;
//		border-right: none; border-bottom: @sbthick solid @sbgreen;
//		overflow: hidden;
//		padding: 4px 48px;
//		.radial-gradient(#555, #000, 50%, 100%);
//		&.expanded { height: 100%; }
//	}
//	#body { left: 0; padding-top: 112px; .radial-gradient(#fff, #eee, 50%, 0%); }
//}

//----- room page -----

@media screen and (max-width: 900px) {
	#titleBar {
		width: 100%; z-index: 5;
		border-right: none;
		border-bottom: @sbthick solid @sbgreen;
		padding-left: 0; padding-right: 0;
		a#logo {
			margin-left: 5px;
		}
		#user{
			padding-right: 0;
		}
	}
	#meta {
		width: 100%; z-index: 1;
		left: -100%;
		overflow: hidden;
		padding-left: 14px;
		&.expanded{
			left: 0;
			padding-top: 60px;
			border-right: none ;
		}
	}
	#body {
		left: 0; 
		.radial-gradient(#fff, #eee, 50%, 0%);
		border-right: none; overflow: hidden;
	}
}

#info {
	#description { margin: 0; }
	#members { margin-top: 24px; overflow: hidden; height: 68px }
	#members h2 { display: inline; margin: 0 8px 0 0; line-height: 48px; }
}

//----- profile page -----

#profile {
	margin: 32px 0; 
	label { display: block; margin-top: 16px; clear: both;
		.clearfix();
		input, select { box-sizing: border-box; display: block; border: none; width: 100%; height: 48px; padding: 0 8px; &[disabled] {background: #ccc;} }
		.group, .combo { float: right; text-align: right; }
		.group button { margin-left: 16px; }
		button {
			border: none; width: auto; line-height: 48px; height: 48px; padding: 0 24px;
			background: #eee; color: #000; text-transform: uppercase; font-weight: 700; font-size: 75%; 
			img { margin: 0 16px 0 -24px; vertical-align: top; }
			&.off { background: #555; color: #fff; }
			&.default { background: #3ca; color: #fff; }
		}
	}
	.buttonGroup{
		display : block; float : right ; margin-top: 16px; clear: both;
		button {
			border: none; width: auto; line-height: 48px; height: 48px; padding: 0 24px;
			background: #eee; color: #000; text-transform: uppercase; font-weight: 700; font-size: 75%; 
			img { margin: 0 16px 0 -24px; vertical-align: top; }
			&.default { background: #3ca; color: #fff; }
		}
	}
	#twitterButton {
		color: #fff;
		float: right;
		border: none; width: 135px; line-height: 48px; height: 48px; padding: 0 12px;
		background: #eee; color: #000; text-transform: uppercase; font-weight: 700; font-size: 75%;
	}
	#twitterTextBox {
		width: 100%;
	}
	.cancel { background: #9FA7A5 !important; color: #fff !important; }
		
	.nickBox {
		display: inline;
		width: 80%;
	}
	.longButton {
		position: relative; display: block; border: none; width: 100%; line-height: 48px; height: 48px; padding: 0 24px;
		text-transform: uppercase; font-weight: 700; font-size: 75%; 
		background: #3ca; color: #fff;
		&:before {
			content: ' '; border-style: solid; color: white;
			border-color: transparent transparent transparent #000;
			border-width: 24px 0 24px 24px;
			display: block; height: 0px;
			position: absolute; left: 0px; top: 0;
		}
	}
}

.fa{
	font-family: FontAwesome, "Open Sans", sans-serif !important;
}

//----- Rooms page -----

.inlineInput{
	display : inline;
	border : none;
	width : 100%;
//	float: left;
}

.inlineTextBox {
	box-sizing: border-box;
	border : none;
	min-height: 48px;
	float: left;
	width: 50%;
	padding: 10px;
}

.room { &.selected { border-right: 32px solid #3ca; } .box-sizing(border); h1 { padding: 0; } margin: 16px -48px; padding: 16px 48px; }

//----- Message stream -----

.scrollback-stream {
	min-height: 100%;
	padding: 24px 24px 24px 32px; background: #eee; position: relative;
}

.scrollback-stream-hidden{
	display: none;	
}

.messageWrapper {
	width:100%;
	font-size: 14px;
	line-height: 15px;
	padding:0px;
	margin:0px;
	bottom:0px;
	right:0px;
	border-top: 2px solid #eee;
	box-shadow: 0 0px 128px 66px #eee;
}

.messageBox{
	width: 100%; height: 48px;
	padding: 0px 8px;
	display: block;
	border: none;
	.border-box;
}
.messageBox:focus { border : none }

#embedScript{
	background: #555;	
	display: none;
	padding: 12px;
	overflow: auto;
	font: 14px/16px "Source Code Pro";
}
#submitButton{
	display:none;
}

.border-box () {
  	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
}

.showPointer {
	cursor : pointer ;
}
.scrollbackButton {
	color: inherit;
}

.buttonGroup{
	display : inline-block;
}

.scrollback-message {
	font: 16px/24px Alegreya; padding: 4px 0 4px 20%; position: relative; display: block;
}

.scrollback-message-nick {
	 float: left; margin-left: -25%; color: #999; padding-right: 0.5em; 
}

.scrollback-message:before{
	content: ' '; background: #999; position: absolute; top: 14px; left: -16px; height: 8px; width: 8px; border-radius: 100%;	
}

.scrollback-message-separator { color: #999; display:none;  }

.scrollback-message-join { color: #999 }

.scrollback-message-part { color: #999 }

.scrollback-message-timestamp {color: #999}

.scrollback-message-content {color: #000}

.scrollback-message-content-me{color: #000; font-style:italic}

.scrollback-message-underline {
	display: block;
	height: 1px;
	background-color: #ccc;
//	margin-left: -20%;
	margin-top: 5px;
}
.scrollback-message-time {
	position: absolute;
	font: 12px/12px "Open Sans"; 
	display: block; 
	color: #999; 
	bottom: 0px; right: 10%; padding: 0 4px;
	background-color: #eee;
}

.scrollback-hidden{display: none}

#notifications {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	margin: 64px 20% 0% 20%;
	z-index: 20;
	@media screen and (max-width: 900px) {
		margin: 48px 0 0 0;
	}
}

#logoutButton{
	font-size: 25px;
	line-height: 40px;
}

.notification {
	line-height: 16px;
	padding: 16px; 
	background: #3ca;
	color: #fff;
	font-weight: bold;
	text-align: center;
}


.scrollback-message:hover .socialButton{
	visibility: visible;	
}

.socialButton{
	visibility: hidden;
	font-size: 24px;
	line-height: 24px;
}
.fa-twitter{
	float: right;
	margin-right: 1%;
	display: none;
	text-decoration: none;
	&.default{ color: #4099FF; opacity: 0.5; };
	&.darken{ opacity: 1; };
}
.issues:hover{
	text-decoration: underline;
}
.issues{
	cursor:pointer;
	text-decoration: none;
	text-align: center;
	color: white;
}
.archive{
	cursor:pointer;
	text-decoration: none;
	text-align: center;
	color: white;
	line-height: 48px;
}
.archive:hover{
	text-decoration: underline;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.waiting{
	cursor:wait
}

.buttonText{
	font: 400 "Alegreya", serif;
	font-size : 24px;
//	font-weight: bold !important;
	line-height: 48px !important;
	text-align: center;
	cursor : pointer ;
	text-transform: uppercase;
}

.faButton{
	font-size : 22px; 
}

#nomessagediv{
	height: 48px;
	line-height: 48px;
	padding: 0px 4px;
}

#viewTitle{ font: 400 28px/28px "Open Sans", sans-serif; }

#roomControlsContainer { float: right }

.layer { position: fixed; top: 0; left: 0; right: 0; bottom: 0; z-index: 99998; }
button.menuitem { height: 48px; width: 160px; font: 700 12px/12px "Open Sans", sans-serif; color: #fff; text-transform: uppercase; background: #000; .box-sizing(border); padding: 0 4px; margin: 0; float: left; border: none}
button.menuitem:hover { background: #33ccaa }
.menu { z-index: 99999; background: #000; position: fixed; box-shadow: 0 4px 32px 0 rgba(0,0,0,0.5); width: 320px; .clearfix(); }
.arrow { color:#000; position: fixed;}

.arrow.up { height: 0; width: 0; border-style: solid; border-width: 0 8px 8px 8px; border-color: transparent transparent #000 transparent; }
.arrow.down { height: 0; width: 0; border-style: solid; border-width: 8px 8px 0 8px; border-color: #000 transparent transparent transparent; }

.elSelected { text-shadow : 0 0 4px rgba(51,214,187,1)}

.elHidden {display:block; opacity: 0.3}
