h1(ng-cloak="")
	span(id="viewTitle") Configure {{room.name || room.id }}

form#profile(action="")
	label Room Id
		input(disabled="true",type="text",value="{{editRoom.id}}")
	label Description
		input(type="textarea",ng-model="editRoom.description")
	each plugin in Object.keys(pluginsUI)
		div.box.span12
			!{pluginsUI[plugin]}
	div(class="buttonGroup")
		button(class="cancel",type="button",ng-click="cancel()") Cancel
		button(class="default",type="button",ng-click="saveRoom()") Save Account
