div(ng-controller="meController")
	h1
		button.left: span.fa.fa-arrow-left
		span My account
	form#profile
		label Username
			input(ng-model="displayNick",)
		label Email
			input(disabled,ng-init='email="#{email}"',ng-model="email")
		label
			.combo
				button.default(type="button",ng-click="save()") Save account