div
	h1
		span My account
	form#profile(ng-submit="save()")
		label Username
			div.room(ng-show="isGuest()")
				input(placeholder = "Your username on scrollback", ng-model="nick")
			div.room(ng-show="!isGuest()")
				input(disabled,value="{{user.id}}",ng-model="nick")
		label Email
			input(disabled,ng-init='email="#{email}"',ng-model="email")
		label Picture 
			.combo: button(type="button", title="Change your gravatar at gravatar.com", onclick="window.open('http://en.gravatar.com/emails/', '_blank')")
				img(src='{{user.picture}}', style = 'width: 48px')
				| Change Gravatar
		.buttonGroup
			button.cancel(type="button", ng-click = "cancelScreen()", style = "margin-right: 4px") Cancel
			button.default(type="button", ng-show="!isGuest()", ng-click="logout()", style = "margin-right: 4px") Sign Out
			button.default(type="button", ng-show="isGuest()", ng-click="save()") Save account