html
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible",content="IE=edge,chrome=1")
		title Scrollback
		meta(name="description",content="Scrollback: beautiful text chat for open communities, embeddable on any website.")
		meta(name="viewport",content="width=device-width")
		link(href='//fonts.googleapis.com/css?family=Open+Sans:300',rel='stylesheet',type='text/css')
		link(rel="stylesheet",href="../style.css")
		style
			html, body { position: relative; height: 100%; overflow: hidden; margin:0px; }
			#background { position: absolute; height: 100%; width: 100%; border: none; }
			html, input, textarea, select, button { font-family: "Open Sans", sans-serif; }
		meta(http-equiv="X-UA-Compatible",content="IE=Edge")
	body
		iframe(id='background',border='0',src='#{url}')
		script
			window.scrollback = {
				streams: ['#{room}'],
				theme:'light',
				ticker: true
			};
			// Don't change below this line ------------------------------------------------
			(function(d,h,e){e=d.createElement('script');e.async=1;e.src=h+'/client.min.js';
			scrollback.host=h;d.body.appendChild(e);}(document,'http://'+location.host));
