html
	head
		title facebook callback
	body
		script
			var code = location.search.substring(6);
			window.postedMessages = [];
			var auth = {
				command:"signin",
				auth: {
					facebook:{
						code: code
					}
				}
			};
			window.postedMessages.push(auth);
			window.opener.postMessage(auth,"*");
			window.close();
