html
	head
		title facebook callback
	body
		#text
			Hello world 	
		script
			var code = location.search.substring(6);
			var auth = {
				command:"signin",
				auth: {
					facebook:{
						code: code
					}
				}
			};
			var d = document.querySelectorAll("#text")[0];
			d.innerHtml = "hello " + code;
			window.opener.postMessage(auth,"*")
			window.close();