html
	head
		title facebook callback
	body
		b
			Hello world this is some test
		script
			var code = location.search.substring(6);
			var postedMessages = [];
			var auth = {
				command:"signin",
				auth: {
					facebook:{
						code: code
					}
				}
			};
			window.opener.postMessage(auth,"*")
			window.facebookRef.close();
			window.close();