html
	head
		title facebook callback
	body
		script(src="/s/dist/scripts/post-message-polyfill.min.js")
		script
			var code = location.search.substring(6);
			var auth = {
				command:"signin",
				auth: {
					facebook:{
						code: code
					}
				}
			};
			window.opener.postMessage(auth,"*");
			window.close();
