html
	head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
        title
			block title
				Scrollback: beautiful text chat for open communities.
        meta(name="description", content="Scrollback: beautiful text chat for open communities, embeddable on any website.")
        meta(name="viewport", content="width=device-width")
		link(href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css')
        <link rel="stylesheet" href="style.css">
		<style>
			body { background: url('img/logo.png') no-repeat center center; }
		</style>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	</head>
	
	<body>
		block content
		block scripts
	</body>
