html
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible",content="IE=edge,chrome=1")
		title
			block title
		meta(name="description",content="Scrollback: beautiful text chat for open communities, embeddable on any website.")
		meta(name="viewport",content="width=device-width")
		link(href='http://fonts.googleapis.com/css?family=Open+Sans:300,700', rel='stylesheet',type='text/css')
		link(rel="stylesheet",href="/style.css")
		block styles
		meta(http-equiv="X-UA-Compatible",content="IE=Edge")
	body
		block header
			nav
				.container.clearfix: .box.logo-box.span1: .logo: Scrollback
		.container.clearfix
			block content
		block scripts
		block footer
			#footer