html
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible",content="IE=edge,chrome=1")
		title
			block title
		meta(name="description",content="Scrollback: beautiful text chat for open communities, embeddable on any website.")
		meta(name="viewport",content="width=device-width")
		link(href='http://fonts.googleapis.com/css?family=Open+Sans:300', rel='stylesheet',type='text/css')
		link(rel="stylesheet",href="/style.css")
		block styles
		meta(http-equiv="X-UA-Compatible",content="IE=Edge")
	body
		block header
			nav.
				<div class="container clearfix">
					<div class="box logo-box span1">
						Scrollback
					</div>
					<div class="box span11">
						<ul>
							<li><a href="#features">Features</a></li>
							<li><a href="#whybuilt">Why we built it</a></li>
							<li><a href="#getembed">Get Scrollback</a></li>
							<li><a href="http://github.com/askabt/scrollback">Fork us</a></li>
						</ul>
					</div>
				</div>
		
		block content
		block scripts
		block footer
			#footer