extends dialog
block append styles
	style.
		#loginbtn { border-bottom: none; border-left: 32px solid #3ca; position: relative; }
		#loginbtn:before {
			content: ' '; border-style: solid; color: white;
			border-color: transparent transparent transparent #3ca;
			border-width: 20px 0 20px 20px;
			display: block; height: 0px;
			position: absolute; left: 0; top: 0;
		}
		#content { visibility: hidden; }

block content
	div#loginForm.box.span12
		p.before You aren’t signed in.
		button#loginbtn.primary.box.span6 Sign into Scrollback
		p.break.before Don’t sign in, but change my nick to:
		form#guestfrm.clearfix
			input#guestnick.box.span3
			button.box.span3(type=submit) Change nick
		p.break.after If you don’t sign in, someone else might steal your nick when you’re not around.
		
block append scripts
	script(src="https://login.persona.org/include.js")
	script.
		navigator.id.watch({
			onlogin: function(assertion) {
				notify("Signing you in…");
				window.parent.postMessage({assertion: assertion}, "*");
			},
			onlogout: function() {
				show();
			}
		});
		
		$(document).ready(function() {
			notify("Checking if you’re already signed in…");
			$("#guestnick").val(location.hash.substr(1).replace(/^guest-/,""));
			
			$("#loginbtn").click(function () {
				navigator.id.request();
			});
			
			$("#guestfrm").submit(function(e) {
				var nick = $("#guestnick").val();
				if(!validateNick(nick))
					window.parent.postMessage({ guestname: nick }, "*");
				else
					notify("User name is not valid");
				e.preventDefault();
				return false;
			});
		});
		
		
		$(window).on("message", function(event) {
			var message;
			event = event.originalEvent;
			if(typeof event.data === 'string') {
				try { message = JSON.parse(event.data); }
				catch(e) {
					console.log("Error parsing incoming message: ", event.data, e);
					return;
				}
			} else { message = event.data; }
			
			if(message.type=="error") {
				if(message.data=="DUP_NICK") {
					notify("User name already taken");
					$("#nickname").addClass("error");
					$("#nickname").focus();
				}else if(message.data=="INVALID_NAME") {
					notify("User name is not valid");
					$("#nickname").addClass("error");
				}else {
					notify(message.data);
				}
			}
		});
		
		function validateNick(nick){
			var x=(nick.match(/^[a-z][a-z0-9\_\-\(\)]*$/i)?true:false);
			return x;
		}