extends layout
block append styles
	style.
		login

block content
	div.box.span12
		button#loginbtn.box.span3 Sign in
		p.captionBefore Don’t log in, but change my nick to:
		form#guestfrm.container
			input#guestnick.box.span3 (type="text", placeholder="Nickname to use")
			button.box.span3(type=submit) Change nick
		p.captionAfter If you don’t log in, someone else might steal your nick when you’re not around.
					
block append scripts
	script(src="http://code.jquery.com/jquery.min.js")
	script(src="http://cdn.sockjs.org/sockjs-0.3.min.js")
	script(src="https://login.persona.org/include.js")
	
	script.
		window.scrollback = {host: 'http://' + location.host};
	script(src="/sdk/emitter.js")
	script(src="/sdk/request.js")
	script(src="/sdk/client.js")
	script(src="/sdk/addEvent.js")
	script(src="/sdk/polyfill.js")
	script(src="/sdk/login.js")
	
	script.
		$(document).ready(function() {
			navigator.id.watch({
				onlogin: function(assertion) {
					window.parent.postMessage({type: "CLOSE_DIALOG", data: {assertion: assertion} }, "*");
				},
				onlogout: function() {
					scrollback.send('nick', '', '', { ref: 'guest-' + scrollback.nick() });
				}
			});
			
			$("#guestnick").val(location.hash.substr(1));
			
			$("#loginbtn").click(function () {
				navigator.id.request();
			});
			
			$("#guestfrm").submit(function(e) {
				var nick = $("#guestname").val();
				window.parent.postMessage({type: "CLOSE_DIALOG", data: { guestname: nick }}, "*");
				e.preventDefault();
				return false;
			})
		});