extends layout
block append styles
	link(rel="stylesheet", href="/css/login.css")

block content
	div#fb-root
	div.loginBtn
		h1 Login
		p.
			You're seeing this because it's your first time on scrollback,
			or you're signed out of facebook.
		p: button#fbLogin(disabled="true",onclick="login()") Login with Facebook
		div
			h1 Or continue with nick as <br> guest-
				input#continueAs(type="text")
			button#continueBtn(onclick="continueAs()") continue
	
block append scripts
	script(type='text/javascript')
		window.scrollback = {host: 'http://' + location.host};
	script(src="/socket.io/socket.io.js")
	script(src="/sdk/emitter.js")
	script(src="/sdk/client.js")
	script(src="/sdk/addEvent.js")
	script(src="/sdk/login.js")
	