extends layout
block append styles
	link(rel="stylesheet", href="/css/login.css")

block content
	div#fb-root
	div.login
		div
			div.loginWith
				div.loginWiteItem.inactive#fbLogin
					img.loginWithImg(src="/img/facebook.png")
				div.loginWiteItem.inactive
					img.loginWithImg(src="/img/google.png")
			div
				p Or continue without logging in:
					div
						input#continueAs(type="text",placeholder="Nick")
						button.major#continueBtn(onclick="continueAs()") Continue
					p If you don't log in, someone else might steal your nick when you're not around.
block append scripts
	script(type='text/javascript')
		window.scrollback = {host: 'http://' + location.host};
	script(src="/socket.io/socket.io.js")
	script(src="/sdk/emitter.js")
	script(src="/sdk/client.js")
	script(src="/sdk/addEvent.js")
	script(src="/sdk/polyfill.js")
	script(src="/sdk/login.js")
	