extends layout
block append styles
	style.
		#loginbtn { border-bottom: none; border-left: 32px solid #3ca; position: relative; }
		#loginbtn:before {
			content: ' '; border-style: solid; color: white;
			border-color: transparent transparent transparent #3ca;
			border-width: 20px 0 20px 20px;
			display: block; height: 0px;
			position: absolute; left: 0; top: 0;
		}
		#loginForm{
			display: none;
			overflow: hidden;
		}

block content
	div#loading.box.span12
		p Please wait, loading persona.
	div#loginForm.box.span12
		p.before Scrollback uses Mozilla Persona sign-in.
		button#loginbtn.primary.box.span6 Sign in
		p.break.before Don’t log in, but change my nick to:
		form#guestfrm.clearfix
			input#guestnick.box.span3
			button.box.span3(type=submit) Change nick
		p.break.after If you don’t log in, someone else might steal your nick when you’re not around.
		
block append scripts
	script(src="http://code.jquery.com/jquery.min.js")
	script(src="https://login.persona.org/include.js")
	
	script.
		navigator.id.watch({
			onlogin: function(assertion) {
				window.parent.postMessage({assertion: assertion}, "*");
			},
			onlogout: function() {
				$("#loading").hide();
				$("#loginForm").show();
			}
		});
		
		$(document).ready(function() {

			$("#guestnick").val(location.hash.substr(1).replace(/^guest-/,""));
			
			$("#loginbtn").click(function () {
				navigator.id.request();
			});
			
			$("#guestfrm").submit(function(e) {
				var nick = $("#guestname").val();
				window.parent.postMessage({ guestname: nick }, "*");
				e.preventDefault();
				return false;
			})
		});