extends layout
block append styles
	link(rel="stylesheet", href="/css/login.css")

block content
	div#fb-root
	div.login.center
		p.center
			h1 Register / Sign in with
		p.center: button.major#fbLogin(disabled="true",onclick="login()") Facebook
		div.center
			h1 OR continue as
				br
				input#continueAs(type="text",placeholder="Nick")
			button.major#continueBtn(onclick="continueAs()") Continue
			button.major(onclick="window.close()") Cancel
block append scripts
	script(type='text/javascript')
		window.scrollback = {host: 'http://' + location.host};
	script(src="/socket.io/socket.io.js")
	script(src="/sdk/emitter.js")
	script(src="/sdk/client.js")
	script(src="/sdk/addEvent.js")
	script(src="/sdk/login.js")
	