html
	body
	script
		window.scrollback = {streams: ['#{id}'],theme:   'light',ticker:  true};
	script(src="/socket.io/socket.io.js")
	script(src="sdk/addEvent.js")
	script(src="sdk/domReady.js")
	script(src="sdk/getByClass.js")
	script(src="sdk/jsonml2.js")
	script(src="sdk/polyfill.js")
	script(src="sdk/ui.j")
	script(src="sdk/timeline.js")
	script(src="sdk/css.js")
	script(src="sdk/net.js")