extends layout
block append styles
	style.
		#picture { position: relative; }
		#picture img { position: absolute; left: 0; top: 0; max-width: 40px; max-height: 40px; }

block userinfo
	a(href='#') #{user.id.replace(/^guest-/, '')}

block content
	div.box.span12
		form#profilefrm.clearfix.container
			// .field.box.span3.gapr
				label.before(for='picture') Avatar
				button#picture
					img(src='/img/icon/user.png')
					| Change
			.field.box.span3
				label.before(for='nickname') Nickname
				input#nickname
				
			p.break.before Connected accounts
			each account in user.accounts
				input.break.box.span6(disabled=true, value='#{account}')
			p.box.break.right.span6
				button.primary.span3(type='submit') Save changes

block append scripts
	script(src="http://code.jquery.com/jquery.min.js")
	
	script.
		$(document).ready(function() {
			$("#profilefrm").submit(e) {
				var user = { id: $("#nickname").val(), accounts: [] };
				window.parent.postMessage({type: "CLOSE_DIALOG", data: user }, "*");
				e.preventDefault();
				return false;
			};
		});