extends layout


block title
	| #{title} - Scrollback

block styles
	style.
		.scrollback-embed { display:none; }
		#intro {
			width: 200px; position: absolute; left: 0px; top: 120px;
			background: #555; border-right: 4px solid #3ca;
			color: #fff; padding: 40px; z-index: 9999;
			transition: all 0.200m; -webkit-transition: all 0.2s;
			font-size: 13px;
		}
		#intro p {
			margin: 16px 0 0 0;
		}
		#intro.collapsed { left: -240px;}
		#intro.collapsed #hide { display: none; }
		#hide { position: absolute; top: 0px; right: 0px;
			width: 40px; line-height: 40px; text-align: center;
			cursor: pointer;
		}
		#hide:hover { background: #000; }
		#intro a { text-decoration: none; }
		#intro input { height: 40px; width: 100%; }
		.em { font-weight: 700; }
		
		#popular p { background: #ccc; padding: 0 8px;
			margin: 0 4px 4px 0; float: left; border-bottom: 4px solid #999;
		}
		#popular p a { color: #000; line-height: 40px; display: block; }
		#add { clear: both; }
block content
		#intro
			#hide &larr;
			p.em Scrollback Home
			p Pin this tab to stay in the loop.
			
			p.em Popular rooms:
			
			#popular
				p: a(href='+/ubuntu/') Ubuntu 
				p: a(href='+/nodejs/') Node.js 
				p: a(href='+/bitcoin/') Bitcoin 
			
			form#add
				p.em: label Create or join a room:
					input#streamId
					button.hidden(type="submit")
	
block scripts
	script(src='http://code.jquery.com/jquery.min.js')
	script.
		window.scrollback = {
		streams:!{streams},
			theme: 'light',
			ticker: true,
			close: true,
			minimized: false,
			maxWidth: 600,
			maxHeight: 9999,
			onchange: updateUrl
		};
		// Don't change below this line ------------------------------------------------
		(function(d,h,e){e=d.createElement('script');e.async=1;e.src=h+'/client.min.js';
		scrollback.host=h;d.body.appendChild(e);}(document,'http://'+location.host));
		
		$(document).ready(function() {
			$("form#add").submit(function (event) {
				scrollback.addStream($('#streamId').val());
				$("#hide").click();
				$('#streamId').val("")
				return false;
			});
			
			$("#intro").click(function(event) {
				$(this).removeClass('collapsed');
			});
			
			$("#hide").click(function(event) {
				console.log("Hide clicked");
				$("#intro").addClass('collapsed');
				event.stopPropagation();
			});
		});
		
		function updateUrl() {
			console.log('updateUrl called');
			history.pushState(null, '', '/' + scrollback.streams.join('/+/') +'/');
		}
		
