extends layout

block styles
	style.
		nav { z-index: 9999; position: relative; }
		.scrollback-log { top: 48px !important; }
		.scrollback-title { top: 48px !important; }

block content

block scripts
	script.
		window.scrollback = {
		streams:!{streams},
			theme: 'light',
			ticker: true,
			minimized: false,
			maxWidth: 600,
			maxHeight: 9999
		};
		// Don't change below this line ------------------------------------------------
		(function(d,h,e){e=d.createElement('script');e.async=1;e.src=h+'/client.min.js';
		scrollback.host=h;d.body.appendChild(e);}(document,'http://'+location.host));
