@import url('widgets.less');

@bar-height: 3.5em;

.fixed(@width: 50%;) {
    position: fixed;
    top: 0;
    bottom: 0;
    width: @width;
    margin: 0;
    padding: 0;
    z-index: 1;
}

.absolute(@top: 0; @bottom: 0) {
    position: absolute;
    top: @top;
    bottom: @bottom;
    left: 0;
    right: 0;
    z-index: -1;
    overflow: auto;
}

.rooms {
    .fixed(15%);

    background-color: @dark-color;
    color: @light-color;
    left: 0;
    min-height: 100%;
    overflow: auto;

    .scrollback-header {
        padding: .5em 1em;
        height: @bar-height;
        border-bottom: 1px solid lighten(@dark-color, 10%);

        img {
            height: 2.5em;
            width: auto;
        }
    }

    ul {
        list-style: none;

        li {
            a {
                .ease;

                color: darken(@light-color, 10%);
                display: block;
                padding: 1em;
                font-weight: 700;
                border-bottom: 1px solid lighten(@dark-color, 5%);

                &.current {
                    position: relative;
                    background-color: lighten(@dark-color, 5%);

                    &:after {
                        right: 0;
                        top: 1.25em;
                        position: absolute;
                        display: block;
                        content: '';
                        border-top: .6em solid transparent;
                        border-bottom: .6em solid transparent;
                        border-right: .55em solid darken(@light-color, 5%);
                    }
                }

                &:hover, &.current:hover {
                    background-color: lighten(@dark-color, 10%);
                }

                .unread {
                    float: right;
                    text-align: center;
                    min-width: 2em;
                    font-size: .75em;
                    background-color: @accent-color;
                    color: @light-color;
                    border-radius: @roundness;

                    &.has-replies { background-color: @error-color; }
                }
            }
        }
    }
}

.meta {
    .fixed(30%);

    left: 15%;
    background-color: darken(@light-color, 5%);
    color: @dark-color;
    border-right: 1px solid darken(@light-color, 10%);

    .tabs {
        list-style: none;
        width: 100%;
        display: table;
        table-layout: fixed;

        li {
            .ease;

            display: table-cell;
            text-align: center;
            padding: 1em 0;
            border-bottom: 1px solid fade(@dark-color, 10%);
            color: fade(@dark-color, 50%);
            cursor: pointer;

            &:hover { color: @dark-color; }

            &.current {
                position: relative;
                color: @dark-color;
                border-bottom: 2px solid @accent-color;
            }

            h2 {
                margin: 0;
                font-size: 1.5em;
            }
        }
    }

    .meta-content {
        .absolute(@bar-height; 0);
        .opacity(0);
        .ease;

        pointer-events: none;

        &.current {
            .opacity(1);

            pointer-events: auto;
        }

        &.room-info {
            padding: 1.5em;
        }

        &.people-list {
            padding: 1em .5em;

            .people {
                display: inline-block;
                text-align: center;
                text-overflow: ellipsis;
                overflow: hidden;
                padding: .25em;
                width: 6em;
                font-weight: 400;
                color: @dark-color;

                &.offline {
                    .opacity(.5);

                    img { .grayscale; }
                }

                img {
                    display: block;
                    width: 48px;
                    height: 48px;
                    border-radius: @roundness;
                    margin: .25em auto;
                }

                &:hover {
                    .ease;

                    background-color: @accent-color;
                    color: @light-color;
                    border-radius: @roundness;
                }
            }
        }

        .thread {
            .ease;

            display: block;
            padding: 1em 1em .5em 2em;
            border-right: 4px solid @accent-color;
            font-weight: 400;
            color: @dark-color;

            h3 { margin: 0; }

            &.current { background-color: fade(@accent-color, 10%); }

            &:hover {
                background-color: @accent-color;
                color: @light-color;
            }

            &.conv-0 {
                border-right-color: @color0;

                &.current { background-color: fade(@color0, 10%); }

                &:hover { background-color: @color0; }
            }

            &.conv-1 {
                border-right-color: @color1;

                &.current { background-color: fade(@color1, 10%); }

                &:hover { background-color: @color1; }
            }

            &.conv-2 {
                border-right-color: @color2;

                &.current { background-color: fade(@color2, 10%); }

                &:hover { background-color: @color2; }
            }

            &.conv-3 {
                border-right-color: @color3;

                &.current { background-color: fade(@color3, 10%); }

                &:hover { background-color: @color3; }
            }

            &.conv-4 {
                border-right-color: @color4;

                &.current { background-color: fade(@color4, 10%); }

                &:hover { background-color: @color4; }
            }

            &.conv-5 {
                border-right-color: @color5;

                &.current { background-color: fade(@color5, 10%); }

                &:hover { background-color: @color5; }
            }

            &.conv-6 {
                border-right-color: @color6;

                &.current { background-color: fade(@color6, 10%); }

                &:hover { background-color: @color6; }
            }

            &.conv-7 {
                border-right-color: @color7;

                &.current { background-color: fade(@color7, 10%); }

                &:hover { background-color: @color7; }
            }

            &.conv-8 {
                border-right-color: @color8;

                &.current { background-color: fade(@color8, 10%); }

                &:hover { background-color: @color8; }
            }

            &.conv-9 {
                border-right-color: @color9;

                &.current { background-color: fade(@color9, 10%); }

                &:hover { background-color: @color9; }
            }
        }
    }
}

.mainview {
    .fixed(55%);

    right: 0;
    background-color: @light-color;
    color: @dark-color;

    .titlebar {
        height: @bar-height;
        text-align: right;
        background-color: darken(@light-color, 5%);
        border-bottom: 1px solid darken(@light-color, 20%);
        padding: .5em;
        box-shadow: 0 3px 2px -1px fade(@dark-color, 5%);

        .icon {
            float: left;
            height: 2.5em;
            width: 2.5em;
            padding: 0;
            border-radius: @roundness;
        }

        .title {
            float: left;
            font-size: 1.5em;
            padding: .4em .5em;
            margin: 0;
        }

        .user-area {
            position: relative;
            font-weight: 700;
            color: @dark-color;

            &:hover { color: darken(@dark-color, 10%); }

            .username {
                line-height: 2.5em;
                padding-right: .5em;
            }

            img {
                float: right;
                height: 2.5em;
                width: 2.5em;
                border-radius: @roundness;
            }
        }
    }

    .chat-position {
        .opacity(0);
        .ease;

        margin: 1em 2em;
        background-color: @dark-color;
        color: @light-color;
        float: right;
        padding: .5em 1em;
        border-radius: @roundness;
    }

    &.scrolling {
        .chat-position { .opacity(1); }
    }

    .chat-area {
        .absolute(@bar-height; @bar-height);

        .chat {
            position: relative;
            padding: 1em;
            margin: 0;
            padding-left: 22%;
            border-top: 1px solid darken(@light-color, 5%);
            max-height: 12em;
            overflow: hidden;

            &.long {
                .ease;

                cursor: pointer;

                &:hover {
                    &:after { padding: 1em 0; }
                }

                &:after {
                    .ease;

                    display: block;
                    content: "";
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    padding: 3em 0;
                    background-image: -o-linear-gradient(bottom, fade(@light-color, 0%) 0%, @light-color 100%);
                    background-image: -moz-linear-gradient(bottom, fade(@light-color, 0%) 0%, @light-color 100%);
                    background-image: -webkit-linear-gradient(bottom, fade(@light-color, 0%) 0%, @light-color 100%);
                    background-image: -ms-linear-gradient(bottom, fade(@light-color, 0%) 0%, @light-color 100%);
                    background-image: linear-gradient(to bottom, fade(@light-color, 0%) 0%, @light-color 100%);
                }

                &.active {
                    max-height: 20em;
                    overflow: auto;

                    &:after { display: none; }
                }
            }

            .clearfloat;

            &:before {
                float: left;
                margin: .55em 0 auto -25%;
                height: .5em;
                width: .5em;
                border-radius: 50%;
                background-color: @accent-color;
            }

            &.conv-0 {
                &:before { background-color: @color0; }
            }

            &.conv-1 {
                &:before { background-color: @color1; }
            }

            &.conv-2 {
                &:before { background-color: @color2; }
            }

            &.conv-3 {
                &:before { background-color: @color3; }
            }

            &.conv-4 {
                &:before { background-color: @color4; }
            }

            &.conv-5 {
                &:before { background-color: @color5; }
            }

            &.conv-6 {
                &:before { background-color: @color6; }
            }

            &.conv-7 {
                &:before { background-color: @color7; }
            }

            &.conv-8 {
                &:before { background-color: @color8; }
            }

            &.conv-9 {
                &:before { background-color: @color9; }
            }

            .nick {
                float: left;
                margin-left: -20%;
                padding-right: 2em;
                font-weight: 700;

                a {
                    color: @dark-color;

                    &:focus, &:hover, &:active { color: darken(@dark-color, 10%); }
                }
            }
        }

        .timestamp {
            .zigzag(darken(@light-color, 3%); @light-color; top);

            width: 100%;
            text-align: center;
            font-style: italic;
            font-size: .75em;
            padding-top: .75em;
            padding-bottom: .25em;
            margin: 0;

            & + .chat {
                .zigzag(@light-color; darken(@light-color, 3%); top);

                border-top: none;
                padding-top: 2em;
            }
        }
    }

    .chat-input {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 100%;
        padding: .5em 1em;
        min-height: @bar-height;
        background-color: darken(@light-color, 5%);

        .textarea {
            .entry;

            word-wrap: break-word;
            width: 100%;
            padding: .4em 1em;
            min-height: 2.5em;
            max-height: 12em;
            border-radius: @roundness;
            overflow: auto;
        }
    }
}
