.infinite-above, .infinite-below { 
	height: 100%; width: 100%; background-color: #fff;
	background-image: url('data:image/gif;base64,R0lGODlhEAAQAKECAPf39/z8/P///////yH/C05FVFNDQVBFMi4wAwEAAAAh+QQBBgACACwAAAAAEAAQAAACIESOCMvpDJ2CSx5aLTYa27B9YUeJHhmZKZqxnPuBpboUACH5BAEGAAMALAAAAAAQABAAAAIthIOZw3OqGgNQmUsrwlcHbgwaCDAV2UBomqzsB0omzMkm6eGaw3kT5vs9KpICACH5BAEGAAMALAAAAAAQABAAAAIshB2pOnOwYnMoslltmA3q8GRWKC4kMGhnM5JTtL5KLIMul9rhd/LkpzsABwUAIfkEAQYAAwAsAAAAABAAEAAAAiuED6G7aAyHg2zIQ5e9KYd9eR/YZU5JnSijDuZppXDMzrTSgo294Xyv8hQAACH5BAEGAAMALAAAAAAQABAAAAIsTIAJwz2nkJkzSkotpiPuySif0SRj4Fyf053aaAGw9WwxY9N4pu/G7aj0GgUAIfkEAQYAAwAsAAAAABAAEAAAAiyMA6kw3beUcyamSS04HNnOfaAxRCNZKmfgqOeUrNh2iqNWW8Ot751GCfUaBQAh+QQBBgADACwAAAAAEAAQAAACLIwPqTB9tlRzKLI5asTUXh54zyOOmmIeQ5QazdIGE9piScwBsbXzqZcxAQcFACH5BAEGAAMALAAAAAAQABAAAAIsjG+gC4PH1nAvqkmhxTnYxmkRNyUb6XyPyKys4hpDFAdTG2NLzcF5X7MELQUAOw==');
	background-attachment: fixed;
	z-index: 0; position: relative;
}

.infinite-items { width: 100%; box-shadow: 0 0 64px 32px #fff; background: #fff; z-index: 1; position: relative; }
