script.
	$(document).ready(function() {
		var id = "!{id}";
		pluginPackager.push(function(room) {
			var status = $("input:radio[name=isWordbanEnable]:checked").val()=="true"? true:false;
			room.params = room.params || {};
			room.params.wordban = status;
		});
	});
block content
	div(class="pluginBlock")
		div(class="container heading")
			h2	Word filter
		div(class="container clearfix")
			div(class="box span12 row",id="result",style="display:none")
			div(class="box span12 row")
				span Enable word filters on your community.
			div(class="box span12 row")
				if params && params.wordban
					input(type="radio", id="enableWordban", value="true", name="isWordbanEnable", class="radio",checked=true)
					label(for="enableWordban",class="radioLabel") Yes
					input(type="radio", id="disableWordban", value="false", name="isWordbanEnable", class="radio")
					label(for="disableWordban",class="radioLabel") No
				else
					input(type="radio", id="enableWordban", value="true", name="isWordbanEnable", class="radio")
					label(for="enableWordban",class="radioLabel") Yes
					input(type="radio", id="disableWordban", value="false", name="isWordbanEnable", class="radio",checked=true)
					label(for="disableWordban",class="radioLabel") No
		div(class="container")
			p.break.after Enabling this will prevent users from send abusive messages in your community.
