<!-- Inliner Build Version 4380b7741bb759d6cb997545f3add21ad48f010b -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml" style="font-family: 'Open Sans', sans-serif; margin: 0; padding: 0;">

<head>
	<!-- If you delete this tag, the sky will fall on your head -->
	<meta name="viewport" content="width=device-width" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Hey, Neighbor!</title>
	<!--<link rel="stylesheet" type="text/css" href="stylesheets/email.css" />-->
</head>

<body bgcolor="#FFFFFF" style="font-family: 'Open Sans', sans-serif; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: none; width: 100% !important; height: 100%; margin: 0; padding: 0;">
	<style type="text/css">
		@font-face {
			font-family: 'Open Sans';
			font-style: normal;
			font-weight: 400;
			src: local('Open Sans'), local('OpenSans'), url('http://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3aCWcynf_cDxXwCLxiixG1c.ttf') format('truetype');
		}
	</style>

	<table class="body-wrap" style="font-family: 'Open Sans', sans-serif; width: 100%; margin: 0; padding: 0;">
		<tr style="font-family: 'Open Sans', sans-serif; margin: 0; padding: 0;">
			<td style="font-family: 'Open Sans', sans-serif; margin: 0; padding: 0;"></td>
			<td class="container" bgcolor="#FFFFFF" style="font-family: 'Open Sans', sans-serif; margin: 0; padding: 0;">

				<div class="content" style="font-family: 'Open Sans', sans-serif; max-width: 600px; display: block; margin: 0 auto; padding: 15px;">
					<table style="font-family: 'Open Sans', sans-serif; width: 100%; margin: 0; padding: 0;">
						<tr style="font-family: 'Open Sans', sans-serif; margin: 0; padding: 0;">
							<td style="font-family: 'Open Sans', sans-serif; margin: 0; padding: 0;">
								<table class="social" height="120px" style=" font-family: 'Open Sans', sans-serif; width: 100%; background: white url(http://web.heyneighbor.chat/assets/mail-header.png); margin: 0px 0 0; padding: 0;" bgcolor="white" background="url(http://web.heyneighbor.chat/assets/mail-header.png)">
									<tr align="center" style="font-family: 'Open Sans', sans-serif; margin: 0; padding: 0;">
										<td style="font-family: 'Open Sans', sans-serif; margin: 0; padding: 0;">

											<table align="center" style="font-family: 'Open Sans', sans-serif; width: 100%; margin: 0; padding: 0;">
												<tr style="font-family: 'Open Sans', sans-serif; margin: 0; padding: 0;">
													<td align="center" style="font-family: 'Open Sans', sans-serif; margin: 0; padding: 0;">


														<img class="img-responsive" src="http://web.heyneighbor.chat/assets/sharma.png" height="110px" style=" font-family: 'Open Sans', sans-serif; max-width: 100%; margin: 0; padding: 0;" /></td>
												</tr>
											</table>
											<!-- /column 1 -->
										</td>
									</tr>
								</table>
								<!-- /social & contact -->
								<table class="social" width="100%" style="font-family: 'Open Sans', sans-serif; width: 100%; background: white; margin: 0; padding: 0;" bgcolor="white">
									<tr style="font-family: 'Open Sans', sans-serif; margin: 0; padding: 0;">
										<td style="font-family: 'Open Sans', sans-serif; margin: 0; padding: 0;">

											<table align="center" style="font-family: 'Open Sans', sans-serif; width: 100%; margin: 0; padding: 0;">
												<tr style="font-family: 'Open Sans', sans-serif; margin: 0; padding: 0;">
													<td align="center" style="font-family: 'Open Sans', sans-serif; margin: 0; padding: 0;">
														<h3 style="font-family: 'Open Sans', sans-serif; line-height: 1.1; color: #000; font-weight: 500; font-size: 27px; margin: 30px 0 15px; padding: 0;"> <img src="http://web.heyneighbor.chat/assets/coloredlogo.png" height= "30px" style=" vertical-align: middle; font-family: 'Open Sans', sans-serif; max-width: 100%; margin: 0; padding: 0;" /><strong style="font-family: 'Open Sans', sans-serif; margin: 0; padding: 0;"></strong></h3>

														</p>
														<p style="font-size: 18px; font-family: 'Open Sans', sans-serif; font-weight: normal; line-height: 1.6; margin: 0 0 10px; padding: 0;"><i style="font-family: 'Open Sans', sans-serif; margin: 0; padding: 0;">"People had chai at my thela and never asked if I was fine,<br style="font-family: 'Open Sans', sans-serif; margin: 0; padding: 0;" />
												these days they only say... hey neighbor online." </i></p>
														<p style="font-family: 'Open Sans', sans-serif; font-weight: normal; font-size: 14px; line-height: 1.6; margin: 0 0 10px; padding: 0;">- Aapke pyaare Sharmaji

														</p>
													</td>
												</tr>
											</table>
											<!-- /column 1 -->
										</td>
									</tr>
								</table>
								<!-- /social & contact -->
								<table class="social" width="100%" align="center" style="font-family: 'Open Sans', sans-serif; width: 100%; background: white; margin: 0; padding: 0;" bgcolor="white">
									<tr style="font-family: 'Open Sans', sans-serif; margin: 0; padding: 0;">
										<td style="font-family: 'Open Sans', sans-serif; margin: 0; padding: 0;">


											<div class="column-wrap" style="font-family: 'Open Sans', sans-serif; max-width: 600px !important; margin: 0 auto; padding: 0; border: 1px;">

												<div class="column" style="font-family: 'Open Sans', sans-serif; width: 280px; float: left; height: 320px; border-radius: 2px; min-width: 279px; background: white; margin: 5px; padding: 0; border: 1px solid #c2c2c2;">
													<table style="font-family: 'Open Sans', sans-serif; width: 100%; margin: 0; padding: 0;">
														<tr style="font-family: 'Open Sans', sans-serif; margin: 0; padding: 0;">
															<td style="font-family: 'Open Sans', sans-serif; margin: 0; padding: 15px;">

																<h4 style="font-family: 'Open Sans', sans-serif; line-height: 1.1; color: #000; font-weight: 500; font-size: 23px; margin: 0 0 15px; padding: 0;"><strong style="font-family: 'Open Sans', sans-serif; margin: 0; padding: 0;">Bangalore </strong></h4>
																<div style="height: 200px; font-family: 'Open Sans', sans-serif; margin: 0; padding: 0;">

																	<a href="shjdh.com" style="font-family: 'Open Sans', sans-serif; color: black; text-decoration: none; margin: 0; padding: 0;">
																		<p style="font-family: 'Open Sans', sans-serif; font-weight: normal; font-size: 14px; line-height: 1.6; margin: 0 0 10px; padding: 0;">#Poll: Hey Neighbor badminton meetup on Sunday</p>
																	</a>
																	<p style="font-family: 'Open Sans', sans-serif; font-weight: normal; font-size: 14px; line-height: 1.6; margin: 0 0 10px; padding: 0;"><img src="http://web.heyneighbor.chat/assets/time.png" style="veritcal-align: middle; height: 15px; font-family: 'Open Sans', sans-serif; max-width: 100%; margin: 0; padding: 0;" /> 4d
																		<img src="http://web.heyneighbor.chat/assets/messages.png" height="15px" style="veritcal-align: middle;  font-family: 'Open Sans', sans-serif; max-width: 100%; margin: 0; padding: 0;" /> 27 </p>
																	<br style="font-family: 'Open Sans', sans-serif; margin: 0; padding: 0;" />
																	<a href="shjdh.com" style="font-family: 'Open Sans', sans-serif; color: black; text-decoration: none; margin: 0; padding: 0;">
																		<p style="font-family: 'Open Sans', sans-serif; font-weight: normal; font-size: 14px; line-height: 1.6; margin: 0 0 10px; padding: 0;">How many of you would like to have a new pub in BTM?</p>
																	</a>
																	<p style="font-family: 'Open Sans', sans-serif; font-weight: normal; font-size: 14px; line-height: 1.6; margin: 0 0 10px; padding: 0;"><img src="http://web.heyneighbor.chat/assets/time.png" height="15px" style="veritcal-align: middle;font-family: 'Open Sans', sans-serif; max-width: 100%; margin: 0; padding: 0;" /> 4d
																		<img src="http://web.heyneighbor.chat/assets/messages.png" height="15px" style="veritcal-align: middle; font-family: 'Open Sans', sans-serif; max-width: 100%; margin: 0; padding: 0;" /> 27 </p>

																</div>



																<a class="btn" style="font-family: 'Open Sans', sans-serif; color: black; text-decoration: none; font-weight: bold; text-align: center; cursor: pointer; display: inline-block; border-radius: 2px; background: #fec214; margin: 0 10px 0 0; padding: 10px 16px;">View All</a>

															</td>
														</tr>
													</table>
												</div>
											</div>
											<div class="column-wrap" style="font-family: 'Open Sans', sans-serif; max-width: 600px !important; margin: 0 auto; padding: 0; border: 1px;">

												<div class="column" style="font-family: 'Open Sans', sans-serif; width: 280px; float: left; height: 320px; border-radius: 2px; min-width: 279px; background: white; margin: 5px; padding: 0; border: 1px solid #c2c2c2;">
													<table style="font-family: 'Open Sans', sans-serif; width: 100%; margin: 0; padding: 0;">
														<tr style="font-family: 'Open Sans', sans-serif; margin: 0; padding: 0;">
															<td style="font-family: 'Open Sans', sans-serif; margin: 0; padding: 15px;">

																<h4 style="font-family: 'Open Sans', sans-serif; line-height: 1.1; color: #000; font-weight: 500; font-size: 23px; margin: 0 0 15px; padding: 0;"><strong style="font-family: 'Open Sans', sans-serif; margin: 0; padding: 0;">Indiranagar</strong></h4>
																<div style="height: 200px; font-family: 'Open Sans', sans-serif; margin: 0; padding: 0;">

																	<a href="shjdh.com" style="font-family: 'Open Sans', sans-serif; color: black; text-decoration: none; margin: 0; padding: 0;">
																		<p style="font-family: 'Open Sans', sans-serif; font-weight: normal; font-size: 14px; line-height: 1.6; margin: 0 0 10px; padding: 0;">#Poll: Hey Neighbor badminton meetup on Sunday</p>
																	</a>
																	<p style="font-family: 'Open Sans', sans-serif; font-weight: normal; font-size: 14px; line-height: 1.6; margin: 0 0 10px; padding: 0;"><img src="http://web.heyneighbor.chat/assets/time.png" height="15px" style="veritcal-align: middle; font-family: 'Open Sans', sans-serif; max-width: 100%; margin: 0; padding: 0;" /> 4d
																		<img src="http://web.heyneighbor.chat/assets/messages.png" height="15px" style="veritcal-align: middle; font-family: 'Open Sans', sans-serif; max-width: 100%; margin: 0; padding: 0;" /> 27 </p>
																	<br style="font-family: 'Open Sans', sans-serif; margin: 0; padding: 0;" />
																	<a href="shjdh.com" style="font-family: 'Open Sans', sans-serif; color: black; text-decoration: none; margin: 0; padding: 0;">
																		<p style="font-family: 'Open Sans', sans-serif; font-weight: normal; font-size: 14px; line-height: 1.6; margin: 0 0 10px; padding: 0;">How many of you would like to have a new pub in BTM?</p>
																	</a>
																	<p style="font-family: 'Open Sans', sans-serif; font-weight: normal; font-size: 14px; line-height: 1.6; margin: 0 0 10px; padding: 0;"><img src="http://web.heyneighbor.chat/assets/time.png" height="15px" style="veritcal-align: middle;  font-family: 'Open Sans', sans-serif; max-width: 100%; margin: 0; padding: 0;" /> 4d
																		<img src="http://web.heyneighbor.chat/assets/messages.png" height="15px" style="veritcal-align: middle; font-family: 'Open Sans', sans-serif; max-width: 100%; margin: 0; padding: 0;" /> 27 </p>

																</div>



																<a class="btn" style="font-family: 'Open Sans', sans-serif; color: black; text-decoration: none; font-weight: bold; text-align: center; cursor: pointer; display: inline-block; border-radius: 2px; background: #fec214; margin: 0 10px 0 0; padding: 10px 16px;">View All</a>

															</td>
														</tr>
													</table>
												</div>
											</div>

											<div class="column-wrap" style="font-family: 'Open Sans', sans-serif; max-width: 600px !important; margin: 0 auto; padding: 0; border: 1px;">

												<div class="column" style="font-family: 'Open Sans', sans-serif; width: 280px; float: left; height: 320px; border-radius: 2px; min-width: 279px; background: white; margin: 5px; padding: 0; border: 1px solid #c2c2c2;">
													<table style="font-family: 'Open Sans', sans-serif; width: 100%; margin: 0; padding: 0;">
														<tr style="font-family: 'Open Sans', sans-serif; margin: 0; padding: 0;">
															<td style="font-family: 'Open Sans', sans-serif; margin: 0; padding: 15px;">

																<h4 style="font-family: 'Open Sans', sans-serif; line-height: 1.1; color: #000; font-weight: 500; font-size: 23px; margin: 0 0 15px; padding: 0;"><strong style="font-family: 'Open Sans', sans-serif; margin: 0; padding: 0;">M G Road</strong></h4>
																<div style="height: 200px; font-family: 'Open Sans', sans-serif; margin: 0; padding: 0;">

																	<a href="shjdh.com" style="font-family: 'Open Sans', sans-serif; color: black; text-decoration: none; margin: 0; padding: 0;">
																		<p style="font-family: 'Open Sans', sans-serif; font-weight: normal; font-size: 14px; line-height: 1.6; margin: 0 0 10px; padding: 0;">#Poll: Hey Neighbor badminton meetup on Sunday</p>
																	</a>
																	<p style="font-family: 'Open Sans', sans-serif; font-weight: normal; font-size: 14px; line-height: 1.6; margin: 0 0 10px; padding: 0;"><img src="http://web.heyneighbor.chat/assets/time.png" height="15px" style="veritcal-align: middle; font-family: 'Open Sans', sans-serif; max-width: 100%; margin: 0; padding: 0;" /> 4d
																		<img src="http://web.heyneighbor.chat/assets/messages.png" height="15px" style="veritcal-align: middle;  font-family: 'Open Sans', sans-serif; max-width: 100%; margin: 0; padding: 0;" /> 27 </p>
																	<br style="font-family: 'Open Sans', sans-serif; margin: 0; padding: 0;" />
																	<a href="shjdh.com" style="font-family: 'Open Sans', sans-serif; color: black; text-decoration: none; margin: 0; padding: 0;">
																		<p style="font-family: 'Open Sans', sans-serif; font-weight: normal; font-size: 14px; line-height: 1.6; margin: 0 0 10px; padding: 0;">How many of you would like to have a new pub in BTM?</p>
																	</a>
																	<p style="font-family: 'Open Sans', sans-serif; font-weight: normal; font-size: 14px; line-height: 1.6; margin: 0 0 10px; padding: 0;"><img src="http://web.heyneighbor.chat/assets/time.png" height="15px" style="veritcal-align: middle;  font-family: 'Open Sans', sans-serif; max-width: 100%; margin: 0; padding: 0;" /> 4d
																		<img src="http://web.heyneighbor.chat/assets/messages.png" height="15px" style="veritcal-align: middle;  font-family: 'Open Sans', sans-serif; max-width: 100%; margin: 0; padding: 0;" /> 27 </p>

																</div>


																<a class="btn" style="font-family: 'Open Sans', sans-serif; color: black; text-decoration: none; font-weight: bold; text-align: center; cursor: pointer; display: inline-block; border-radius: 2px; background: #fec214; margin: 0 10px 0 0; padding: 10px 16px;">View All</a>

															</td>
														</tr>
													</table>
												</div>
											</div>
											<div class="column-wrap" style="font-family: 'Open Sans', sans-serif; max-width: 600px !important; margin: 0 auto; padding: 0; border: 1px;">

												<div class="column" style="font-family: 'Open Sans', sans-serif; width: 280px; float: left; height: 320px; border-radius: 2px; min-width: 279px; background: white; margin: 5px; padding: 0; border: 1px solid #c2c2c2;">
													<table style="font-family: 'Open Sans', sans-serif; width: 100%; margin: 0; padding: 0;">
														<tr style="font-family: 'Open Sans', sans-serif; margin: 0; padding: 0;">
															<td style="font-family: 'Open Sans', sans-serif; margin: 0; padding: 15px;">

																<h4 style="font-family: 'Open Sans', sans-serif; line-height: 1.1; color: #000; font-weight: 500; font-size: 23px; margin: 0 0 15px; padding: 0;"><strong style="font-family: 'Open Sans', sans-serif; margin: 0; padding: 0;">Whitefield</strong></h4>
																<div style="height: 200px; font-family: 'Open Sans', sans-serif; margin: 0; padding: 0;">

																	<a href="shjdh.com" style="font-family: 'Open Sans', sans-serif; color: black; text-decoration: none; margin: 0; padding: 0;">
																		<p style="font-family: 'Open Sans', sans-serif; font-weight: normal; font-size: 14px; line-height: 1.6; margin: 0 0 10px; padding: 0;">#Poll: Hey Neighbor badminton meetup on Sunday</p>
																	</a>
																	<p style="font-family: 'Open Sans', sans-serif; font-weight: normal; font-size: 14px; line-height: 1.6; margin: 0 0 10px; padding: 0;"><img src="http://web.heyneighbor.chat/assets/time.png" height="15px" style="veritcal-align: middle; font-family: 'Open Sans', sans-serif; max-width: 100%; margin: 0; padding: 0;" /> 4d
																		<img src="http://web.heyneighbor.chat/assets/messages.png" height="15px" style="veritcal-align: middle;  font-family: 'Open Sans', sans-serif; max-width: 100%; margin: 0; padding: 0;" /> 27 </p>
																	<br style="font-family: 'Open Sans', sans-serif; margin: 0; padding: 0;" />
																	<a href="shjdh.com" style="font-family: 'Open Sans', sans-serif; color: black; text-decoration: none; margin: 0; padding: 0;">
																		<p style="font-family: 'Open Sans', sans-serif; font-weight: normal; font-size: 14px; line-height: 1.6; margin: 0 0 10px; padding: 0;">How many of you would like to have a new pub in BTM?</p>
																	</a>
																	<p style="font-family: 'Open Sans', sans-serif; font-weight: normal; font-size: 14px; line-height: 1.6; margin: 0 0 10px; padding: 0;"><img src="http://web.heyneighbor.chat/assets/time.png" height="15px" style="veritcal-align: middle;  font-family: 'Open Sans', sans-serif; max-width: 100%; margin: 0; padding: 0;" /> 4d
																		<img src="http://web.heyneighbor.chat/assets/messages.png" height="15px" style="veritcal-align: middle;  font-family: 'Open Sans', sans-serif; max-width: 100%; margin: 0; padding: 0;" /> 27 </p>

																</div>
																<a class="btn" style="font-family: 'Open Sans', sans-serif; color: black; text-decoration: none; font-weight: bold; text-align: center; cursor: pointer; display: inline-block; border-radius: 2px; background: #fec214; margin: 0 10px 0 0; padding: 10px 16px;">View All</a>

															</td>
														</tr>
													</table>
												</div>
											</div>

											<br style="font-family: 'Open Sans', sans-serif; margin: 0; padding: 0;" />
											<br style="font-family: 'Open Sans', sans-serif; margin: 0; padding: 0;" />
										</td>
									</tr>
								</table>
								<!-- social & contact -->
								<table class="social" width="100%" style="font-family: 'Open Sans', sans-serif; width: 100%; background: white url(http://web.heyneighbor.chat/assets/footer.png); margin: 30px 0 0; padding: 0;" bgcolor="white" background="url(http://web.heyneighbor.chat/assets/footer.png)">
									<tr style="font-family: 'Open Sans', sans-serif; margin: 0; padding: 0;">
										<td style="font-family: 'Open Sans', sans-serif; margin: 0; padding: 0;">

											<table align="center" style="font-family: 'Open Sans', sans-serif; width: 100%; margin: 0; padding: 0;">
												<tr style="font-family: 'Open Sans', sans-serif; margin: 0; padding: 0;">
													<td align="center" style="font-family: 'Open Sans', sans-serif; margin: 0; padding: 0;">


														<p class="" style="font-family: 'Open Sans', sans-serif; font-weight: normal; font-size: 14px; line-height: 1.6; margin: 15px 0 10px; padding: 0;">
															<a href="https://www.facebook.com/Hey-Neighbor-855094421226090/" target="_blank" style="font-family: 'Open Sans', sans-serif; color: black; text-decoration: none; margin: 0; padding: 0;"> <img src="http://web.heyneighbor.chat/assets/facebook.png" height="50px" style=" font-family: 'Open Sans', sans-serif; max-width: 100%; margin: 0; padding: 0;" /></a>
															<a href="https://twitter.com/neighbor_hey" target="_blank" style="font-family: 'Open Sans', sans-serif; color: black; text-decoration: none; margin: 0; padding: 0;"><img src="http://web.heyneighbor.chat/assets/twitter.png" height="50px" style="font-family: 'Open Sans', sans-serif; max-width: 100%; margin: 0; padding: 0;" /></a>
														</p>
														<p style="font-family: 'Open Sans', sans-serif; font-weight: normal; font-size: 14px; line-height: 1.6; margin: 0 0 10px; padding: 0;"> Connect with us on Facebook and Twitter.
															<br style="font-family: 'Open Sans', sans-serif; margin: 0; padding: 0;" />
														</p>
														<p style="font-family: 'Open Sans', sans-serif; font-weight: normal; font-size: 14px; line-height: 1.6; margin: 0 0 10px; padding: 0;"> Get Hey Neighbor app on: </p>
														<p style="font-family: 'Open Sans', sans-serif; font-weight: normal; font-size: 14px; line-height: 1.6; margin: 0 0 10px; padding: 0;">
															<a href="https://play.google.com/store/apps/details?id=io.scrollback.neighborhoods" target="_blank" style="font-family: 'Open Sans', sans-serif; color: black; text-decoration: none; margin: 0; padding: 0;"><img src="http://web.heyneighbor.chat/assets/google.png" height="40px" style=" font-family: 'Open Sans', sans-serif; max-width: 100%; margin: 0; padding: 0;" /></a>
														</p>



													</td>
												</tr>
											</table>
											<!-- /column 1 -->
										</td>
									</tr>
								</table>
								<!-- /social & contact -->
							</td>
						</tr>
					</table>
				</div>

			</td>
			<td style="font-family: 'Open Sans', sans-serif; margin: 0; padding: 0;"></td>
		</tr>
	</table>
	<!-- /BODY -->
</body>

</html>