html
	body(style="margin-left: 2%;margin-right: 2%;" )			
		table(bgcolor="#000000" height="30px" width="100%")
			td
				img(src="http://scrollback.io/img/logod-54.png",style="vertical-align: middle;")
				a(href="http://scrollback.io/" style="text-decoration: none")
						span(style="color: #fff; font-weight:800;vertical-align: middle;" ) Scroll
						span(style="color: #fff;vertical-align: middle;") back
		table(bgcolor="#3CA" height="3px" width="100%")			
			td