<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"></html>
<head>
	<meta name="viewport" content="width=device-width"/>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<title>Welcome to Hey Neighbor</title>
	<style>
		h1{
			font-family: 'Open Sans Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; 
			font-size: 30px; 
			line-height: 1.2; 
			color: #000; 
			font-weight: 200; 
			margin: 10px 0; 
			padding: 0;
		}
		p{
			font-family: 'Open Sans', 'Myriad Pro', 'Helvetica Neue', Helvetica, Tahoma, 'Nimbus Sans', Arial, sans-serif; 
			font-size: 14px; 
			line-height: 1.6; 
			font-weight: normal; 
			margin: 0 0 10px; 
			padding: 0;
		}
		a{
			font-family: 'Open Sans', 'Myriad Pro', 'Helvetica Neue', Helvetica, Tahoma, 'Nimbus Sans', Arial, sans-serif; 
			font-size: 100%; 
			line-height: 1.6; 
			color: #2A5DB0;
			margin: 0; 
			padding: 0
		}
		tr{
			font-family: 'Open Sans', 'Myriad Pro', 'Helvetica Neue', Helvetica, Tahoma, 'Nimbus Sans', Arial, sans-serif; 
			font-size: 100%; 
			line-height: 1.6; 
			margin: 0; 
			padding: 0
		}
		table td div {
			font-family: 'Open Sans', 'Myriad Pro', 'Helvetica Neue', Helvetica, Tahoma, 'Nimbus Sans', Arial, sans-serif; 
			font-size: 100%; 
			line-height: 1.6;
		}
		img{
			margin: 10px 0 20px; 
			padding: 0;
			height: 60px;
			width: 300px;
		}
	</style>
	<body>
		<table style="width: 100%; margin: 0; padding: 20px;">
			<tr>
				<td></td>
				<td bgcolor="#FFFFFF" style="display: block !important; max-width: 600px !important; clear: both !important; margin: 0 auto; padding: 20px; border: 1px solid #f0f0f0;">
					<div style=" max-width: 600px; display: block; margin: 0 auto; padding: 0;">
						<table style="width: 100%; margin: 0; padding: 0;">
							<tr>
								<td><img src="https://github.com/scrollback/heyneighbor-site2/blob/gh-pages/assets/logotype.png?raw=true" alt="Hey Neighbor"/>
									<h1>Hello {{id}}, welcome to Hey Neighbor. </h1>
									<p>Thank you for downloading Hey Neighbor. You are now connected to over 200 localities in Bengaluru.</p>
									<p><a href="https://heyneighbor.chat/me">You can get started by following localities that interest you</a></p>
									<p><em style="color: #F00086">Ask</em> questions about your locality, seek help for your local needs or just be a good samaritan and help your neighbor out.</p>
									<p> Show us some love by following us on <a href="https://www.facebook.com/pages/Hey-Neighbour/855094421226090?fref=ts" style="color: #3b5998; text-decoration: none;"><b>Facebook</b></a> | <a href="https://twitter.com/neighbour_hey" style="text-decoration: none; color:   #1dcaff"><b>Twitter</b></a></p>
									<p>You can also reach out to us at <a href="mailto:neighbor@heyneighbor.chat">neighbor@heyneighbor.chat</a>.</p>
									<p>Your,<br/>Guy next door,<br/>Shreyas</p>
								</td>
							</tr>
						</table>
					</div>
				</td>
				<td></td>
			</tr>
		</table>
	</body>
</head>
