doctype transitional
html(xmlns='http://www.w3.org/1999/xhtml')
head
	meta(name='viewport', content='width=device-width')
	meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
	title Welcome to Scrollback
	link(rel='stylesheet', type='text/css', media='screen', href='//fonts.googleapis.com/css?family=Open+Sans:300,400,600')
	body(bgcolor='#f6f6f6', style='font-family: \'Open Sans\', \'Myriad Pro\', \'Helvetica Neue\', Helvetica, Tahoma, \'Nimbus Sans\', Arial, sans-serif; font-size: 100%; line-height: 1.6; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: none; width: 100% !important; height: 100%; margin: 0; padding: 0;')
		table(style='font-family: \'Open Sans\', \'Myriad Pro\', \'Helvetica Neue\', Helvetica, Tahoma, \'Nimbus Sans\', Arial, sans-serif; font-size: 100%; line-height: 1.6; width: 100%; margin: 0; padding: 20px;')
			tr(style='font-family: \'Open Sans\', \'Myriad Pro\', \'Helvetica Neue\', Helvetica, Tahoma, \'Nimbus Sans\', Arial, sans-serif; font-size: 100%; line-height: 1.6; margin: 0; padding: 0;')
				td
				td(bgcolor='#FFFFFF', style='font-family: \'Open Sans\', \'Myriad Pro\', \'Helvetica Neue\', Helvetica, Tahoma, \'Nimbus Sans\', Arial, sans-serif; font-size: 100%; line-height: 1.6; display: block !important; max-width: 600px !important; clear: both !important; margin: 0 auto; padding: 20px; border: 1px solid #f0f0f0;')
					div(style='font-family: \'Open Sans\', \'Myriad Pro\', \'Helvetica Neue\', Helvetica, Tahoma, \'Nimbus Sans\', Arial, sans-serif; font-size: 100%; line-height: 1.6; max-width: 600px; display: block; margin: 0 auto; padding: 0;')
						table(style='font-family: \'Open Sans\', \'Myriad Pro\', \'Helvetica Neue\', Helvetica, Tahoma, \'Nimbus Sans\', Arial, sans-serif; font-size: 100%; line-height: 1.6; width: 100%; margin: 0; padding: 0;')
							tr(style='font-family: \'Open Sans\', \'Myriad Pro\', \'Helvetica Neue\', Helvetica, Tahoma, \'Nimbus Sans\', Arial, sans-serif; font-size: 100%; line-height: 1.6; margin: 0; padding: 0;')
								td(style='font-family: \'Open Sans\', \'Myriad Pro\', \'Helvetica Neue\', Helvetica, Tahoma, \'Nimbus Sans\', Arial, sans-serif; font-size: 100%; line-height: 1.6; margin: 0; padding: 0;')
									img(style='margin: 10px 0 20px; padding: 0;', height='70px', width='300px', src='https://scrollback.io/s/scrollback.png', alt='Scrollback')
									h1(style='font-family: \'Open Sans Light\', \'Helvetica Neue\', Helvetica, Arial, \'Lucida Grande\', sans-serif; font-size: 30px; line-height: 1.2; color: #000; font-weight: 200; margin: 10px 0; padding: 0;') Hi #{id}, welcome to Scrollback!
									p(style='font-family: \'Open Sans\', \'Myriad Pro\', \'Helvetica Neue\', Helvetica, Tahoma, \'Nimbus Sans\', Arial, sans-serif; font-size: 14px; line-height: 1.6; font-weight: normal; margin: 0 0 10px; padding: 0;')
										| Thank you for signing up.
									p(style='font-family: \'Open Sans\', \'Myriad Pro\', \'Helvetica Neue\', Helvetica, Tahoma, \'Nimbus Sans\', Arial, sans-serif; font-size: 14px; line-height: 1.6; font-weight: normal; margin: 0 0 10px; padding: 0;')
										| If you need any help, feel free to drop us an email at 
										a(style='font-family: \'Open Sans\', \'Myriad Pro\', \'Helvetica Neue\', Helvetica, Tahoma, \'Nimbus Sans\', Arial, sans-serif; font-size: 100%; line-height: 1.6; color: #2A5DB0; margin: 0; padding: 0;', href='mailto:evans@scrollback.io') evans@scrollback.io
										| .
									h2(style='font-family: \'Open Sans\', \'Helvetica Neue\', Helvetica, Arial, \'Lucida Grande\', sans-serif; font-size: 20px; line-height: 1.2; color: #000; font-weight: 200; margin: 40px 0 10px; padding: 0;') Get started
									p(style='font-family: \'Open Sans\', \'Myriad Pro\', \'Helvetica Neue\', Helvetica, Tahoma, \'Nimbus Sans\', Arial, sans-serif; font-size: 14px; line-height: 1.6; font-weight: normal; margin: 0 0 10px; padding: 0;')
										| If you would like to join or create a room on Scrollback, you can
										a(style='font-family: \'Open Sans\', \'Myriad Pro\', \'Helvetica Neue\', Helvetica, Tahoma, \'Nimbus Sans\', Arial, sans-serif; font-size: 100%; line-height: 1.6; color: #2A5DB0; margin: 0; padding: 0;', href='http://scrollback.github.io') refer to this documentation
										| .
									h2(style='font-family: \'Open Sans\', \'Helvetica Neue\', Helvetica, Arial, \'Lucida Grande\', sans-serif; font-size: 20px; line-height: 1.2; color: #000; font-weight: 200; margin: 40px 0 10px; padding: 0;') Stay Connected
									p(style='font-family: \'Open Sans\', \'Myriad Pro\', \'Helvetica Neue\', Helvetica, Tahoma, \'Nimbus Sans\', Arial, sans-serif; font-size: 14px; line-height: 1.6; font-weight: normal; margin: 0 0 10px; padding: 0;')
										a(style='font-family: \'Open Sans\', \'Myriad Pro\', \'Helvetica Neue\', Helvetica, Tahoma, \'Nimbus Sans\', Arial, sans-serif; font-size: 100%; line-height: 1.6; color: #2A5DB0; margin: 0; padding: 0;', href='http://blog.scrollback.io') Checkout our blog 
										| for all the latest happenings on Scrollback.
									p(style='font-family: \'Open Sans\', \'Myriad Pro\', \'Helvetica Neue\', Helvetica, Tahoma, \'Nimbus Sans\', Arial, sans-serif; font-size: 14px; line-height: 1.6; font-weight: normal; margin: 0 0 10px; padding: 0;')
										| You can disable email notifications for scrollback in your account settings.
									p(style='font-family: \'Open Sans\', \'Myriad Pro\', \'Helvetica Neue\', Helvetica, Tahoma, \'Nimbus Sans\', Arial, sans-serif; font-size: 14px; line-height: 1.6; font-weight: normal; margin: 0 0 10px; padding: 0;') Thanks, have an awesome time on Scrollback.
									br
									p(style='font-family: \'Open Sans\', \'Myriad Pro\', \'Helvetica Neue\', Helvetica, Tahoma, \'Nimbus Sans\', Arial, sans-serif; font-size: 14px; line-height: 1.6; font-weight: normal; margin: 0 0 10px; padding: 0;') Regards,
										br
										| Priyanka Nag,
										br
										| Dev Evangelist, Scrollback
									p(style='font-family: \'Open Sans\', \'Myriad Pro\', \'Helvetica Neue\', Helvetica, Tahoma, \'Nimbus Sans\', Arial, sans-serif; font-size: 14px; line-height: 1.6; font-weight: normal; margin: 0 0 10px; padding: 0;')
										a(href='http://twitter.com/scrollbackio', style='font-family: \'Open Sans\', \'Myriad Pro\', \'Helvetica Neue\', Helvetica, Tahoma, \'Nimbus Sans\', Arial, sans-serif; font-size: 100%; line-height: 1.6; color: #2A5DB0; margin: 0; padding: 0;') Follow us on Twitter 
										| | 
										a(href='https://www.facebook.com/scrollback', style='font-family: \'Open Sans\', \'Myriad Pro\', \'Helvetica Neue\', Helvetica, Tahoma, \'Nimbus Sans\', Arial, sans-serif; font-size: 100%; line-height: 1.6; color: #2A5DB0; margin: 0; padding: 0;') Like us on Facebook 
										| | 
										a(href='https://github.com/scrollback/scrollback', style='font-family: \'Open Sans\', \'Myriad Pro\', \'Helvetica Neue\', Helvetica, Tahoma, \'Nimbus Sans\', Arial, sans-serif; font-size: 100%; line-height: 1.6; color: #2A5DB0; margin: 0; padding: 0;') Fork us on Github 
				td
		table(style='font-family: \'Open Sans\', \'Myriad Pro\', \'Helvetica Neue\', Helvetica, Tahoma, \'Nimbus Sans\', Arial, sans-serif; font-size: 100%; line-height: 1.6; width: 100%; clear: both !important; margin: 0; padding: 0;')
			tr(style='font-family: \'Open Sans\', \'Myriad Pro\', \'Helvetica Neue\', Helvetica, Tahoma, \'Nimbus Sans\', Arial, sans-serif; font-size: 100%; line-height: 1.6; margin: 0; padding: 0;')
				td
				td(style='font-family: \'Open Sans\', \'Myriad Pro\', \'Helvetica Neue\', Helvetica, Tahoma, \'Nimbus Sans\', Arial, sans-serif; font-size: 100%; line-height: 1.6; display: block !important; max-width: 600px !important; clear: both !important; margin: 0 auto; padding: 0;')
					div(style='font-family: \'Open Sans\', \'Myriad Pro\', \'Helvetica Neue\', Helvetica, Tahoma, \'Nimbus Sans\', Arial, sans-serif; font-size: 100%; line-height: 1.6; max-width: 600px; display: block; margin: 0 auto; padding: 0;')
						table(style='font-family: \'Open Sans\', \'Myriad Pro\', \'Helvetica Neue\', Helvetica, Tahoma, \'Nimbus Sans\', Arial, sans-serif; font-size: 100%; line-height: 1.6; width: 100%; margin: 0; padding: 0;')
							tr(style='font-family: \'Open Sans\', \'Myriad Pro\', \'Helvetica Neue\', Helvetica, Tahoma, \'Nimbus Sans\', Arial, sans-serif; font-size: 100%; line-height: 1.6; margin: 0; padding: 0;')
								td(align='center', style='font-family: \'Open Sans\', \'Myriad Pro\', \'Helvetica Neue\', Helvetica, Tahoma, \'Nimbus Sans\', Arial, sans-serif; font-size: 100%; line-height: 1.6; margin: 0; padding: 0;')
									p(style='font-family: \'Open Sans\', \'Myriad Pro\', \'Helvetica Neue\', Helvetica, Tahoma, \'Nimbus Sans\', Arial, sans-serif; font-size: 12px; line-height: 1.6; color: #666; font-weight: normal; margin: 0 0 10px; padding: 0;')
										a(href='http://scrollback.io', style='font-family: \'Open Sans\', \'Myriad Pro\', \'Helvetica Neue\', Helvetica, Tahoma, \'Nimbus Sans\', Arial, sans-serif; font-size: 100%; line-height: 1.6; color: #999; margin: 0; padding: 0;') Home 
										| | 
										a(href='http://scrollback.io/support', style='font-family: \'Open Sans\', \'Myriad Pro\', \'Helvetica Neue\', Helvetica, Tahoma, \'Nimbus Sans\', Arial, sans-serif; font-size: 100%; line-height: 1.6; color: #999; margin: 0; padding: 0;') Support 
				td

