<!-- Inliner Build Version 4380b7741bb759d6cb997545f3add21ad48f010b -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml" style="font-family: 'Open Sans', sans-serif; margin: 0; padding: 0;">
  <head>
<!-- If you delete this tag, the sky will fall on your head -->
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Hey, Neighbor!</title>
  </head>
  <body bgcolor="#FFFFFF" style="font-family: 'Open Sans', sans-serif; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: none; width: 100% !important; height: 100%; margin: 0; padding: 0;"><style type="text/css">
@font-face {
font-family: 'Open Sans'; font-style: normal; font-weight: 400; src: local('Open Sans'), local('OpenSans'), url('http://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3aCWcynf_cDxXwCLxiixG1c.ttf') format('truetype');
}
</style>
<table class="body-wrap" style="font-family: 'Open Sans', sans-serif; width: 100%; margin: 0; padding: 0;"><tr style="font-family: 'Open Sans', sans-serif; margin: 0; padding: 0;"><td style="font-family: 'Open Sans', sans-serif; margin: 0; padding: 0;"></td>
		<td class="container" bgcolor="#FFFFFF" style="font-family: 'Open Sans', sans-serif; margin: 0; padding: 0;">

			<div class="content" style="font-family: 'Open Sans', sans-serif; max-width: 600px; display: block; margin: 0 auto; padding: 15px;">
			<table style="font-family: 'Open Sans', sans-serif; width: 100%; margin: 0; padding: 0;"><tr style="font-family: 'Open Sans', sans-serif; margin: 0; padding: 0;"><td style="font-family: 'Open Sans', sans-serif; margin: 0; padding: 0;">
					<table class="social"  height="120px" style=" font-family: 'Open Sans', sans-serif; width: 100%; background: #ebebeb url(http://web.heyneighbor.chat/assets/mail-header.png); margin: 0px 0 0; padding: 0;" bgcolor="#ebebeb" background="url(http://web.heyneighbor.chat/assets/mail-header.png)"><tr align="center" style="font-family: 'Open Sans', sans-serif; margin: 0; padding: 0;"><td style="font-family: 'Open Sans', sans-serif; margin: 0; padding: 0;">

								<table align="center" style="font-family: 'Open Sans', sans-serif; width: 100%; margin: 0; padding: 0;"><tr style="font-family: 'Open Sans', sans-serif; margin: 0; padding: 0;"><td align="center" style="font-family: 'Open Sans', sans-serif; margin: 0; padding: 0;">


											<img class="img-responsive " height="80px" src="http://web.heyneighbor.chat/assets/lookhere3.png" style="font-family: 'Open Sans', sans-serif; max-width: 100%; margin: 0; padding: 0;" /></td>
									</tr></table><!-- /column 1 --></td>
						</tr></table><!-- /social & contact --><h3 style="font-family: 'Open Sans', sans-serif; line-height: 1.1; color: #000; font-weight: 500; font-size: 27px; margin: 40px 0 15px; padding: 0;"> <img src="http://web.heyneighbor.chat/assets/coloredlogo.png" height= "40px" style=" vertical-align: middle; font-family: 'Open Sans', sans-serif; max-width: 100%; margin: 0; padding: 0;" /><strong style="font-family: 'Open Sans', sans-serif; margin: 0; padding: 0;"></strong></h3>
						<p style="font-family: 'Open Sans', sans-serif; font-weight: normal; font-size: 14px; line-height: 1.6; margin: 0 0 10px; padding: 0;">Thank you for joining us!  You are now connected to over 200 localities in your city. </p>
						<a class="btn" style="border-radius: 2px; color: black; font-family: 'Open Sans', sans-serif; text-decoration: none; font-weight: bold; text-align: center; cursor: pointer; display: inline-block; background: #fec214; margin: 0 10px 0 0; padding: 10px 16px; border: #fec214;" href="https://heyneighbor.chat/me" target="_blank">Get Started</a>
						<br style="font-family: 'Open Sans', sans-serif; margin: 0; padding: 0;" /><p style="font-family: 'Open Sans', sans-serif; font-weight: normal; font-size: 14px; line-height: 1.6; margin: 0 0 10px; padding: 0;"> </p>
						<p style="font-family: 'Open Sans', sans-serif; font-weight: normal; font-size: 14px; line-height: 1.6; margin: 0 0 10px; padding: 0;">Ask questions about your locality, seek help for your local needs or just be a good samaritan and help your neighbor out. From midnight chai to a Badminton buddy, everything right next door :-)</p>

						<p style="font-family: 'Open Sans', sans-serif; font-weight: normal; font-size: 14px; line-height: 1.6; margin: 0 0 10px; padding: 0;">If you have questions, feedback or just want to say 'hey', drop me an email at shreyas@heyneighbor.chat.</p>

						<p style="font-family: 'Open Sans', sans-serif; font-weight: normal; font-size: 14px; line-height: 1.6; margin: 0 0 10px; padding: 0;">Here is to knowing your neighborhood.</p>

						<p style="font-family: 'Open Sans', sans-serif; font-weight: normal; font-size: 14px; line-height: 1.6; margin: 0 0 10px; padding: 0;">Your guy next door,</p>

						<p style="font-family: 'Open Sans', sans-serif; font-weight: normal; font-size: 14px; line-height: 1.6; margin: 0 0 10px; padding: 0;">Shreyas</p>


						<br style="font-family: 'Open Sans', sans-serif; margin: 0; padding: 0;" /><br style="font-family: 'Open Sans', sans-serif; margin: 0; padding: 0;" />
				<table class="social" width="100%" style="font-family: 'Open Sans', sans-serif; width: 100%; background: #ebebeb url(http://web.heyneighbor.chat/assets/footer.png); margin: 0; padding: 0;" bgcolor="#ebebeb" background="url(http://web.heyneighbor.chat/assets/footer.png)"><tr style="font-family: 'Open Sans', sans-serif; margin: 0; padding: 0;"><td style="font-family: 'Open Sans', sans-serif; margin: 0; padding: 0;">

									<table align="center" style="font-family: 'Open Sans', sans-serif; width: 100%; margin: 0; padding: 0;">
										<tr style="font-family: 'Open Sans', sans-serif; margin: 0; padding: 0;">
										<td align="center" style="font-family: 'Open Sans', sans-serif; margin: 0; padding: 0;">


												<p class="" style="font-family: 'Open Sans', sans-serif; font-weight: normal; font-size: 14px; line-height: 1.6; margin: 15px 0 10px; padding: 0;"> <a href="https://www.facebook.com/Hey-Neighbor-855094421226090/" target="_blank" style="font-family: 'Open Sans', sans-serif; color: #2BA6CB; margin: 0; padding: 0;"> <img src="http://web.heyneighbor.chat/assets/facebook.png" height="50px" style=" font-family: 'Open Sans', sans-serif; max-width: 100%; margin: 0; padding: 0;" /></a>
												 <a href="https://twitter.com/heyneighborchat" target="_blank" style="font-family: 'Open Sans', sans-serif; color: #2BA6CB; margin: 0; padding: 0;"><img src="http://web.heyneighbor.chat/assets/twitter.png" height="50px"style=" font-family: 'Open Sans', sans-serif; max-width: 100%; margin: 0; padding: 0;" /></a>  </p>
												<p style="font-family: 'Open Sans', sans-serif; font-weight: normal; font-size: 14px; line-height: 1.6; margin: 0 0 10px; padding: 0;"> Connect with us on Facebook and Twitter.<br style="font-family: 'Open Sans', sans-serif; margin: 0; padding: 0;" /></p><p style="font-family: 'Open Sans', sans-serif; font-weight: normal; font-size: 14px; line-height: 1.6; margin: 0 0 10px; padding: 0;"> Get Hey Neighbor app on: </p>
												<p style="font-family: 'Open Sans', sans-serif; font-weight: normal; font-size: 14px; line-height: 1.6; margin: 0 0 10px; padding: 0;"> <a href="https://play.google.com/store/apps/details?id=io.scrollback.neighborhoods" target="_blank" style="font-family: 'Open Sans', sans-serif; color: #2BA6CB; margin: 0; padding: 0;"><img src="http://web.heyneighbor.chat/assets/google.png" height="40px" style=" font-family: 'Open Sans', sans-serif; max-width: 100%; margin: 0; padding: 0;" /></a>
												</p>
										</td>
										</tr>
								</table>
						</td>
					</tr>
				</table>
				</td>
				</tr>
				<tr>
					<td style="background: #eee; padding: 10px; font-size: 0.8em; color: #999">
						<p>If you don't want these email notifications anymore,
							<a style="color: #555" href="https://{{domain}}/r/unsubscribe?email={{token}}">
								Unsubscribe
							</a>. Copyright &copy; 2014 Askabt Pte. Ltd.
						</p>
					</td>
				</tr>
				</table>
			</div>

		</td>
		<td style="font-family: 'Open Sans', sans-serif; margin: 0; padding: 0;"></td>
	</tr></table><!-- /BODY --></body>
</html>
