html
	head
		title facebook callback
	body
		script
			var code = (location.search.substring(1).split("&").filter(function (seg) {
				return seg.indexOf("code=") === 0;
			})[0] || "").substr(5);
			
			window.opener.postMessage({
				type: "auth",
				provider: "google",
				code: code
			},"*");
			window.close();
