extends layout

block append styles
	style.
		#notification {
			position: absolute; top: 40px; left: 0; right: 0; height: 40px;
			line-height: 40px; color: #fff; background: #3ca;
			padding: 0 16px;
			-moz-transition: all 0.2s ease-out;
			-webkit-transition: all 0.2s ease-out;
			-o-transition: all 0.2s ease-out;
			-ms-transition: all 0.2s ease-out;
			transition: all 0.2s ease-out;
		}
		#notification.hidden { height: 0px; }
		#content { padding: 0 32px; }
		nav { padding-right: 40px; }
		footer { display: none; }

block append scripts
	script(src='//code.jquery.com/jquery.min.js')
	script.
		function notify(message) {
			var nd = $("#notification");
			if(!nd.size()) {
				nd = $("<div id='notification'>").appendTo(document.body);
			} else {
				nd.removeClass("hidden"); 
			}
			nd.text(message);
			setTimeout(function() { nd.addClass("hidden"); },3000);
		}
		
		function show() {
			$("#notification").addClass("hidden");
			$("#content").show();
		}
		function hide() {
			$("#content").hide();
		}