<div>
	<h1 ng-init="inLogin = true">
		<button class="left"><span ng-click="goBack()" class="fa fa-arrow-left"></span></button><span> Login</span>
	</h1>
	<form ng-submit="nickChange()" id="profile">
		<label><button class="longButton" type="button" ng-click="personaLogin()"> SIGN INTO SCROLLBACK </button> </label>
		<label >
			<div>or Change My Nick to : </div>
			<input class = "nickBox" ng-model="displayNick"><button class="default" type="button" ng-click="nickChange()" style = "width: 19%"> Change </button>
		</label>
		<div class="buttonGroup">
			<button class="cancel" type="button" ng-click="cancelScreen()"> Cancel </button>
		</div>
	</form>
</div>