<h1>
	<a class = "scrollbackButton showPointer" ng-click="goToRoomsView()"><span class="fa fa-arrow-left btn left"></span></a>
	<span>{{room.id || "No room selected"}}</span>
	<span ng-show = "!room.owner" ng-click = "goToConfigure()" title = "claim"><span class="button faButton showPointer fa fa-tags right"  ></span><span class="showPointer buttonText">CLAIM</span>
	</span>
	<span ng-show = "isOwner()" ng-click = "goToConfigure()" title = "configure"><span class="button faButton showPointer fa fa-gears right" ></span><span class="showPointer buttonText">CONFIGURE</span>
	</span>
	<span title = "Unfollow Room"  ng-click="partRoom()" ng-show = "hasMembership()" ><span class="button faButton showPointer fa fa-repeat right" ></span><span class="showPointer buttonText">UNFOLLOW</span>
	</span>
	<span title = "Follow Room"  ng-click="joinRoom()" ng-show = "!hasMembership()"><span class="button faButton showPointer right fa fa-check-square-o"></span><span class="showPointer buttonText">FOLLOW</span>
	</span>
	<span ng-show = "user.owner==user.id" ng-click = "logout()" title = "logout"><span class="button faButton showPointer fa fa-power-off right" ></span><span class="showPointer buttonText">LOGOUT</span></span>
</h1>
<p id="description" class = "collapse expanded"> {{ room.description || "This room does not have a description yet!"}} </p>
<div id="members"> 
	<span ng-repeat = "i in room.members">
		<img src="{{i.picture}}" class = "face present" title="{{i.id}}"/>
	</span>
</div>
