<h1>
	<a id='backbutton' class='button fa fa-arrow-left left' ng-click='goToRoomsView()'></a>
	<span class="ng-cloak">{{room.id || "No room selected"}}</span>
	
	<a class='button buttonText fa fa-tags right' ng-show='!room.owner' ng-click='goToConfigure()'>Claim</a>
	<a class='button buttonText fa fa-gears right' ng-show='isOwner()' ng-click='goToConfigure()'>Configure</a>
	
	<a class='button buttonText fa fa-check-square-o right' ng-show='!hasMembership()' ng-click='joinRoom()'>Follow</a>
	<a class='button buttonText fa fa-repeat right' ng-show='hasMembership()' ng-click='partRoom()'>Unfollow</a>
	<a class='button buttonText fa fa-code right' ng-click='toggleEmbed()'>Embed</a>
	
	
</h1>

<div id= "embedScript"> 
<pre>
&ltscript>
 window.scrollback = {
  streams:["{{room.id}}"],
  theme: 'light',
  ticker: true
 };
 
 /***** don't edit below *****/
 (function(d,s,h,e){e=d.createElement(s);e.async=1;
 e.src=h+'/client.min.js';scrollback.host=h;
 d.getElementsByTagName(s)[0].parentNode.appendChild(e);}
 (document,'script',(location.protocol=="https:"?"https:":"http:")+'//scrollback.io'));
&lt/script&gt
</pre>
</div>

<p id="description" class = "collapse expanded"> {{ room.description || "This room does not have a description yet!"}} </p>

<div id="members"> 
	<span ng-repeat = "i in room.members">
		<img ng-src="{{i.picture}}" class = "face present" title="{{i.id}}"/>
	</span>
<!--
	<span ng-repeat = "i in room.usersPresent">
		<img src="{{i.picture}}" class = "face present" title="{{i.id}}"/>
	</span>
-->
</div>