<div class="room" ng-show = "!isExists(user.membership)">
	<h1>
		<a class="noChange">
			<a ng-show="room.id" ng-click="goBack()"><span class="showPointer fa fa-arrow-left btn left"></span></a>
			<span ng-show="room.id || !isGuest()"> You are not following any rooms yet. If you follow a room, it will show up here! </span>
		</a>
	</h1>
</div>
<div ng-show = "isExists(user.membership)"> 
	<h1>
		<a ng-show="room.id" ng-click="goBack()" ><span class="button buttonText fa fa-arrow-left btn left"></span></a>
		<span id="viewTitle" /> <br/>
	</h1>
	<h1 class="room" ng-repeat="m in user.membership">
		<div>
			<a class="showPointer noChange" ng-click = "goTo(m)">
				<span> {{m}} </span>
			</a>
			<span class="right fa fa-info"></span>
		</div>
	</h1>
	<p id="description"> 
	</p>
</div>
