@import url('widgets.less');

@conv-color1: #b58900;
@conv-color2: #cb4b16;
@conv-color3: #dc322f;
@conv-color4: #d33682;
@conv-color5: #6c71c4;
@conv-color6: #268bd2;
@conv-color7: #2aa198;

@bar-height: 3.6em;

.fixed(@width: 50%;) {
    position: fixed;
    top: 0;
    bottom: 0;
    width: @width;
    margin: 0;
    padding: 0;
    z-index: 1;
}

.absolute(@top: 0; @bottom: 0) {
    position: absolute;
    top: @top;
    bottom: @bottom;
    left: 0;
    right: 0;
    z-index: -1;
    overflow: auto;
}

.rooms {
    background-color: @dark-color;
    left: 0;
    min-height: 100%;
    overflow: auto;

    .fixed(15%);

    ul {
        list-style: none;

        li {
            a {
                color: darken(@light-color, 10%);
                display: block;
                padding: 1em;
                font-weight: 700;
                border-bottom: 1px solid lighten(@dark-color, 5%);

                .ease;

                &.current {
                    position: relative;
                    background-color: lighten(@dark-color, 5%);

                    &:after {
                        right: 0;
                        top: 1.2em;
                        position: absolute;
                        display: block;
                        content: '';
                        border-top: .6em solid transparent;
                        border-bottom: .6em solid transparent;
                        border-right: .55em solid darken(@light-color, 5%);
                    }
                }

                &:hover, &.current:hover {
                    background-color: lighten(@dark-color, 10%);
                }

                .unread {
                    float: right;
                    text-align: center;
                    min-width: 2em;
                    font-size: .9em;
                    background-color: @accent-color;
                    color: @light-color;
                    border-radius: @roundness;
                }
            }
        }
    }
}

.meta {
    background-color: darken(@light-color, 5%);
    color: @dark-color;
    border-right: 1px solid darken(@light-color, 10%);
    left: 15%;

    .fixed(30%);

    .tabs {
        list-style: none;
        width: 100%;

        li {
            text-align: center;
            float: left;
            width: 50%;
            padding: 1em 0;
            border-bottom: 1px solid fade(@dark-color, 10%);
            color: fade(@dark-color, 50%);
            cursor: pointer;

            .ease;

            &:hover { color: @dark-color; }

            &.current {
                position: relative;
                color: @dark-color;
                border-color: @accent-color;
            }

            h2 {
                margin: 0;
                font-size: 1.6em;
            }
        }
    }

    .meta-content {
        pointer-events: none;

        .absolute(@bar-height; 0);
        .opacity(0);
        .ease;

        &.current {
            pointer-events: auto;

            .opacity(1);
        }

        .member-list {
            padding: .5em;

            .member {
                display: inline-block;
                text-align: center;
                text-overflow: ellipsis;
                overflow: hidden;
                padding: .3em;
                width: 6em;
                font-weight: 400;
                color: @dark-color;

                &.offline {
                    .opacity(.5);

                    img {
                        filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
                        filter: gray; /* IE6-9 */
                        -webkit-filter: grayscale(100%);
                    }
                }

                img {
                    display: block;
                    width: 48px;
                    height: 48px;
                    border-radius: @roundness;
                    margin: .3em auto;
                }

                &:hover {
                    background-color: @accent-color;
                    color: @light-color;
                    border-radius: @roundness;

                    .ease;
                }
            }
        }

        .conversation {
            display: block;
            padding: 1em 1em .5em 1em;
            border-right: .3em solid @accent-color;
            font-weight: 400;
            color: @dark-color;

            h3 { margin: 0; }

            .ease;

            &.conv-1 { border-right-color: @conv-color1; }

            &.conv-2 { border-right-color: @conv-color2; }

            &.conv-3 { border-right-color: @conv-color3; }

            &.conv-4 { border-right-color: @conv-color4; }

            &.conv-5 { border-right-color: @conv-color5; }

            &.conv-6 { border-right-color: @conv-color6; }

            &.conv-7 { border-right-color: @conv-color7; }

            &.current { background-color: fade(@dark-color, 10%); }

            &:hover, &.current:hover {
                background-color: @accent-color;
                color: @light-color;
            }
        }
    }
}

.mainview {
    background-color: @light-color;
    color: @dark-color;
    right: 0;

    .fixed(55%);

    .titlebar {
        height: @bar-height;;
        z-index: 1;
        text-align: right;
        background-color: darken(@light-color, 5%);
        border-bottom: 1px solid darken(@light-color, 20%);
        padding: .5em;
        box-shadow: 0 3px 2px -1px fade(@dark-color, 5%);

        .icon {
            float: left;
            height: 2.6em;
            width: 2.6em;
            padding: 0;
            border-radius: @roundness;
        }

        .title {
            float: left;
            font-size: 1.8em;
            padding: .25em .3em;
            margin: 0;
        }

        .user-area {
            font-weight: 700;
            color: @dark-color;

            &:hover { color: darken(@dark-color, 10%); }

            .username {
                line-height: 2.6em;
                padding-right: 1em;
            }

            img {
                float: right;
                height: 2.6em;
                width: 2.6em;
                border-radius: @roundness;
            }
        }
    }

    .chat-area {
        .absolute(@bar-height; @bar-height);

        .chat {
            position: relative;
            padding: 1em;
            margin: 0;
            padding-left: 25%;
            border-top: 1px solid darken(@light-color, 5%);
            max-height: 12em;
            overflow: hidden;

            &.long {
                cursor: pointer;

                .ease;

                &:hover {
                    &:after { padding: 1em 0; }
                }

                &:after {
                    display: block;
                    content: "";
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    padding: 3em 0;
                    background-image: -o-linear-gradient(bottom, fade(@light-color, 0%) 0%, @light-color 100%);
                    background-image: -moz-linear-gradient(bottom, fade(@light-color, 0%) 0%, @light-color 100%);
                    background-image: -webkit-linear-gradient(bottom, fade(@light-color, 0%) 0%, @light-color 100%);
                    background-image: -ms-linear-gradient(bottom, fade(@light-color, 0%) 0%, @light-color 100%);
                    background-image: linear-gradient(to bottom, fade(@light-color, 0%) 0%, @light-color 100%);

                    .ease;
                }

                &.active {
                    max-height: 20em;
                    overflow: auto;

                    &:after { display: none; }
                }
            }

            .clearfloat;

            &:before {
                float: left;
                margin: .6em 0 auto -25%;
                height: .5em;
                width: .5em;
                border-radius: .5em;
                background-color: @accent-color;
            }

            &.conv-1 {
                &:before { background-color: @conv-color1; }
            }

            &.conv-2 {
                &:before { background-color: @conv-color2; }
            }

            &.conv-3 {
                &:before { background-color: @conv-color3; }
            }

            &.conv-4 {
                &:before { background-color: @conv-color4; }
            }

            &.conv-5 {
                &:before { background-color: @conv-color5; }
            }

            &.conv-6 {
                &:before { background-color: @conv-color6; }
            }

            &.conv-7 {
                &:before { background-color: @conv-color7; }
            }

            .nick {
                float: left;
                margin-left: -20%;
                padding-right: 2em;
                font-weight: 700;

                a {
                    color: @dark-color;

                    &:focus, &:hover, &:active { color: darken(@dark-color, 10%); }
                }
            }
        }

        .timestamp {
            width: 100%;
            text-align: center;
            font-style: italic;
            font-size: .9em;
            padding-top: .8em;
            padding-bottom: .2em;
            margin: 0;

            .zigzag(darken(@light-color, 2%); @light-color; top);

            & + .chat {
                border-top: none;
                padding-top: 2em;

                .zigzag(@light-color; darken(@light-color, 2%); top);
            }
        }
    }

    .chat-input {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 100%;
        padding: .5em 1em;
        min-height: @bar-height;
        background-color: darken(@light-color, 5%);

        .textarea {
            word-wrap: break-word;
            width: 100%;
            padding: .5em 1em;
            min-height: 2.7em;
            max-height: 12em;
            border-radius: @roundness;
            overflow: auto;

            .entry;
        }
    }
}