body {
    background: transparent;
    color: black;
    font-family: Georgia, Times, "Times New Roman", serif;
}

a, a:visited {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

a:after {
    content: " ("attr(href)") ";
    color: #3ca;
}

a[href^="#"]:after, a[href^="/"]:after { content: ""; }

abbr[title]:after { content: " ("attr(title)")"; }

p {
    orphans: 3;
    widows: 3;
}

h1 {
    page-break-after: avoid;
    orphans: 3;
    widows: 3;
}

h2 {
    page-break-after: avoid;
    orphans: 3;
    widows: 3;
}

pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
}

code {
    font-weight: bold;
    font-size: 1.2em;
    font-family: monospace;
    line-height: 1.4em;
}

thead { display: table-header-group; }

tr, img { page-break-inside: avoid; }

img { display: block; }

footer { border-top: 1px solid #999; }

.slider {
    padding-left: 0;
    list-style: none;
}

.price:before { content: "Price: "; }

.sub:before { content: " ("; }

.sub:after { content: ")"; }

.large-logo, .fork, .arrow, .button, .links, .modal, .credit { display: none; }