/* definitions */
/* animations and transitions */
@-webkit-keyframes bounce {
  0%,
  10%,
  30%,
  50%,
  100% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  20% {
    -webkit-transform: translate(0, -30px);
    -moz-transform: translate(0, -30px);
    -ms-transform: translate(0, -30px);
    transform: translate(0, -30px);
  }
  40% {
    -webkit-transform: translate(0, -15px);
    -moz-transform: translate(0, -15px);
    -ms-transform: translate(0, -15px);
    transform: translate(0, -15px);
  }
}
@-moz-keyframes bounce {
  0%,
  10%,
  30%,
  50%,
  100% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  20% {
    -webkit-transform: translate(0, -30px);
    -moz-transform: translate(0, -30px);
    -ms-transform: translate(0, -30px);
    transform: translate(0, -30px);
  }
  40% {
    -webkit-transform: translate(0, -15px);
    -moz-transform: translate(0, -15px);
    -ms-transform: translate(0, -15px);
    transform: translate(0, -15px);
  }
}
@-ms-keyframes bounce {
  0%,
  10%,
  30%,
  50%,
  100% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  20% {
    -webkit-transform: translate(0, -30px);
    -moz-transform: translate(0, -30px);
    -ms-transform: translate(0, -30px);
    transform: translate(0, -30px);
  }
  40% {
    -webkit-transform: translate(0, -15px);
    -moz-transform: translate(0, -15px);
    -ms-transform: translate(0, -15px);
    transform: translate(0, -15px);
  }
}
@keyframes bounce {
  0%,
  10%,
  30%,
  50%,
  100% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  20% {
    -webkit-transform: translate(0, -30px);
    -moz-transform: translate(0, -30px);
    -ms-transform: translate(0, -30px);
    transform: translate(0, -30px);
  }
  40% {
    -webkit-transform: translate(0, -15px);
    -moz-transform: translate(0, -15px);
    -ms-transform: translate(0, -15px);
    transform: translate(0, -15px);
  }
}
@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-ms-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* reset css to reduce browser inconsistencies */
* {
  vertical-align: baseline;
  font-weight: inherit;
  font-family: inherit;
  font-style: inherit;
  font-size: 100%;
  border: none;
  outline: 0;
  padding: 0;
  margin: 0;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
}
[hidden],
template {
  display: none;
}
a {
  background: transparent;
}
a:hover,
a:focus,
a:active {
  outline: 0;
}
em {
  font-style: italic;
}
svg:not(:root) {
  overflow: hidden;
}
textarea {
  overflow: auto;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* custom grid system */
[class^='col-'] {
  width: 100%;
  padding: 1em 0 1em 0;
}
@media only screen and (min-width: 700px) {
  [class^='col-'] {
    float: left;
    padding: 1em 2em 1em 0;
  }
  [class^='col-']:last-of-type {
    padding-right: 0;
  }
}
.clearfloat {
  content: "";
  display: table;
  clear: both;
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .grid .col-1-5 {
    float: left;
    width: 50%;
    padding: 1em 1em 1em 0;
  }
  .grid .col-1-5:nth-of-type(2),
  .grid .col-1-5:nth-of-type(4),
  .grid .col-1-5:nth-of-type(5) {
    padding-right: 0;
  }
  .grid .col-1-5:nth-of-type(5) {
    width: 100%;
  }
}
@media only screen and (min-width: 480px) and (max-width: 700px) {
  .grid .col-1-3 {
    float: left;
    width: 50%;
    padding: 1em 1em 1em 0;
  }
  .grid .col-1-3:nth-of-type(2),
  .grid .col-1-3:nth-of-type(3) {
    padding-right: 0;
  }
  .grid .col-1-3:nth-of-type(3) {
    width: 100%;
  }
  .grid .col-1-5 {
    float: left;
    width: 33.33%;
    padding: 1em 1em 1em 0;
  }
  .grid .col-1-5:nth-of-type(3),
  .grid .col-1-5:nth-of-type(5) {
    padding-right: 0;
  }
  .grid .col-1-5:nth-of-type(4),
  .grid .col-1-5:nth-of-type(5) {
    width: 50%;
  }
}
@media only screen and (min-width: 700px) {
  .grid .col-1-5 {
    width: 20%;
  }
  .grid .col-2-5 {
    width: 40%;
  }
  .grid .col-3-5 {
    width: 60%;
  }
  .grid .col-4-5 {
    width: 80%;
  }
  .grid .col-1-3 {
    width: 33.333333333333336%;
  }
  .grid .col-2-3 {
    width: 66.66666666666667%;
  }
  .grid .col-1-2 {
    width: 50%;
  }
}
.grid:after {
  content: "";
  display: table;
  clear: both;
}
/* style rules */
html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #ffffff;
  color: #333333;
  line-height: 21px;
  font-size: 14px;
  font-family: "Open Sans", "Myriad Pro", Helvetica, Tahoma, "Nimbus Sans", Arial, sans-serif;
  font-weight: 400;
}
a {
  font-weight: bold;
  color: #29a388;
  text-decoration: none;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  transition: 0.5s ease;
}
a:hover,
a:focus {
  color: #33ccaa;
}
a:active {
  color: #1f7a66;
}
img {
  max-width: 100%;
}
.headings {
  line-height: 1em;
  font-family: "Open Sans", "Open Sans Light", Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-weight: 300;
  margin: .5em 0;
}
h1 {
  font-size: xx-large;
  line-height: 1em;
  font-family: "Open Sans", "Open Sans Light", Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-weight: 300;
  margin: .5em 0;
}
h2 {
  font-size: x-large;
  line-height: 1em;
  font-family: "Open Sans", "Open Sans Light", Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-weight: 300;
  margin: .5em 0;
}
h3 {
  font-weight: 400;
  font-size: large;
  line-height: 1em;
  font-family: "Open Sans", "Open Sans Light", Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-weight: 300;
  margin: .5em 0;
}
p {
  margin: .5em 0;
}
.inputs {
  display: inline-block;
  margin: 1em 0;
  padding: .8em 2em;
  border-radius: 2px;
}
input[type=submit] {
  background-color: #33ccaa;
  border: 1px solid #33ccaa;
  color: #ffffff;
  text-align: center;
  font-weight: 700;
  cursor: pointer;
  text-transform: uppercase;
  display: inline-block;
  margin: 1em 0;
  padding: .8em 2em;
  border-radius: 2px;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  transition: 0.5s ease;
}
input[type=submit]:hover,
input[type=submit]:focus {
  background-color: #29a388;
  border: 1px solid #29a388;
  color: #ffffff;
}
input[type=submit]:active {
  background-color: #1f7a66;
  border: 1px solid #1f7a66;
  color: #ffffff;
}
input[type=entry] {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  color: #333333;
  display: inline-block;
  margin: 1em 0;
  padding: .8em 2em;
  border-radius: 2px;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  transition: 0.5s ease;
}
input[type=entry]:hover,
input[type=entry]:focus,
input[type=entry]:active {
  border: 1px solid #33ccaa;
  outline: none;
}
code {
  font-weight: 600;
  font-size: 1.2em;
  font-family: Consolas, "Andale Mono", "Lucida Console", "Nimbus Mono", "Courier New", monospace;
  line-height: 1.4em;
}
section {
  padding: 1em;
}
@media only screen and (min-width: 700px) {
  section {
    padding: 2em;
  }
}
footer {
  border-top: 1px solid #1a1a1a;
  background-color: #333333;
  color: #cccccc;
  font-size: .9em;
  text-align: center;
  padding: 1em;
}
@media only screen and (min-width: 700px) {
  footer {
    padding: 2em;
  }
}
footer a {
  color: #cccccc;
}
.button {
  background-color: #33ccaa;
  border: 1px solid #33ccaa;
  color: #ffffff;
  text-align: center;
  font-weight: 700;
  cursor: pointer;
  text-transform: uppercase;
  display: inline-block;
  margin: 1em 0;
  padding: .8em 2em;
  border-radius: 2px;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  transition: 0.5s ease;
}
.button:hover,
.button:focus {
  background-color: #29a388;
  border: 1px solid #29a388;
  color: #ffffff;
}
.button:active {
  background-color: #1f7a66;
  border: 1px solid #1f7a66;
  color: #ffffff;
}
.container {
  margin: 1em auto;
  max-width: 68em;
}
#cover {
  position: relative;
}
.coverbg {
  width: 100%;
  height: 100%;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}
.cover {
  position: relative;
  display: table;
  width: 100%;
  height: 100%;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}
.link-highlight {
  color: #ffffff;
  border-color: rgba(255, 255, 255, 0.5);
}
.link-normal {
  color: rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  cursor: pointer;
}
.link-normal:hover,
.link-normal:focus,
.link-normal:active {
  color: #ffffff;
  border-color: rgba(255, 255, 255, 0.5);
}
.cover-content {
  position: relative;
  display: table-cell;
  height: 100%;
  vertical-align: middle;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  transition: 0.5s ease;
}
.cover-content .slides {
  overflow-x: hidden;
}
.cover-content .slides .slider {
  position: relative;
  left: 0;
  margin: 0;
  padding: 0;
  width: 400%;
  height: 100%;
  list-style: none;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  transition: 0.5s ease;
}
.cover-content .slides .slider a {
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.cover-content .slides .slider a:hover,
.cover-content .slides .slider a:focus {
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
}
.cover-content .slides .slider a:active {
  color: rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.cover-content .slides .slider > li {
  float: left;
  width: 25%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  transition: 0.5s ease;
}
.cover-content .slides .slider > li h1 {
  font-size: 2.5em;
}
.cover-content .links ul {
  list-style: none;
}
.cover-content .links ul li {
  display: inline;
  text-transform: uppercase;
  word-break: keep-all;
  line-height: 3em;
  font-weight: 700;
  letter-spacing: .0714em;
}
.cover-content .links ul li:after {
  content: " / ";
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
}
.cover-content .links ul li:last-child:after {
  content: none;
}
.cover-content .links ul li a {
  color: rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  cursor: pointer;
}
.cover-content .links ul li a:hover,
.cover-content .links ul li a:focus,
.cover-content .links ul li a:active {
  color: #ffffff;
  border-color: rgba(255, 255, 255, 0.5);
}
.cover-bg div {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  transition: 0.5s ease;
  width: 100%;
  height: 100%;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}
.cover-bg .bg-home {
  background-image: url(../img/bg-home-320.jpg);
}
@media only screen and (min-width: 320px) {
  .cover-bg .bg-home {
    background-image: url(../img/bg-home-700.jpg);
  }
}
@media only screen and (min-width: 700px), only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 320px), only screen and (min--moz-device-pixel-ratio: 2) and (min-width: 320px), only screen and (-o-min-device-pixel-ratio: 2/1) and (min-width: 320px), only screen and (min-device-pixel-ratio: 2) and (min-width: 320px), only screen and (min-resolution: 192dpi) and (min-width: 320px), only screen and (min-resolution: 2dppx) and (min-width: 320px) {
  .cover-bg .bg-home {
    background-image: url(../img/bg-home-1300.jpg);
  }
}
@media only screen and (min-width: 1300px), only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 700px), only screen and (min--moz-device-pixel-ratio: 2) and (min-width: 700px), only screen and (-o-min-device-pixel-ratio: 2/1) and (min-width: 700px), only screen and (min-device-pixel-ratio: 2) and (min-width: 700px), only screen and (min-resolution: 192dpi) and (min-width: 700px), only screen and (min-resolution: 2dppx) and (min-width: 700px) {
  .cover-bg .bg-home {
    background-image: url(../img/bg-home-1600.jpg);
  }
}
.cover-bg .bg-websites {
  background-image: url(../img/bg-websites-320.jpg);
}
@media only screen and (min-width: 320px) {
  .cover-bg .bg-websites {
    background-image: url(../img/bg-websites-700.jpg);
  }
}
@media only screen and (min-width: 700px), only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 320px), only screen and (min--moz-device-pixel-ratio: 2) and (min-width: 320px), only screen and (-o-min-device-pixel-ratio: 2/1) and (min-width: 320px), only screen and (min-device-pixel-ratio: 2) and (min-width: 320px), only screen and (min-resolution: 192dpi) and (min-width: 320px), only screen and (min-resolution: 2dppx) and (min-width: 320px) {
  .cover-bg .bg-websites {
    background-image: url(../img/bg-websites-1300.jpg);
  }
}
@media only screen and (min-width: 1300px), only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 700px), only screen and (min--moz-device-pixel-ratio: 2) and (min-width: 700px), only screen and (-o-min-device-pixel-ratio: 2/1) and (min-width: 700px), only screen and (min-device-pixel-ratio: 2) and (min-width: 700px), only screen and (min-resolution: 192dpi) and (min-width: 700px), only screen and (min-resolution: 2dppx) and (min-width: 700px) {
  .cover-bg .bg-websites {
    background-image: url(../img/bg-websites-1600.jpg);
  }
}
.cover-bg .bg-conferences {
  background-image: url(../img/bg-conferences-320.jpg);
}
@media only screen and (min-width: 320px) {
  .cover-bg .bg-conferences {
    background-image: url(../img/bg-conferences-700.jpg);
  }
}
@media only screen and (min-width: 700px), only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 320px), only screen and (min--moz-device-pixel-ratio: 2) and (min-width: 320px), only screen and (-o-min-device-pixel-ratio: 2/1) and (min-width: 320px), only screen and (min-device-pixel-ratio: 2) and (min-width: 320px), only screen and (min-resolution: 192dpi) and (min-width: 320px), only screen and (min-resolution: 2dppx) and (min-width: 320px) {
  .cover-bg .bg-conferences {
    background-image: url(../img/bg-conferences-1300.jpg);
  }
}
@media only screen and (min-width: 1300px), only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 700px), only screen and (min--moz-device-pixel-ratio: 2) and (min-width: 700px), only screen and (-o-min-device-pixel-ratio: 2/1) and (min-width: 700px), only screen and (min-device-pixel-ratio: 2) and (min-width: 700px), only screen and (min-resolution: 192dpi) and (min-width: 700px), only screen and (min-resolution: 2dppx) and (min-width: 700px) {
  .cover-bg .bg-conferences {
    background-image: url(../img/bg-conferences-1600.jpg);
  }
}
.cover-bg .bg-geeks {
  background-image: url(../img/bg-geeks-320.jpg);
}
@media only screen and (min-width: 320px) {
  .cover-bg .bg-geeks {
    background-image: url(../img/bg-geeks-700.jpg);
  }
}
@media only screen and (min-width: 700px), only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 320px), only screen and (min--moz-device-pixel-ratio: 2) and (min-width: 320px), only screen and (-o-min-device-pixel-ratio: 2/1) and (min-width: 320px), only screen and (min-device-pixel-ratio: 2) and (min-width: 320px), only screen and (min-resolution: 192dpi) and (min-width: 320px), only screen and (min-resolution: 2dppx) and (min-width: 320px) {
  .cover-bg .bg-geeks {
    background-image: url(../img/bg-geeks-1300.jpg);
  }
}
@media only screen and (min-width: 1300px), only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 700px), only screen and (min--moz-device-pixel-ratio: 2) and (min-width: 700px), only screen and (-o-min-device-pixel-ratio: 2/1) and (min-width: 700px), only screen and (min-device-pixel-ratio: 2) and (min-width: 700px), only screen and (min-resolution: 192dpi) and (min-width: 700px), only screen and (min-resolution: 2dppx) and (min-width: 700px) {
  .cover-bg .bg-geeks {
    background-image: url(../img/bg-geeks-1600.jpg);
  }
}
.cover-home {
  background-color: #446;
  color: #ffffff;
  position: relative;
  display: table;
  width: 100%;
  height: 100%;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}
.cover-home .cover-bg .bg-home {
  opacity: 1;
}
.cover-home .cover-content .slides .slider {
  margin-left: 0;
}
.cover-home .cover-content .slides .slider li:first-child {
  opacity: 1;
  pointer-events: auto;
}
.cover-home .cover-content .link-home {
  color: #ffffff;
  border-color: rgba(255, 255, 255, 0.5);
}
.cover-websites {
  background-color: #446;
  color: #ffffff;
  position: relative;
  display: table;
  width: 100%;
  height: 100%;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}
.cover-websites .cover-bg .bg-websites {
  opacity: 1;
}
.cover-websites .cover-content .slides .slider {
  margin-left: -100%;
}
.cover-websites .cover-content .slides .slider li:nth-child(2) {
  opacity: 1;
  pointer-events: auto;
}
.cover-websites .cover-content .link-websites {
  color: #ffffff;
  border-color: rgba(255, 255, 255, 0.5);
}
.cover-conferences {
  background-color: #446;
  color: #ffffff;
  position: relative;
  display: table;
  width: 100%;
  height: 100%;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}
.cover-conferences .cover-bg .bg-conferences {
  opacity: 1;
}
.cover-conferences .cover-content .slides .slider {
  margin-left: -200%;
}
.cover-conferences .cover-content .slides .slider li:nth-child(3) {
  opacity: 1;
  pointer-events: auto;
}
.cover-conferences .cover-content .link-conferences {
  color: #ffffff;
  border-color: rgba(255, 255, 255, 0.5);
}
.cover-geeks {
  background-color: #446;
  color: #ffffff;
  position: relative;
  display: table;
  width: 100%;
  height: 100%;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}
.cover-geeks .cover-bg .bg-geeks {
  opacity: 1;
}
.cover-geeks .cover-content .slides .slider {
  margin-left: -300%;
}
.cover-geeks .cover-content .slides .slider li:nth-child(4) {
  opacity: 1;
  pointer-events: auto;
}
.cover-geeks .cover-content .link-geeks {
  color: #ffffff;
  border-color: rgba(255, 255, 255, 0.5);
}
.features {
  background-color: #ffffff;
}
.features img {
  padding: 5px;
  background-color: #f2f2f2;
  border: 1px solid #e6e6e6;
  border-radius: 2px;
  margin: .5em 0;
}
.testimonials {
  /*   text-align: center; */

  background: linear-gradient(-135deg, #ffffff 5px, transparent 0) 0 5px, linear-gradient(135deg, #ffffff 5px, #f2f2f2 0) 0 5px;
  background-color: #f2f2f2;
  background-position: left top;
  background-repeat: repeat-x;
  background-size: 10px 10px;
}
.pricing {
  background: linear-gradient(-135deg, #f2f2f2 5px, transparent 0) 0 5px, linear-gradient(135deg, #f2f2f2 5px, #ffffff 0) 0 5px;
  background-color: #ffffff;
  background-position: left top;
  background-repeat: repeat-x;
  background-size: 10px 10px;
}
.pricing .heading {
  display: inline-block;
  padding: 1.2em 0 1em 0;
  font-size: 1.5em;
  width: 100%;
  border-bottom: 1px solid #f2f2f2;
}
.pricing .heading h2 {
  display: inline;
}
.pricing .heading .price {
  float: right;
  color: #33ccaa;
  font-weight: 300;
  position: relative;
}
.pricing .heading .price sub {
  font-size: 0.6em;
  display: block;
  position: absolute;
  right: 0;
  white-space: nowrap;
  text-transform: uppercase;
  color: #999;
  font-weight: 700;
}
.pricing .heading:after {
  content: "";
  display: table;
  clear: both;
}
.pricing .signup {
  text-align: center;
}
.arrow {
  display: none;
  position: fixed;
  bottom: 0;
  left: 50%;
  margin-left: -20px;
  width: 40px;
  height: 40px;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  transition: 0.5s ease;
  -webkit-animation: bounce 5s infinite;
  -moz-animation: bounce 5s infinite;
  -ms-animation: bounce 5s infinite;
  animation: bounce 5s infinite;
}
@media only screen and (min-width: 700px) {
  .arrow {
    display: block;
  }
}
.scrolled .arrow {
  opacity: 0;
  pointer-events: none;
}
.fork {
  display: none;
  position: fixed;
  top: -15px;
  right: 30px;
  z-index: 1;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  transition: 0.5s ease;
}
.fork:hover,
.fork:focus,
.fork:active {
  top: 0;
}
@media only screen and (min-width: 480px) {
  .fork {
    display: block;
  }
}
.dim {
  display: none;
}
.arrow {
  opacity: 1;
  pointer-events: auto;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  transition: 0.5s ease;
}
.login-toggle {
  cursor: pointer;
}
.google {
  background-color: #d34836;
  border: 1px solid #d34836;
  color: #ffffff;
  text-align: center;
  font-weight: 700;
  cursor: pointer;
  text-transform: uppercase;
  display: inline-block;
  margin: 1em 0;
  padding: .8em 2em;
  border-radius: 2px;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  transition: 0.5s ease;
}
.google:hover,
.google:focus {
  background-color: #b03626;
  border: 1px solid #b03626;
  color: #ffffff;
}
.google:active {
  background-color: #86291d;
  border: 1px solid #86291d;
  color: #ffffff;
}
.twitter {
  background-color: #55acee;
  border: 1px solid #55acee;
  color: #ffffff;
  text-align: center;
  font-weight: 700;
  cursor: pointer;
  text-transform: uppercase;
  display: inline-block;
  margin: 1em 0;
  padding: .8em 2em;
  border-radius: 2px;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  transition: 0.5s ease;
}
.twitter:hover,
.twitter:focus {
  background-color: #2795e9;
  border: 1px solid #2795e9;
  color: #ffffff;
}
.twitter:active {
  background-color: #147bc9;
  border: 1px solid #147bc9;
  color: #ffffff;
}
.facebook {
  background-color: #3b5998;
  border: 1px solid #3b5998;
  color: #ffffff;
  text-align: center;
  font-weight: 700;
  cursor: pointer;
  text-transform: uppercase;
  display: inline-block;
  margin: 1em 0;
  padding: .8em 2em;
  border-radius: 2px;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  transition: 0.5s ease;
}
.facebook:hover,
.facebook:focus {
  background-color: #2d4373;
  border: 1px solid #2d4373;
  color: #ffffff;
}
.facebook:active {
  background-color: #1e2e4f;
  border: 1px solid #1e2e4f;
  color: #ffffff;
}
.persona {
  background-color: #0096dd;
  border: 1px solid #0096dd;
  color: #ffffff;
  text-align: center;
  font-weight: 700;
  cursor: pointer;
  text-transform: uppercase;
  display: inline-block;
  margin: 1em 0;
  padding: .8em 2em;
  border-radius: 2px;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  transition: 0.5s ease;
}
.persona:hover,
.persona:focus {
  background-color: #0073aa;
  border: 1px solid #0073aa;
  color: #ffffff;
}
.persona:active {
  background-color: #005177;
  border: 1px solid #005177;
  color: #ffffff;
}
.openid {
  background-color: #f78c40;
  border: 1px solid #f78c40;
  color: #ffffff;
  text-align: center;
  font-weight: 700;
  cursor: pointer;
  text-transform: uppercase;
  display: inline-block;
  margin: 1em 0;
  padding: .8em 2em;
  border-radius: 2px;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  transition: 0.5s ease;
}
.openid:hover,
.openid:focus {
  background-color: #f56f0f;
  border: 1px solid #f56f0f;
  color: #ffffff;
}
.openid:active {
  background-color: #c95808;
  border: 1px solid #c95808;
  color: #ffffff;
}
.close {
  color: #666666;
  font-size: 3em;
  text-decoration: none;
  position: absolute;
  padding: .4em;
  right: 0;
  top: 0;
  cursor: pointer;
}
.close:hover,
.close:focus {
  color: #333333;
}
.close:active {
  color: #1a1a1a;
}
.modal {
  background: #ffffff;
  border-style: none;
  position: fixed;
  z-index: 5;
  border-radius: 0;
  left: 0;
  top: 0;
  margin-left: 0;
  margin-top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  opacity: 0;
  pointer-events: none;
}
.modal .button {
  width: 100%;
  margin: .3em .3em .3em 0;
}
@media only screen and (min-width: 480px) {
  .modal .button {
    width: 8em;
  }
}
@media only screen and (min-width: 480px) {
  .modal {
    border-radius: 2px;
    left: 50%;
    top: 50%;
    margin-left: -14.5em;
    margin-top: -7em;
    padding: 1.3em;
    width: 29em;
    height: 14em;
  }
}
.login-open {
  overflow: hidden;
}
@media only screen and (min-width: 480px) {
  .login-open {
    overflow: auto;
  }
  .login-open .dim {
    display: block;
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    -webkit-animation: fadein 0.5s 1;
    -moz-animation: fadein 0.5s 1;
    -ms-animation: fadein 0.5s 1;
    animation: fadein 0.5s 1;
  }
}
.login-open .modal {
  opacity: 1;
  pointer-events: auto;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  transition: 0.5s ease;
}
.login-open .arrow {
  opacity: 0;
  pointer-events: none;
}
#create-field {
  position: relative;
}
#create-field .disabled {
  background-color: #999999;
  border: 1px solid #999999;
  color: #ffffff;
  pointer-events: none;
}
#create-field .disabled:hover,
#create-field .disabled:focus,
#create-field .disabled:active {
  background-color: #999999;
  border: 1px solid #999999;
  color: #ffffff;
}
#create-field input[type=submit] {
  position: absolute;
  right: 0;
  top: 0;
  margin: 0;
  height: 3em;
  width: 6em;
  border-radius: 0 2px 2px 0;
}
#create-field input[type=entry] {
  width: 100%;
  padding: 0 6em 0 8em;
  margin: 0;
  height: 3em;
  border-radius: 2px 0 0 2px;
}
#create-field label {
  width: 8em;
  text-align: right;
  position: absolute;
  line-height: 3em;
  top: 0;
  left: 0;
  color: #666666;
}
#create-field .error {
  color: #d95879;
}
.iewarning {
  background-color: #fffefe;
  border-bottom: 2px solid #d95879;
  text-align: center;
  font-size: 16px;
}
.iewarning h2 {
  color: #d95879;
}
::selection {
  background-color: #33ccaa;
  color: #ffffff;
}
::-moz-selection {
  background-color: #33ccaa;
  color: #ffffff;
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-button {
  display: none;
}
::-webkit-scrollbar-track {
  background-color: #ffffff;
}
::-webkit-scrollbar-thumb {
  background-color: #e6e6e6;
}
::-webkit-scrollbar-thumb:vertical {
  min-height: 100px;
}
::-webkit-scrollbar-thumb:horizontal {
  min-width: 100px;
}
::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-thumb:focus {
  background-color: #33ccaa;
}
::-webkit-scrollbar-thumb:active {
  background-color: #29a388;
}
