html
	head
		script(src="/post-message-polyfill.js")
		script.
			var returnStr = "{\"twitter\": {\"username\": !{'\\"' + profile.screen_name + '\\"'}}}";
			window.opener.postMessage(returnStr, "*");
			window.close();