@import "functions";
@import "global";

@mixin linked {
	&:not(:only-of-type):not(:last-of-type) { border-right: none; }

	&:first-of-type { border-radius: $roundness 0 0 $roundness; }

	&:last-of-type { border-radius: 0 $roundness $roundness 0; }

	&:only-of-type { border-radius: $roundness; }
}

@include exports("linked") {
	.linked { @include linked; }
}
