@import "functions";
@import "global";
@import "animations";
@import "entry";
@import "icons";

@include exports("multientry") {
	.multientry {
		@extend .entry;

		display: inline-block;
		min-height: 2.5em;
		min-width: 15em;
		max-width: 100%;
		margin: .5em 0;
		padding: 0 .0625em;
		cursor: text; /* fix firefox showing caret in wrong position */

		.item {
			display: inline-block;
			max-width: 100%;
			margin: .125em .0625em;
			border: 1px solid transparent;
			outline: none;
		}

		.entry {
			background: none;
			min-width: 3em;
			padding: 0 .25em;
			line-height: 2em;

			&:only-child { width: 100%; }
		}

		.segment {
			border-radius: $roundness;
			background-color: $accent-color;
			color: $light-color;

			.segment-text {
				padding: 0 .75em;
				line-height: 2em;
			}

			.segment-remove {
				@include icon(close);
				@extend %snappy;

				float: right;
				cursor: pointer;
				background-color: rgba(0,0,0,.1);
				border-radius: 0 $roundness $roundness 0;

				&:focus, &:hover { background-color: rgba(0,0,0,.2); }

				&:active { background-color: rgba(0,0,0,.3); }

				&:before {
					display: block;
					font-weight: 700;
					padding: .5em;
				}
			}
		}
	}
}
