@import "global";

.alert-container {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 200;
}

.alert-bar {
	@include slidedown;
	@extend %nofilter;

	margin: 1em;
	padding: 0;
	text-align: center;
	border-radius: $roundness;
	box-shadow: 0 0 5px 0 rgba(0,0,0,.15);

	$types: info, success, warning, error;
	$colors: $info-color, $success-color, $warning-color, $error-color;

	@for $i from 1 through length($types) {
		$type: nth($types, $i);
		$color: nth($colors, $i);

		&.#{$type} {
			background-color: $color;
			color: $light-color;
		}
	}
}

.alert-content {
	display: inline-block;
	padding: 1em;

	a {
		font-weight: 700;
		border-bottom: 1px solid fade-out($light-color, .5);
		color: $light-color;

		&:focus, &:hover, &:active {
			color: $light-color;
			border-bottom-color: $light-color;
		}
	}
}

.alert-remove {
	font-size: 2em;
	float: right;
	padding: .5em .6em;
	cursor: pointer;
	background-color: rgba(0,0,0,.1);
	color: $light-color;
	border-radius: 0 $roundness $roundness 0;

	&:focus, &:hover {
		color: $light-color;
		background-color: rgba(0,0,0,.2);
	}

	&:active {
		color: $light-color;
		background-color: rgba(0,0,0,.3);
	}
}
