@import "functions";
@import "global";
@import "animations";
@import "flexbox";

@include exports("alert") {
	.alert-container {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: 200;
	}

	.alert-bar {
		@include flexbox;
		@include flex-direction(row);
		@include justify-content(space-between);
		@include align-items(stretch);
		@include slidedown;

		margin: 1em;
		padding: 0;
		text-align: center;
		border-radius: $roundness;
		box-shadow: 0 0 10px 0 rgba(0,0,0,.3);

		$types: info, success, warning, error;
		$colors: $info-color, $success-color, $warning-color, $error-color;

		@for $i from 1 through length($types) {
			$type: nth($types, $i);
			$color: nth($colors, $i);

			&.#{$type} {
				background-color: $color;
				color: $light-color;
			}
		}
	}

	.alert-content {
		@include flex-grow(1);

		padding: 1em;

		a {
			font-weight: 700;
			border-bottom: 1px solid fade-out($light-color, .5);
			color: $light-color;

			&:focus, &:hover, &:active {
				color: $light-color;
				border-bottom-color: $light-color;
			}
		}
	}

	.alert-remove {
		@include flexbox;
		@include flex-direction(row);
		@include flex-wrap(nowrap);
		@include align-items(center);
		@include align-content(center);

		padding: 1em 1.25em;
		cursor: pointer;
		background-color: rgba(0,0,0,.1);
		border-radius: 0 $roundness $roundness 0;

		&:focus, &:hover {
			@extend %transition;

			background-color: rgba(0,0,0,.2);
		}

		&:active { background-color: rgba(0,0,0,.3); }

		&:after {
			display: block;
			content: "\00d7";
			font-weight: bold;
			font-size: 2em;
		}
	}
}
