@import "functions";
@import "filters";

@mixin transform($args) {
    @include prefix(transform, $args);
}

@mixin keyframes($animation) {
    @-webkit-keyframes #{$animation} { @content; }

    @-moz-keyframes #{$animation} { @content; }

    @-ms-keyframes #{$animation} { @content; }

    @keyframes #{$animation} { @content; }
}

@mixin spin($args: 1s ease infinite) {
    @include prefix(animation, spin $args);
}

@mixin slidedown($args: .3s 1) {
    @include prefix(animation, slidedown $args);
}

@mixin slideup($args: .3s 1) {
    @include prefix(animation, slideup $args);
}

@mixin appear($args: .5s 1) {
    @include prefix(animation, appear $args);
}

@mixin fadein($args: .5s 1) {
    @include prefix(animation, fadein $args);
}

@mixin progress($args: 3s ease) {
    @include prefix(animation, progress $args);
}

@mixin transition($duration: .3s, $timing: ease) {
    @include prefix(transition, $duration $timing);
}

@include exports("animations") {
    @include keyframes(spin) {
        to  { @include transform(rotate(360deg)); }
    }

    @include keyframes(slidedown) {
        0% {
            @include opacity(0);
            @include transform(translate3d(0, -10%, 0));
        }

        100% {
            @include opacity(1);
            @include transform(translate3d(0, 0, 0));
        }
    }

    @include keyframes(slideup) {
        0% {
            @include opacity(0);
            @include transform(translate3d(0, 10%, 0));
        }

        100% {
            @include opacity(1);
            @include transform(translate3d(0, 0, 0));
        }
    }

    @include keyframes(appear) {
        0% {
            @include opacity(0);
            @include transform(scale(.5));
        }

        30%  { @include transform(scale(1)); }

        100%  { @include opacity(1); }
    }

    @include keyframes(fadein) {
        0%  { @include opacity(0); }
        100%  { @include opacity(1); }
    }

    @include keyframes(progress) {
        0% { width: 0; }

        10% { width: 30%; }

        30% { width: 50%; }

        40% { width: 70%; }

        100% { width: 80%; }
    }

    %spin { @include spin; }

    %slidedown { @include slidedown; }

    %slideup { @include slideup; }

    %appear { @include appear; }

    %fadein { @include fadein; }

    %progress { @include progress; }

    %transition { @include transition; }
}
