@import "global";
@import "reset";
@import "animations";
@import "filters";
@import "button";
@import "entry";

/* base styles */
html { font-size: 62.5%; }

body {
    background: $light-color;
    color: $dark-color;
    font: #{$font-size}/($font-size * 1.5) $font-family-normal;
}

a {
    @extend %ease;

    color: $link-color;
    text-decoration: none;

    &:hover, &:focus { color: darken($link-color, 15%); }

    &:active { color: darken($link-color, 30%); }
}

img {
    max-width: 100%;
    height: auto;
}

h1, h2, h3, h4 {
    line-height: 1.5em;
    font-family: $font-family-headings;
    font-weight: 400;
}

h1 { font-size: 2.5em; }

h2 { font-size: 2em; }

h3 { font-size: 1.5em; }

h4 { font-size: 1.2em; }

p { margin: .5em 0; }

input[type="submit"], input[type="button"] {
    @extend .button;

    &:disabled { @extend .button.disabled; }
}

input[type="entry"], input[type="text"], input[type="search"], input[type="email"], textarea {
    @extend .entry;

    margin: .5em 0;
    padding: .8em 1.2em;
    font-size: 1em;
    outline: none;

    &:disabled { @extend .entry.disabled; }
}

input[type="checkbox"], input[type="radio"] {
    width: 1.5em;
    height: 1.5em;
}

[contenteditable]:empty:before{
    content: attr(data-placeholder);
    color: fade-out($dark-color, .5);
    pointer-events: none;
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    padding: 1em;
    border-radius: $roundness;
    background-color: darken($light-color, 5%);
}

code {
    font-weight: 700;
    font-family: $font-family-monospace;
    line-height: 1.2em;
}

.google { @include buttons(#d34836, #fff); }

.twitter { @include buttons(#55acee, #fff); }

.facebook { @include buttons(#3b5998, #fff); }

.persona { @include buttons(#0096dd, #fff); }

.openid { @include buttons(#f78c40, #fff); }

%spinner {
    &:before {
        @include spin;

        content: "";
        display: inline-block;
        width: 1em;
        height: 1em;
        margin: 0 1em;
        border-top: 2px solid currentColor;
        border-right: 2px solid transparent;
        border-bottom: 2px solid currentColor;
        border-left: 2px solid transparent;
        border-radius: 50%;
    }
}

.fadeout {
    @include opacity(0);
    @extend %ease;
}

.grow {
    @include transform(scale(1.2, 1.2));
    @include transition(.15s);
}

%ease { @include transition; }

/* browser specific styles */
::selection {
    background-color: $accent-color;
    color: $light-color;
}

::-moz-selection {
    background-color: $accent-color;
    color: $light-color;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-button { display: none; }

::-webkit-scrollbar-track { background-color: transparent; }

::-webkit-scrollbar-thumb {
    background-color: darken($light-color, 10%);

    &:vertical { min-height: 100px; }

    &:horizontal { min-width: 100px; }

    &:hover, &:focus { background-color: $accent-color; }

    &:active { background-color: darken($accent-color, 10%); }
}
