@import "functions";
@import "global";
@import "animations";
@import "spinner";

@mixin buttons($bg: $accent-color, $fg: $light-color) {
	display: inline-block;
	margin: .5em 0;
	padding: .5em 1em;
	font-size: 1em;
	border: 1px solid $bg;
	border-bottom-color: darken($bg, 5%);
	border-radius: $roundness;
	background-color: $bg;
	color: $fg;
	text-align: center;
	font-weight: 700;
	cursor: pointer;
	text-transform: uppercase;

	&:hover, &:focus {
		@extend %transition;

		background-color: darken($bg, 5%);
		border-color: darken($bg, 5%);
		color: $fg;
		box-shadow: 0 1px 5px 0 rgba(0,0,0,0.15);
	}

	&:active {
		background-color: darken($bg, 10%);
		border-color: darken($bg, 10%);
		color: $fg;
	}

	&.working {
		@include spinner;

		padding-left: 0;

		&, &:hover, &:focus, &:active {
			background-color: darken($bg, 10%);
			border-color: darken($bg, 10%);
			color: mix($bg, $fg, 30%);
			cursor: wait;
			pointer-events: none;
		}
	}
}

@include exports("button") {
	.linked {
		border-radius: 0;

		&:not(:only-of-type):not(:last-of-type) { border-right: none; }

		&:first-of-type { border-radius: $roundness 0 0 $roundness; }

		&:last-of-type { border-radius: 0 $roundness $roundness 0; }

		&:only-of-type { border-radius: $roundness; }
	}

	.button {
		@include buttons;

		&.secondary {
			background-color: transparent;
			border-color: rgba(0,0,0,0.15);
			color: currentcolor;

			&:hover, &:focus {
				background-color: rgba(255,255,255,0.3);
				border-color: rgba(0,0,0,0.3);
				color: currentcolor;
			}

			&:active {
				background-color: rgba(0,0,0,0.05);;
				border-color: rgba(0,0,0,0.3);
				color: currentcolor;
			}
		}

		&.disabled {
			&, &:hover, &:focus, &:active {
				@include opacity(.5);

				background-color: rgba(0,0,0,0.05);
				border-color: rgba(0,0,0,0.3);
				color: currentcolor;
				cursor: default;
				pointer-events: none;
			}
		}

		&.linked { @extend .linked; }
	}

	button, input[type="submit"], input[type="button"] {
		@extend .button;

		&:disabled { @extend .button.disabled; }
	}
}
