@import "../lace/animations";
@import "../lace/dropshadow";

%nowrap {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

@mixin addcards($n) { width: 100% / $n; }

.card-item-wrap {
	@include addcards(1);

	display: inline-block;
	padding: .5em;

	@media only screen and (min-width: 50em) { @include addcards(2); }

	@media only screen and (min-width: 70em) { @include addcards(3); }

	@media only screen and (min-width: 130em) { @include addcards(5); }
}

.card-item {
	@include dropshadow(1);
	@extend %snappy;

	background-color: $dark-color;
	color: $light-color;
	border-radius: $roundness;
	overflow: hidden;
	cursor: pointer;

	&:focus, &:hover { @include dropshadow(2); }

	&:active { @include dropshadow(3); }

	@for $i from 1 through length($palette) {
		$color: nth($palette, $i);
		$j: $i - 1;

		.color-#{$j} & {
			background-color: $color;

			&:focus, &:hover { background-color: darken($color, 10%); }

			&:active { background-color: darken($color, 20%); }
		}
	}
}

.card-segment {
	padding: .5em 1.5em;

	&:last-child { border-bottom: none; }
}

.card-header {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;

	@for $i from 1 through length($palette) {
		$color: nth($palette, $i);
		$j: $i - 1;

		.card-item.conv-#{$j} & { background-color: $color; }
	}
}

.card-header-title {
	@extend %nowrap;

	flex-grow: 1;
	font-weight: 400;
	font-size: 2.4em;
	line-height: 1;
	padding-top: 1em;
	padding-bottom: .5em;
}

.card-header-badge {
	@extend %appear;
	@extend %nowrap;

	background-color: $light-color;
	color: $dark-color;
	font-weight: 700;
	font-size: .8em;
	padding: .25em .5em;
	min-width: 2em;
	border-radius: $roundness;
	text-align: center;

	@for $i from 1 through length($palette) {
		$color: nth($palette, $i);
		$j: $i - 1;

		.color-#{$j} & { color: $color; }
	}

	// TODO: rethink when the card color represents conversation
	&.mentioned { background-color: $light-color; }

	&:empty { display: none; }
}

.card-content { height: 5em; }

.card-content-title {
	@extend %nowrap;

	font-weight: 400;
	font-size: 1.2em;
	margin-bottom: .25em;
}

.card-content-summary {
	@extend %nowrap;

	color: $light-color;
}
