/* definitions */
$body-font: "Open Sans", "Myriad Pro", Helvetica, Tahoma, "Nimbus Sans", Arial, sans-serif;
$heading-font: "Open Sans", "Open Sans Light", Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
$monospace-font: Consolas, "Andale Mono", "Lucida Console", "Nimbus Mono", "Courier New", monospace;
$accent-color: #3ca;
$dark-color: #333;
$light-color: #fff;
$info-color: #638ce8;
$success-color: #43b43b;
$warning-color: #e77f1b;
$error-color: #ef513d;
$palette: #43b43b #e77f1b #f04986 #a1da21 #769f1a #e360c8 #638ce8 #ef513d #b079e7 #5ee43d;
$roundness: 2px;
