@import "functions";
@import "global";
@import "animations";

@include exports("entry") {
	.entry {
		@include transition;

		border: 1px solid darken($light-color, 20%);
		border-top-color: darken($light-color, 30%);
		border-radius: $roundness;
		background-color: $light-color;
		color: $dark-color;
		box-shadow: inset 0 1px 1px 0 rgba(0,0,0,.1);

		&:hover, &:focus, &:active {
			border-color: darken($light-color, 30%);
			border-top-color: darken($light-color, 40%);
			outline: none;
		}

		&.disabled { background-color: darken($light-color, 10%); }

		&.error { border-color: $error-color; }

		&.linked { @extend .linked; }
	}
}
