$grid-block-size: 10em !default;
$grid-columns: 12 !default;
$grid-gutter: 1.5em !default;

$small: "only screen" !default;
$medium: "only screen and (min-width: 40.063em)" !default;
$large: "only screen and (min-width: 64.063em)" !default;

%clearfix {
    *zoom: 1;

    &:before, &:after {
        content: "";
        display: table;
    }

    &:after { clear: both; }
}

.row {
    @extend %clearfix;

    margin-right: $grid-gutter * -1;
    margin-left: $grid-gutter * -1;
    margin-top: 0;
    margin-bottom: 0;
}

.col {
    padding-right: $grid-gutter;
    padding-left: $grid-gutter;
}

@mixin grid-classes($size) {
    $dirs: left, right;

    @each $dir in $dirs {
        .#{$size}-#{$dir} { float: $dir; }
    }

    @for $i from 1 through $grid-columns {
        .#{$size}-#{$i} {
            float: left;
            width: ($i * 100% / $grid-columns);
        }
    }
}

@media #{$small} {
    @include grid-classes($size: small);
}

@media #{$medium} {
    @include grid-classes($size: medium);
}

@media #{$large} {
    @include grid-classes($size: large);
}

@for $i from 1 through $grid-columns {
    .block-#{$i} {
        display: inline-block;
        vertical-align: top;
        width: $i * $grid-block-size;
        max-width: 100%;
        padding-right: $grid-gutter;
        padding-left: $grid-gutter;
    }
}