@import "functions";
@import "global";
@import "spinner";

@include exports("overlay") {
	.overlay {
		display: table;
		position: fixed;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background-color: $light-color;
		color: $dark-color;
		z-index: 400;

		h1 {
			display: table-cell;
			vertical-align: middle;
			text-align: center;
			font-size: 1.5em;

			@media only screen and (min-width: 27em) { font-size: 2.4em; }
		}
	}
}
