/**
 * Global definitions for the client
 * Fonts and colors are defined in lace
 */

// Font settings
$icon-font-path: "../fonts" !default;

// Colors
$accent-color: #3ca !default;

// Misc
$roundness: 2px !default;

$palette: (#2ba, #e48, #3c6, #76f, #e63, #5ad, #95b, #ed0, #e92, #ae3) !default;

$screenx: "only screen and (min-width: 18em)" !default;
$screenxx: "only screen and (min-width: 21em)" !default;
$screenxxx: "only screen and (min-width: 27em)" !default;
$screenxxxx: "only screen and (min-width: 50em)" !default;
$screenxxxxx: "only screen and (min-width: 70em)" !default;

$bar-height: 3.5em !default;

$settings: (general, irc, twitter, threader, authorizer, requests, spam, seo, customization, embed, profile, email, notification) !default;
$modes: (home, room, chat, search) !default;
$roles: (guest, user, follower, owner) !default;
$permissions: (write, read) !default;
$embeds: (toast, canvas) !default;
$contexts: (normal, android, ios) !default;
$states: (online, offline, connecting) !default;
