/**
 * Global definitions for the client
 * Fonts and colors are defined in lace
 */

// Colors
$accent-color: #3ca !default;

// Misc
$roundness: 2px !default;
$mobile-break-point: "only screen and (max-width: 27em)" !default;

$palette: #2ba #e48 #3c6 #76f #e63 #5ad #95b #ed0 #e92 #ae3 !default;

$screenx: "only screen and (min-width: 18em)" !default;
$screenxx: "only screen and (min-width: 27em)" !default;
$screenxxx: "only screen and (min-width: 50em)" !default;
$screenxxxx: "only screen and (min-width: 70em)" !default;

$width-sidebar: 20em !default;

$width-room: 15em !default;
$width-roomx: 15em !default;
$width-roomxx: 15em !default;
$width-roomxxx: 15em !default;
$width-roomxxxx: 16% !default;

$width-meta: 13em !default;
$width-metax: 19em !default;
$width-metaxx: 25em !default;
$width-metaxxx: 26em !default;
$width-metaxxxx: 30% !default;

$width-home: 70em !default;

$bar-height: 3.5em !default;

$icon-font-path: "../../fonts";

$settings: general, irc, twitter, threader, authorizer, requests, spam, seo, customization, embed, profile, email, notification !default;
$modes: normal, room, chat, search, conf, pref, home, noroom, profile !default;
$roles: guest, user, follower, owner !default;
$embeds: toast, canvas !default;
$medialist: normal, phonegap !default;
$states: online offline connecting !default;
