@import "functions";
@import "global";
@import "animations";

@include exports("switch") {
	$switch-font-size: 1.2em;
	$switch-trough-size: ( 2em / $switch-font-size ) * 1em;
	$switch-slider-size: ( 1.6em / $switch-font-size ) * 1em;

	.switch-container {
		position: relative;
		margin: .25em 0;
	}

	.switch {
		display: none;

		& ~ label {
			cursor: pointer;

			&:before, &:after {
				@extend %transition;

				position: absolute;
				display: block;
				content: "";
				font-size: $switch-font-size;
				color: $light-color;
				border-radius: $roundness;
				background-color: lighten($error-color, 15%);
			}

			&:before {
				top: -( $switch-font-size / 2 );
				left: 0;
				height: $switch-trough-size;
				width: $switch-trough-size * 2;
				padding: 0 ( $switch-font-size / 2 );
				content: "\2718";
				line-height: $switch-trough-size;
				text-align: right;
				box-shadow: inset 0 1px 0 rgba(0,0,0,.15);
			}

			&:after {
				top: -( $switch-font-size - ( $switch-trough-size - $switch-slider-size ) ) / 2;
				left: ( $switch-trough-size - $switch-slider-size ) / 2;
				height: $switch-slider-size;
				width: $switch-slider-size;
				background-color: $light-color;
				box-shadow: 0 -1px 1px rgba(0,0,0,.15);
			}
		}

		&:checked ~ label {
			&:before {
				content: "\2714";
				text-align: left;
				background-color: $accent-color;
			}

			&:after { left: $switch-trough-size + ( ( $switch-trough-size - $switch-slider-size ) / 2 ); }
		}
	}
}
