/**
 * Mixin for themes support in the client
 */

@import "global";

@mixin theme($name, $base, $text) {
    .theme-#{$name} {
        .meta-tabs {
            background-color: $base;
            color: $text;
            border-bottom-color: darken($base, 3%);

            .tab { fill: $text; }

            .meta-header {
                @media #{$screenxxxx} { background-image: url(../../img/client/icons/settings-dark.svg); }
            }
        }

        .title-bar, .minimize-bar {
            background-color: $base;
            color: $text;
        }

        .follow-button { stroke: $text; }

        .follow-button, .meta-tabs li.rooms-button, .meta-button, .search-button, .embed-button { fill: $text; }

        $icon-color-top: $text;
        $icon-color-bottom: $text;

        @if ($base == $light-color) or ($base == $dark-color) {
            $icon-color-top: $accent-color;
        }

        .sb-icon-top { fill: $icon-color-top; }

        .sb-icon-bottom { fill: $icon-color-bottom; }
    }
}

@include exports("themes") {
    @include theme($name: dark, $base: $dark-color, $text: $light-color);
}
