.scrollback-stream {
	height: 26em;
	max-height: 100%;
	max-width: 100%;
	border: 1px solid rgba(0,0,0,.2);
	border-bottom: none;
	position: fixed;
	bottom: 0;
	right: 2em;
	box-shadow: 0 0 5px 1px rgba(0,0,0,.1);
}
