@import "../../../../bower_components/lace/src/scss/functions";

$widget-height: 480px !default;
$widget-width: 380px !default;
$offset-right: 30px !default;
$bar-height: 49px !default;

.scrollback-stream {
	background: transparent;

	&.scrollback-toast {
		@include prefix(box-shadow, 0 0 5px 1px rgba(0,0,0,.1));
		@include prefix(transition, .15s ease);
		@include prefix(transform, translate3d(0,0,0));

		position: fixed;
		bottom: 0;
		right: $offset-right;
		height: $widget-height;
		width: $widget-width;
		max-height: 100%;
		max-width: 100%;
		border: 1px solid #ccc;
		border: 1px solid rgba(0,0,0,.2);
		border-bottom: none;
		z-index: 999;
        will-change: transform;

		&.scrollback-minimized { height: $bar-height; }

		@media only screen and (max-width: $widget-width + ($offset-right * 2)) { right: 0; }
	}

	&.scrollback-canvas {
		height: 100%;
		width: 100%;
		border: none;
	}
}
