@import "base";
@import "animations";
@import "grid";

/* we need this to make text vertically centered in a page */
html, body { height: 100%; }

header {
    margin: auto;
    margin-bottom: 2em;
}

h1, h2, h3 { font-weight: 300; }

a {
    &, &:focus, &:hover, &:active {
        color: $light-color;
        font-weight: 700;
    }

    &:focus, &:hover, &:active { text-decoration: underline; }
}

.large-logo { margin-bottom: 2em; }

.cover {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;
    background-attachment: scroll;
    background-position: center center;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: $dark-color;
    color: $light-color;
    background-image: url(../../img/covers/bg-try-320.jpg);

    @media only screen and (min-device-width: 320px) { background-image: url(../../img/covers/bg-try-700.jpg); }

    @media only screen and (min-device-width: 700px),
        only screen and (-webkit-min-device-pixel-ratio: 2) and (min-device-width: 320px),
        only screen and (min--moz-device-pixel-ratio: 2) and (min-device-width: 320px),
        only screen and (-o-min-device-pixel-ratio: 2/1) and (min-device-width: 320px),
        only screen and (min-device-pixel-ratio: 2) and (min-device-width: 320px),
        only screen and (min-resolution: 192dpi) and (min-device-width: 320px),
        only screen and (min-resolution: 2dppx) and (min-device-width: 320px) { background-image: url(../../img/covers/bg-try-1300.jpg); }

    @media only screen and (min-width: 1300px),
        only screen and (-webkit-min-device-pixel-ratio: 2) and (min-device-width: 700px),
        only screen and (min--moz-device-pixel-ratio: 2) and (min-device-width: 700px),
        only screen and (-o-min-device-pixel-ratio: 2/1) and (min-device-width: 700px),
        only screen and (min-device-pixel-ratio: 2) and (min-device-width: 700px),
        only screen and (min-resolution: 192dpi) and (min-device-width: 700px),
        only screen and (min-resolution: 2dppx) and (min-device-width: 700px) { background-image: url(../../img/covers/bg-try-1600.jpg); }

    .cover-content {
        position: relative;
        display: table-cell;
        vertical-align: middle;
    }
}

input[type="text"] {
    display: block;
    width: 100%;
    margin: .5em auto;

    &, &:focus, &:hover, &:active {
        border-color: $light-color;
        box-shadow: none;
    }

    .form-error & {
        border-color: $error-color;
        box-shadow: 0 0 10px $error-color;
    }
}

ul {
    list-style: none;
    text-align: left;
    width: 100%;
    margin: .5em auto;
}

li {
    @extend %transition;

    border-bottom: 1px solid rgba(0,0,0,0.1);
    background-color: darken($light-color, 10%);

    &:hover,&:focus, &:active { background-color: darken($light-color, 15%); }

    &:first-child { border-radius: $roundness $roundness 0 0; }

    &:last-child {
        border-radius: 0 0 $roundness $roundness;
        border-bottom: none;
    }

    &:only-child { border-radius: $roundness }

    a {
        display: block;
        padding: 1em;
        color: $dark-color;
        font-weight: 400;
        text-decoration: none;

        &:hover,&:focus, &:active {
            color: $dark-color;
            font-weight: 400;
            text-decoration: none;
        }

        &:after {
            font-size: 1.5em;
            content: "\00BB";
            float: right;
        }
    }
}

.step-2 li:last-child a:after { content: ""; }

.features:after { content: "\00BB"; }

.separator { margin-top: 2em; }

.container {
    width: 40em;
    max-width: 100%;
    margin: auto;
    padding: 1em;
    text-align: left;
    overflow: hidden;
}

.form {
    width: 100%;
    margin: auto;
}

.form-inner {
    @extend %transition;
    @extend %clearfix;

    width: 200%;
}

.step {
    @extend %transition;

    float: left;
    width: 50%;
}

@for $i from 1 through 2 {
    .stage-#{$i} {
        .step:not(.step-#{$i}) { @include opacity(0); }

        .form-inner { @include transform(translateX((1 - $i) * 50%)) }
    }
}

.scrollback-stream {
    display: none;

    .scrollback-open & { display: block; }
}
