@import "global";
@import "functions";
@import "reset";
@import "animations";
@import "filters";

/* mixins */
@mixin buttons($bg: $accent-color, $fg: $light-color) {
    @extend %ease;
    @extend %inputs;

    border: 1px solid $bg;
    border-bottom-color: darken($bg, 10%);
    border-radius: $roundness;
    background-color: $bg;
    color: $fg;
    text-align: center;
    font-weight: 700;
    cursor: pointer;
    text-transform: uppercase;

    &:hover, &:focus {
        background-color: darken($bg, 5%);
        border-color: darken($bg, 5%);
        color: $fg;
    }

    &:active {
        background-color: darken($bg, 10%);
        border-color: darken($bg, 10%);
        color: $fg;
    }

    &.working {
        @extend %spinner;

        &, &:hover, &:focus, &:active {
            background-color: darken($bg, 10%);
            border-color: darken($bg, 10%);
            color: mix($bg, $fg, 30%);
        }
    }
}

/* base styles */
html { font-size: 62.5%; }

body {
    background: $light-color;
    color: $dark-color;
    font: #{$font-size}/($font-size * 1.5) $font-family-normal;
}

a {
    @extend %ease;

    color: $accent-color;
    text-decoration: none;

    &:hover, &:focus { color: darken($accent-color, 15%); }

    &:active { color: darken($accent-color, 30%); }
}

img {
    max-width: 100%;
    height: auto;
}

h1, h2, h3 {
    line-height: 1.5em;
    font-family: $font-family-headings;
    font-weight: 300;
    margin: .5em 0;
}

h1 { font-size: 2.5em; }

h2 { font-size: 2em; }

h3 { font-size: 1.5em; }

p { margin: .5em 0; }

input[type="submit"], input[type="button"] {
    @extend .button;

    &:disabled { @extend .button.disabled; }
}

input[type="entry"], input[type="text"], input[type="search"], input[type="email"], textarea {
    @extend %inputs;
    @extend .entry;

    &:disabled { @extend .entry.disabled; }
}

input[type="checkbox"] {
    width: 1.5em;
    height: 1.5em;
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    padding: 1em;
    border-radius: $roundness;
    background-color: darken($light-color, 5%);
}

code {
    font-weight: 700;
    font-family: $font-family-monospace;
    line-height: 1.2em;
}

%inputs {
    display: inline-block;
    margin: .5em 0;
    padding: .8em 1.2em;
    font-size: 1em;
    outline: none;

    &:hover, &:focus, &:active { outline: none; }
}

.button {
    @include buttons;

    &.secondary {
        background-color: darken($light-color, 5%);
        border: 1px solid darken($light-color, 15%);
        color: lighten($dark-color, 10%);

        &:hover, &:focus {
            background-color: darken($light-color, 3%);
            border-color: darken($light-color, 30%);
            color: lighten($dark-color, 5%);
        }

        &:active {
            background-color: darken($light-color, 7%);
            border-color: darken($light-color, 20%);
            color: lighten($dark-color, 15%);
        }
    }

    &.disabled {
        &, &:hover, &:focus, &:active {
            background-color: darken($light-color, 5%);
            border-color: darken($light-color, 15%);
            color: lighten($dark-color, 50%);
            pointer-events: none;
        }
    }

    &.linked { @extend .linked; }
}

.entry {
    @extend %ease;

    border: 1px solid darken($light-color, 20%);
    border-top-color: darken($light-color, 30%);
    border-radius: $roundness;
    background-color: $light-color;
    color: $dark-color;
    box-shadow: inset 0 1px 1px 0 rgba(0,0,0,.1);

    &:hover, &:focus, &:active {
        border-color: darken($light-color, 30%);
        border-top-color: darken($light-color, 40%);
        outline: none;
    }

    &.disabled { background-color: darken($light-color, 10%); }

    &.error { border-color: $error-color; }

    &.multientry {
        display: inline-block;
        min-width: 15em;
        min-height: 3em;
        padding: 0;
        cursor: text; /* fix firefox showing caret in wrong position */

        .item {
            @include appear;
            @extend %nofilter;

            display: inline-block;
            min-width: 3em;
            margin: .4em 0 .4em .4em;
            padding: .2em .25em;
            border: 1px solid transparent;
            outline: none;

            &:only-child { width: 100%; }

            &:last-child { min-width: 7em; }

            &.done {
                background-color: lighten($accent-color, 40%);
                border-color: darken($accent-color, 5%);
                border-radius: $roundness;
            }

            .item-remove {
                float: right;
                font-weight: bold;
                font-size: 1.5em;
                color: darken($accent-color, 5%);
                cursor: pointer;
            }
        }
    }

    &.linked { @extend .linked; }
}

.google { @include buttons(#d34836, #fff); }

.twitter { @include buttons(#55acee, #fff); }

.facebook { @include buttons(#3b5998, #fff); }

.persona { @include buttons(#0096dd, #fff); }

.openid { @include buttons(#f78c40, #fff); }

.linked {
    border-radius: 0;

    &:not(:only-of-type):not(:last-of-type) { border-right: none; }

    &:first-of-type { border-radius: $roundness 0 0 $roundness; }

    &:last-of-type { border-radius: 0 $roundness $roundness 0; }

    &:only-of-type { border-radius: $roundness; }
}

.dim {
    @include fadein(.5s 1);

    display: block;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 40;
    background: rgba(0,0,0,.7);

    @media only screen and (max-width: 27em) { display: none; }
}

.modal {
    @include appear(.5s 1);
    @extend %nofilter;

    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 50;
    overflow: auto;
    background: $light-color;
    border-radius: $roundness;
    padding: 2em;

    @media only screen and (max-width: 27em) {
        top: 0;
        left: 0;
        margin-top: 0!important;
        margin-left: 0!important;
        width: 100%;
        height: 100%;
        padding: 1.2em;
        border-radius: 0;
    }
}

.alert-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 200;

    .alert-bar {
        @include slidedown;
        @extend %nofilter;

        margin: 1em;
        padding: 0;
        text-align: center;
        border-radius: $roundness;
        box-shadow: 0 0 5px 0 rgba(0,0,0,.15);

        .alert-content {
            display: inline-block;
            padding: 1em;

            a {
                font-weight: 700;
                border-bottom: 1px solid fade-out($light-color, .5);
                color: $light-color;

                &:focus, &:hover, &:active {
                    color: $light-color;
                    border-bottom-color: $light-color;
                }
            }
        }

        .alert-remove {
            font-size: 2em;
            float: right;
            padding: .5em .6em;
            cursor: pointer;
            color: $light-color;
            border-radius: 0 $roundness $roundness 0;
        }

        $types: info, success, warning, error;
        $colors: $info-color, $success-color, $warning-color, $error-color;

        @for $i from 1 through length($types) {
            $type: nth($types, $i);
            $color: nth($colors, $i);

            &.#{$type} {
                background-color: $color;
                color: $light-color;

                .alert-remove {
                    background-color: darken($color, 5%);

                    &:focus, &:hover, &:active { background-color: darken($color, 15%); }
                }
            }
        }
    }
}

.layer {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 80;
}

%popover-arrow {
    position: absolute;
    display: block;
    content: "";
    left: 50%;
    margin-left: -8px;
    height: 14px;
    width: 14px;
    background-color: $light-color;
    border-color: darken($light-color, 30%);
    border-style: solid;
    border-width: 1px 0 0 1px;
    z-index: 90;
}

.popover-body {
    position: absolute;
    display: block;
    margin: .5em;
    border-radius: $roundness;
    font-weight: normal;
    border: 1px solid darken($light-color, 20%);
    background-color: $light-color;
    color: $dark-color;
    box-shadow: 0 0 5px 0 rgba(0,0,0,.15);
    text-transform: none;
    z-index: 100;

    &.popover-top {
        @include slideup;
        @extend %nofilter;

        &:before {
            @include transform(rotate(225deg));
            @extend %popover-arrow;

            bottom: -8px;
        }
    }

    &.popover-bottom {
        @include slidedown;
        @extend %nofilter;

        &:before {
            @include transform(rotate(45deg));
            @extend %popover-arrow;

            top: -8px;
        }
    }

    &.arrow-left {
        &:before {
            left: 1em;
            right: auto;
        }
    }

    &.arrow-right {
        &:before {
            left: auto;
            right: 1em;
        }
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            @extend %ease;

            border-bottom: 1px solid darken($light-color, 10%);

            &:last-child { border-bottom: none; }

            a {
                display: block;
                color: $dark-color;
                padding: 1em 1.5em;
                font-weight: 700;

                &:hover, &:focus { color: darken($dark-color, 30%); }
            }
        }
    }
}

.switch {
    display: none;

    & ~ label {
        position: relative;
        cursor: pointer;

        &:before, &:after {
            @extend %ease;

            position: absolute;
            display: block;
            content: "";
            font-weight: 700;
            color: $light-color;
            border-radius: $roundness;
            background-color: darken($light-color, 30%);
        }

        &:before {
            top: 0;
            bottom: 0;
            left: 0;
            height: 2.2em;
            width: 4.9em;
            padding: .2em .5em;
            content: "OFF";
            line-height: 1.7em;
            text-align: right;
            box-shadow: inset 0 1px 0 rgba(0,0,0,.15);
        }

        &:after {
            height: 1.9em;
            width: 2.1em;
            top: .15em;
            bottom: .15em;
            left: .14em;
            background-color: $light-color;
        }
    }

    &:checked ~ label {
        &:before {
            content: "ON";
            text-align: left;
            background-color: $accent-color;
        }

        &:after { left: 2.66em; }
    }
}

%spinner {
    &:before {
        @include spin;

        content: "";
        display: inline-block;
        width: 1em;
        height: 1em;
        margin: 0 1em;
        border-top: 2px solid currentColor;
        border-right: 2px solid transparent;
        border-bottom: 2px solid currentColor;
        border-left: 2px solid transparent;
        border-radius: 50%;
    }
}

.fadeout {
    @include opacity(0);
    @extend %ease;
}

.grow {
    @include transform(scale(1.2, 1.2));;
    @include transition(.15s);
}

%ease { @include transition; }

/* browser specific styles */
::selection {
    background-color: $accent-color;
    color: $light-color;
}

::-moz-selection {
    background-color: $accent-color;
    color: $light-color;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-button { display: none; }

::-webkit-scrollbar-track { background-color: transparent; }

::-webkit-scrollbar-thumb {
    background-color: darken($light-color, 10%);

    &:vertical { min-height: 100px; }

    &:horizontal { min-width: 100px; }

    &:hover, &:focus { background-color: $accent-color; }

    &:active { background-color: darken($accent-color, 10%); }
}
